$color_1: black;
$background-color_1: #ffffff;

.popover {
	position: absolute;
	background-color: $background-color_1;
	border: 1px solid #cccccc;
	border-radius: 5px;
	padding: 10px 10px 0px 10px;
	width: 200px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
	z-index: 1;
	top: 30px;
	left: 100%;
	color: $color_1;
	gap: 5px;
	button {
		margin-top: -15px;
	}
}
.lead-popover-container {
	position: relative;
	display: inline-flex;
}
.popLead {
	position: absolute;
	background-color: $background-color_1;
	border: 1px solid #cccccc;
	border-radius: 5px;
	padding: 10px 10px 0px 10px;
	width: 200px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
	z-index: 1;
	top: -45px;
	left: 100%;
	color: $color_1;
}