$color_1: rgb(0, 0, 0);
$background-color_1: #fff;

.popover {
	position: absolute;
	top: 30px;
	left: 100%;
	z-index: 1;
	width: 200px;
	gap: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px 10px 0;
	background-color: $background-color_1;
	color: $color_1;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	
	button {
		margin-top: -15px;
	}
}

.lead-popover-container {
	position: relative;
	display: inline-flex;
}

.popLead {
	position: absolute;
	top: -45px;
	left: 100%;
	z-index: 1;
	width: 200px;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px 10px 0;
	background-color: $background-color_1;
	color: $color_1;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
