$color1: #7367F0;
$color2: rgb(0, 0, 0);
$color3: #28c76f;
$color4: rgba(64, 64, 64, 0.716);
$color5: rgba(60, 59, 59, 0.808);
$color6: rgba(16, 15, 15, 0.824);
$color7: #fff;
$fontfamily1: Public Sans, var(--default-font-family);
$backgroundcolor1: #7367F029;

:root {
	--default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei", "Source Han Sans CN", sans-serif;
}

.main-container {
	box-sizing: border-box;
	position: relative;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	gap: 1px;
	width: 768px;
	margin: 0 auto;
	border: 1px solid rgba(66, 64, 64, 0.171);
	border-radius: 5px;
	padding: 8px;
	
	* {
		box-sizing: border-box;
	}
}

input {
	cursor: pointer;
}

select {
	cursor: pointer;
}

textarea {
	cursor: pointer;
}

.attachFileSpan {
	&:hover {
		cursor: pointer;
	}

	left: 0%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	border: 1px solid rgb(138, 43, 226);
	border-radius: 5px;
	background-color: $backgroundcolor1;
	color: $color1;
	cursor: pointer;
}

.inputs {
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.buttonContainerInput {
	position: relative;
	display: flex;
	width: 150px;
	height: 45px;
	cursor: pointer;
}

.box {
	position: relative;
	display: flex;
	justify-content: space-around;
	flex-wrap: nowrap;
	flex-shrink: 0;
	align-items: center;
	width: 100%;
	height: 1rem;
}

.group {
	position: relative;
	z-index: 1;
	display: flex;
	flex-wrap: nowrap;
	flex-shrink: 0;
	align-items: center;
	width: 218px;
	border-radius: 6px;
}

.box-2 {
	position: relative;
	z-index: 2;
	display: flex;
	flex-wrap: nowrap;
	flex-shrink: 0;
	align-items: center;
	width: 165px;
	padding: 10px;
}

.section {
	position: relative;
	z-index: 4;
	display: flex;
	flex-wrap: nowrap;
	flex-shrink: 0;
	justify-content: flex-start;
	align-items: center;
	width: 250px;
	border-radius: 6px;
}

.text-2add {
	position: relative;
	z-index: 6;
	flex-shrink: 0;
	flex-basis: auto;
	height: 18px;
	color: $color2;
	font-family: $fontfamily1;
	font-size: 15px;
	font-weight: 500;
	line-height: 18px;
	letter-spacing: 0.43px;
	text-align: left;
	white-space: nowrap;
}

.section-2 {
	position: relative;
	z-index: 7;
	display: flex;
	flex-wrap: nowrap;
	flex-shrink: 0;
	align-items: center;
	width: 137px;
	border-radius: 6px;
}

.section-3 {
	position: relative;
	z-index: 8;
	display: flex;
	flex-wrap: nowrap;
	flex-shrink: 0;
	align-items: center;
	gap: 12px;
	width: 137px;
	padding: 10px 20px;
}

.group-2 {
	position: relative;
	z-index: 10;
	display: flex;
	align-items: flex-start;
	align-self: stretch;
	flex-wrap: nowrap;
	flex-shrink: 0;
	gap: 24px;
	padding: 0 24px 16px;
}

.wrapper-2 {
	overflow: hidden;
	position: relative;
	z-index: 12;
	display: flex;
	align-items: flex-start;
	flex-wrap: nowrap;
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 0;
	border: 1px solid #dbdade;
	border-radius: 6px;
	background: #fff;
}

.section-5 {
	overflow: hidden;
	position: relative;
	z-index: 13;
	display: flex;
	flex-wrap: nowrap;
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 0;
	align-items: center;
	border-radius: 6px;
	gap: 12px;
	padding: 7px 14px;
}

.img {
	position: relative;
	z-index: 15;
	flex-shrink: 0;
	width: 20px;
	height: 20px;
	background-size: 100% 100%;
}

.group-3 {
	position: relative;
	z-index: 16;
	display: flex;
	flex-wrap: nowrap;
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 0;
	align-items: flex-start;
	border-radius: 6px;
}

.wrapper-3 {
	overflow: hidden;
	position: relative;
	z-index: 17;
	display: flex;
	align-items: flex-start;
	flex-wrap: nowrap;
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 0;
	border: 1px solid #dbdade;
	border-radius: 6px;
	background: #fff;
}

.group-4 {
	overflow: hidden;
	position: relative;
	z-index: 18;
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 0;
	gap: 12px;
	border-radius: 6px;
	padding: 7px 14px;
}

.img-2 {
	position: relative;
	z-index: 20;
	flex-shrink: 0;
	width: 20px;
	height: 20px;
	background-size: 100% 100%;
}

.group-5 {
	position: relative;
	z-index: 21;
	display: flex;
	align-items: flex-start;
	flex-wrap: nowrap;
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 0;
	border-radius: 6px;
}

.wrapper-4 {
	overflow: hidden;
	position: relative;
	z-index: 22;
	display: flex;
	align-items: flex-start;
	flex-wrap: nowrap;
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 0;
	border: 1px solid #dbdade;
	border-radius: 6px;
	background: #fff;
}

.box-3 {
	overflow: hidden;
	position: relative;
	z-index: 23;
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 0;
	gap: 12px;
	border-radius: 6px;
	padding: 7px 14px;
}

.pic {
	position: relative;
	z-index: 25;
	flex-shrink: 0;
	width: 20px;
	height: 20px;
	background-size: 100% 100%;
}

.wrapper-5 {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	align-self: stretch;
	flex-wrap: nowrap;
	flex-shrink: 0;
	margin: -10px 0 0;
	border: rgb(104, 50, 158) px solid;
	padding: auto;
}

.wrapper-6 {
	position: relative;
	z-index: 27;
	display: flex;
	align-items: center;
	align-self: stretch;
	flex-wrap: nowrap;
	flex-shrink: 0;
	border-radius: 6px;
}

.img-3 {
	position: relative;
	flex-shrink: 0;
	z-index: 28;
	width: 20px;
	height: 20px;
	background: rgb(255, 0, 0);
	background-size: cover;
}

.group-6 {
	position: relative;
	z-index: 29;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex-wrap: nowrap;
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 0;
	width: 10%;
}

.box-4 {
	position: relative;
	z-index: 30;
	display: flex;
	align-items: flex-start;
	flex-wrap: nowrap;
	flex-shrink: 0;
	gap: 10px;
	width: 658px;
}

.wrapper-7 {
	position: relative;
	flex-shrink: 0;
	z-index: 31;
	width: 428px;
	font-family: $fontfamily1;
	font-size: 15px;
	font-weight: 600;
	line-height: 22px;
	text-align: left;
	text-overflow: initial;
	white-space: nowrap;
}

.section-6 {
	position: relative;
	z-index: 32;
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	flex-shrink: 0;
	gap: 10px;
	border-radius: 4px;
	padding: 5px 10px;
	background: rgba(40, 199, 111, 0.16);
}

.text-focused {
	position: relative;
	flex-shrink: 0;
	flex-basis: auto;
	z-index: 33;
	height: 14px;
	color: $color3;
	font-family: $fontfamily1;
	font-size: 13px;
	font-weight: 500;
	line-height: 14px;
	text-align: left;
	white-space: nowrap;
}

.text-address {
	position: relative;
	flex-shrink: 0;
	flex-basis: auto;
	align-self: stretch;
	z-index: 34;
	height: 20px;
	color: $color4;
	font-family: $fontfamily1;
	font-size: 13px;
	font-weight: 400;
	line-height: 20px;
	text-align: left;
	white-space: nowrap;
}

.wrapper-8 {
	position: relative;
	z-index: 35;
	display: flex;
	flex-wrap: nowrap;
	flex-shrink: 0;
	align-items: flex-start;
	width: 114px;
}

.wrapper-9 {
	position: relative;
	z-index: 36;
	display: flex;
	flex-wrap: nowrap;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;
	width: 38px;
	border-radius: 6px;
}

.section-7 {
	position: relative;
	z-index: 37;
	display: flex;
	flex-wrap: nowrap;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;
	width: 38px;
	padding: 8px;
}

.pic-2 {
	position: relative;
	flex-shrink: 0;
	z-index: 38;
	width: 22px;
	height: 22px;
	background-size: 100% 100%;
}

.group-7 {
	position: relative;
	z-index: 39;
	display: flex;
	flex-wrap: nowrap;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;
	width: 38px;
	border-radius: 6px;
}

.section-8 {
	position: relative;
	z-index: 40;
	display: flex;
	flex-wrap: nowrap;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;
	width: 38px;
	padding: 8px;
}

.img-4 {
	position: relative;
	flex-shrink: 0;
	z-index: 41;
	width: 22px;
	height: 22px;
	background-size: 100% 100%;
}

.wrapper-a {
	position: relative;
	z-index: 42;
	display: flex;
	flex-wrap: nowrap;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;
	width: 38px;
	border-radius: 6px;
}

.group-8 {
	position: relative;
	z-index: 43;
	display: flex;
	flex-wrap: nowrap;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;
	width: 38px;
	padding: 8px;
}

.img-5 {
	position: relative;
	flex-shrink: 0;
	z-index: 44;
	width: 22px;
	height: 22px;
	background-size: 100% 100%;
}

.img-6 {
	position: relative;
	flex-shrink: 0;
	align-self: stretch;
	z-index: 45;
	border: 1px solid #dbdade;
	background-size: cover;
}

.box-5 {
	position: relative;
	z-index: 46;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	flex-shrink: 0;
	align-items: center;
	align-self: stretch;
	border-radius: 6px;
}

.box-6 {
	position: relative;
	z-index: 47;
	display: flex;
	flex-wrap: nowrap;
	flex-shrink: 0;
	align-items: center;
	align-self: stretch;
	gap: 10px;
	margin-top: 15px;
	border-top: #28c76f 1px solid;
	padding: 10px 0;
}

.pic-3 {
	position: relative;
	z-index: 48;
	flex-shrink: 0;
	width: 20px;
	height: 20px;
	background: #008000;
	background-size: cover;
}

.wrapper-b {
	position: relative;
	z-index: 49;
	display: flex;
	flex-wrap: nowrap;
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 0;
	flex-direction: column;
	align-items: flex-start;
	gap: 2px;
}

.text-c {
	position: relative;
	flex-shrink: 0;
	flex-basis: auto;
	align-self: stretch;
	height: 22px;
	color: $color2;
	font-family: $fontfamily1;
	font-size: 15px;
	font-weight: 600;
	line-height: 22px;
	text-align: left;
	white-space: nowrap;
}

.text-d {
	position: relative;
	z-index: 51;
	flex-shrink: 0;
	flex-basis: auto;
	align-self: stretch;
	height: 20px;
	color: $color5;
	font-family: $fontfamily1;
	font-size: 13px;
	font-weight: 400;
	line-height: 20px;
	text-align: left;
	white-space: nowrap;
}

.section-9 {
	position: relative;
	z-index: 52;
	display: flex;
	flex-wrap: nowrap;
	flex-shrink: 0;
	align-items: flex-start;
	width: 114px;
}

.wrapper-c {
	position: relative;
	z-index: 53;
	display: flex;
	flex-wrap: nowrap;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;
	width: 38px;
	border-radius: 6px;
}

.group-9 {
	position: relative;
	z-index: 54;
	display: flex;
	flex-wrap: nowrap;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;
	width: 38px;
	padding: 8px;
}

.pic-4 {
	position: relative;
	flex-shrink: 0;
	z-index: 55;
	width: 22px;
	height: 22px;
	background-size: 100% 100%;
}

.group-a {
	position: relative;
	z-index: 56;
	display: flex;
	flex-wrap: nowrap;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;
	width: 38px;
	border-radius: 6px;
}

.group-b {
	position: relative;
	z-index: 57;
	display: flex;
	flex-wrap: nowrap;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;
	width: 38px;
	padding: 8px;
}

.img-7 {
	position: relative;
	flex-shrink: 0;
	z-index: 58;
	width: 22px;
	height: 22px;
	background: rgb(95, 158, 160);
	background-size: 100% 100%;
}

.box-7 {
	position: relative;
	z-index: 59;
	display: flex;
	flex-wrap: nowrap;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;
	width: 38px;
	border-radius: 6px;
}

.group-c {
	position: relative;
	z-index: 60;
	display: flex;
	flex-wrap: nowrap;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;
	width: 38px;
	padding: 8px;
}

.pic-5 {
	position: relative;
	z-index: 61;
	flex-shrink: 0;
	width: 22px;
	height: 22px;
	background-size: 100% 100%;
}

.group-d {
	position: relative;
	z-index: 62;
	display: flex;
	flex-wrap: nowrap;
	flex-shrink: 0;
	flex-direction: column;
	justify-content: center;
	align-self: stretch;
	align-items: flex-start;
}

.text-e {
	position: relative;
	z-index: 63;
	flex-shrink: 0;
	flex-basis: auto;
	align-self: stretch;
	height: 21px;
	color: $color2;
	font-family: $fontfamily1;
	font-size: 15px;
	font-weight: 500;
	line-height: 21px;
	text-align: left;
	white-space: nowrap;
}

.text-f {
	overflow: hidden;
	position: relative;
	z-index: 64;
	display: flex;
	flex-shrink: 0;
	justify-content: flex-start;
	align-items: flex-start;
	align-self: stretch;
	width: 670px;
	height: 44px;
	color: $color6;
	font-family: $fontfamily1;
	font-size: 15px;
	font-weight: 400;
	line-height: 22px;
	text-align: left;
	text-overflow: initial;
}

.card-heading {
	position: relative;
	z-index: 65;
	display: flex;
	flex-wrap: nowrap;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;
	align-self: stretch;
	padding: 4px;
}

.form {
	position: relative;
	z-index: 66;
	display: flex;
	flex-wrap: nowrap;
	flex-shrink: 0;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-self: stretch;
	gap: 12px;
	width: 80%;
	border: 1px dashed #6d697b;
	border-radius: 6px;
	padding: 40px 24px;
}

.container-image-upload {
	position: relative;
	z-index: 67;
	display: flex;
	flex-wrap: nowrap;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;
	gap: 10px;
	width: 38px;
	border-radius: 6px;
	padding: 2px;
	background: rgba(98, 95, 108, 0.153);
}

.image-upload {
	position: relative;
	z-index: 68;
	flex-shrink: 0;
	width: 28px;
	height: 28px;
	background: #cacaca00;
	background-size: 100% 100%;
}

.section-b {
	position: relative;
	z-index: 71;
	display: flex;
	flex-shrink: 0;
	flex-wrap: nowrap;
	align-items: center;
	width: 150px;
	border-radius: 6px;
	background: rgba(115, 103, 240, 0.16);
}

.section-c {
	position: relative;
	z-index: 72;
	display: flex;
	flex-wrap: nowrap;
	flex-shrink: 0;
	align-items: center;
	gap: 12px;
	width: 150px;
	padding: 10px 20px;
}

.img-8 {
	position: relative;
	z-index: 74;
	flex-shrink: 0;
	align-self: stretch;
	border: 1px solid #dbdade;
	background-size: cover;
}

.box-8 {
	position: relative;
	z-index: 75;
	display: flex;
	flex-wrap: nowrap;
	flex-shrink: 0;
	align-items: center;
	align-self: stretch;
	gap: 10px;
	border-radius: 6px;
	padding: 14px 0;
}

.group-10 {
	position: relative;
	z-index: 76;
	display: flex;
	flex-wrap: nowrap;
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 0;
	align-items: center;
	border-radius: 6px;
	padding: 10px;
	background: #fff;
	box-shadow: 0 2px 4px 0 rgba(165, 163, 174, 0.3);
}

.section-d {
	position: relative;
	z-index: 78;
	display: flex;
	flex-wrap: nowrap;
	flex-shrink: 0;
	align-items: center;
	gap: 12px;
	width: 154px;
}

.img-9 {
	position: relative;
	z-index: 79;
	flex-shrink: 0;
	width: 22px;
	height: 22px;
	background-size: 100% 100%;
}

.img-a {
	position: relative;
	z-index: 80;
	flex-shrink: 0;
	width: 22px;
	height: 22px;
	background: #0000CB;
	background-size: 100% 100%;
}

.wrapper-d {
	position: relative;
	z-index: 81;
	display: flex;
	flex-wrap: nowrap;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;
	width: 86px;
	border-radius: 6px;
	background: #7367f0;
	box-shadow: 0 2px 4px 0 rgba(165, 163, 174, 0.3);
}

.wrapper-e {
	position: relative;
	z-index: 82;
	display: flex;
	flex-wrap: nowrap;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;
	gap: 12px;
	width: 86px;
	padding: 10px 20px;
}

.text-14 {
	position: relative;
	z-index: 83;
	flex-shrink: 0;
	flex-basis: auto;
	height: 18px;
	color: $color7;
	font-family: $fontfamily1;
	font-size: 15px;
	font-weight: 500;
	line-height: 18px;
	letter-spacing: 0.43px;
	text-align: left;
	white-space: nowrap;
}