:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
  }
  
  /* .main-container {
    overflow: hidden;
  } */
  
   .main-container,
  .main-container * {
    box-sizing: border-box;
  } 
  
  input,
  select,
  textarea,
  button {
    outline: 2px;
  }
  
  /* .attachFileSpan{
    color:#2b6dad;
    cursor:pointer;
    } */
    .attachFileSpan:hover{
    /* text-decoration: underline; */
    cursor: pointer; 
    }
    
  .attachFileSpan {
    background-color:#7367F029;
    color: #7367F0;
    /* padding: 5px 10px; */
    border:1px solid blueviolet;
    border-radius: 5px;
    /* margin-right: 10px; */
    left: 0%;
    cursor: pointer; 
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .inputs {
    position:absolute;

    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer; 
}

  
.buttonContainerInput {
  position: relative;
  display: flex;
  /* background-color: #fcc; */
  cursor: pointer; 
  width: 150px;
  height: 45px;
}
  
  /* .blueButton::-webkit-file-upload-button {
    background-color: rgba(115, 103, 240, 1);
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    left: 0%;
    cursor: pointer; 
    align-items: center;
  } */


  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    gap: 1px;
    position: relative;
    width: 768px;
    margin: 0 auto;
    padding: 8px;
    /* background: #ba6565; */
    border: 1px solid rgba(66, 64, 64, 0.171);
    border-radius: 5px;
  }
  .box {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 100%;
    height: 1rem;
    /* background: #28c76f; */
    /* border: 1px solid red; */
    
    justify-content: space-around;
    
  }
  .group {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 218px;
    z-index: 1;
    border-radius: 6px;
    /* border: #2c1270 1px solid; */
  }
  .box-2 {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    /* gap: 12px; */
    position: relative;
    width: 165px;
    padding: 10px;
    z-index: 2;
    /* border: #2c1270 1px solid; */
  }
  /* .text {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 18px;
    color: rgba(255, 255, 255, 0.1);
    font-family: Public Sans, var(--default-font-family);
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: 0.43px;
    z-index: 3;
  } */
  .section {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 250px;
    z-index: 4;
    border-radius: 6px;
    justify-content: flex-start;
    
  }
  /* .wrapper {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 12px;
    position: relative;
    width: 97px;
    padding: 10px 20px 10px 20px;
    z-index: 5;
    border: #2c1270 1px solid;
  } */
  /* .text-2 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 18px;
    color: rgba(255, 255, 255, 0.1);
    font-family: Public Sans, var(--default-font-family);
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: 0.43px;
    z-index: 6;
  } */
  .section-2 {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 137px;
    z-index: 7;
    border-radius: 6px;
  }
  .section-3 {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 12px;
    position: relative;
    width: 137px;
    padding: 10px 20px 10px 20px;
    z-index: 8;
  }
  /* .text-3 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 18px;
    color: rgba(255, 255, 255, 0.1);
    font-family: Public Sans, var(--default-font-family);
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: 0.43px;
    z-index: 9;
  } */

  /* aqui são os accordions os 3  */
  .group-2 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 24px;
    position: relative;
    padding: 0 24px 16px 24px;
    z-index: 10;
  }
    /* aqui são os accordions os 3  */

    
  /* .section-4 {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    position: relative;
    z-index: 11;
    border-radius: 6px;
  } */

    /* aqui são os dados do accordion 1 */
  .wrapper-2 {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    position: relative;
    background: #ffffff;
    border: 1px solid #dbdade;
    z-index: 12;
    overflow: hidden;
    border-radius: 6px;
  }
  
  .section-5 {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    gap: 12px;
    position: relative;
    padding: 7px 14px 7px 14px;
    z-index: 13;
    overflow: hidden;
    border-radius: 6px;
  }
  /* aqui são os dados do accordion 1 */

  /* .text-4 {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 24px;
    color: rgba(255, 255, 255, 0.5);
    font-family: Public Sans, var(--default-font-family);
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 14;
  } */
  .img {
    flex-shrink: 0;
    position: relative;
    width: 20px;
    height: 20px;
    /* background: url(../assets/images/165f66e3-2b4c-4b13-800f-192908f2f23d.png)
      no-repeat center; */
    background-size: 100% 100%;
    z-index: 15;
  }

  .group-3 {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    position: relative;
    z-index: 16;
    border-radius: 6px;
  }
  
  /* aqui são os dados do accordion 2 */
  .wrapper-3 {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    position: relative;
    background: #ffffff;
    border: 1px solid #dbdade;
    z-index: 17;
    overflow: hidden;
    border-radius: 6px;
  }
  .group-4 {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    gap: 12px;
    position: relative;
    padding: 7px 14px 7px 14px;
    z-index: 18;
    overflow: hidden;
    border-radius: 6px;
  }
  /* aqui são os dados do accordion 2 */


  /* .text-5 {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 24px;
    color: rgba(255, 255, 255, 0.5);
    font-family: Public Sans, var(--default-font-family);
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 19;
  } */
  .img-2 {
    flex-shrink: 0;
    position: relative;
    width: 20px;
    height: 20px;
    /* background: url(../assets/images/b0dec821-8a78-4d9c-8d36-40a8375ce2fb.png)
      no-repeat center; */
    background-size: 100% 100%;
    z-index: 20;
  }
  .group-5 {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    position: relative;
    z-index: 21;
    border-radius: 6px;
  }
  
   /* aqui são os dados do accordion 3 */
  .wrapper-4 {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    position: relative;
    background: #ffffff;
    border: 1px solid #dbdade;
    z-index: 22;
    overflow: hidden;
    border-radius: 6px;
  }
  .box-3 {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    gap: 12px;
    position: relative;
    padding: 7px 14px 7px 14px;
    z-index: 23;
    overflow: hidden;
    border-radius: 6px;
  }
   /* aqui são os dados do accordion 3 */

  /* .text-6 {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 24px;
    color: rgba(255, 255, 255, 0.5);
    font-family: Public Sans, var(--default-font-family);
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 24;
  } */
  .pic {
    flex-shrink: 0;
    position: relative;
    width: 20px;
    height: 20px;
    /* background: url(../assets/images/be8122fc-950d-4f8c-a7a6-02bbb0d25ee9.png)
      no-repeat center; */
    background-size: 100% 100%;
    z-index: 25;
  }
  .wrapper-5 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    padding: auto;
    margin: -10px 0px 0px 0px;
    position: relative;
    /* z-index: 26; */
    border: rebeccapurple px solid;
  }
  .wrapper-6 {
    display: flex;
    align-items: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    /* gap: 10px; */
    position: relative;
    /* padding: 14px 0 14px 0; */
    z-index: 27;
    border-radius: 6px;
    /* border: #28c76f 1px solid; */
  }
  .img-3 {
    flex-shrink: 0;
    position: relative;
    width: 20px;
    height: 20px;
    background: red;
    background-size: cover;
    z-index: 28;
  }
  .group-6 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    /* gap: 2px; */
    position: relative;
    z-index: 29;
    /* border: #11177e 1px solid; */
    width: 10%;
  }
  .box-4 {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 658px;
    z-index: 30;
    /* border: #28c76f 1px solid; */
  }
  .wrapper-7 {
    flex-shrink: 0;
    position: relative;
    width: 428px;
    font-family: Public Sans, var(--default-font-family);
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
    text-overflow: initial;
    white-space: nowrap;
    z-index: 31;
    /* border: #28c76f 1px solid; */
  }
  /* .text-7 {
    position: relative;
    color: rgba(255, 255, 255, 0.1);
    font-family: Public Sans, var(--default-font-family);
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
  } */
  /* .text-8 {
    position: relative;
    color: rgba(255, 255, 255, 0.1);
    font-family: Public Sans, var(--default-font-family);
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
  } */
  /* .text-9 {
    position: relative;
    color: rgba(255, 255, 255, 0.1);
    font-family: Public Sans, var(--default-font-family);
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
  } */
  .section-6 {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    padding: 5px 10px 5px 10px;
    background: rgba(40, 199, 111, 0.16);
    z-index: 32;
    border-radius: 4px;

  }
  .text-focused {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 14px;
    color: #28c76f;
    font-family: Public Sans, var(--default-font-family);
    font-size: 13px;
    font-weight: 500;
    line-height: 14px;
    text-align: left;
    white-space: nowrap;
    z-index: 33;
  }
  .text-address {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 20px;
    color: rgba(64, 64, 64, 0.716);
    font-family: Public Sans, var(--default-font-family);
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    white-space: nowrap;
    z-index: 34;
  }
  .wrapper-8 {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 114px;
    z-index: 35;
    /* border: #c7b728 1px solid; */
  }
  .wrapper-9 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 38px;
    z-index: 36;
    border-radius: 6px;
    
  }
  .section-7 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 38px;
    padding: 8px 8px 8px 8px;
    z-index: 37;
    
  }
  .pic-2 {
    flex-shrink: 0;
    position: relative;
    width: 22px;
    height: 22px;
    /* background: black; */
    background-size: 100% 100%;
    z-index: 38;
  }
  .group-7 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 38px;
    z-index: 39;
    border-radius: 6px;
  }
  .section-8 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 38px;
    padding: 8px 8px 8px 8px;
    z-index: 40;
  }
  .img-4 {
    flex-shrink: 0;
    position: relative;
    width: 22px;
    height: 22px;
    /* background: #2c1270; */
    background-size: 100% 100%;
    z-index: 41;
  }
  .wrapper-a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 38px;
    z-index: 42;
    border-radius: 6px;
  }
  .group-8 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 38px;
    padding: 8px 8px 8px 8px;
    z-index: 43;
  }
  .img-5 {
    flex-shrink: 0;
    position: relative;
    width: 22px;
    height: 22px;
    /* background: #28c76f; */
    background-size: 100% 100%;
    z-index: 44;
  }
  .img-6 {
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    /* background: url(../assets/images/67d5d851-0da6-4e19-8bff-e753b6fa9d48.png)
      no-repeat center; */
    background-size: cover;
    border: 1px solid #dbdade;
    z-index: 45;
  }
  .box-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    z-index: 46;
    border-radius: 6px;
  }
  .box-6 {
    display: flex;
    align-items: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    padding: 10px 0 14px 0;
    z-index: 47;
    margin-top: 15px;
    border-top: #28c76f 1px solid;
  }
  .pic-3 {
    background: green;
    flex-shrink: 0;
    position: relative;
    width: 20px;
    height: 20px;
    background-size: cover;
    z-index: 48;
  }
  .wrapper-b {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    gap: 2px;
    position: relative;
    z-index: 49;
    /* border: #c7282b 1px solid; */
  }
  .text-c {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 22px;
    color: rgb(0, 0, 0);
    font-family: Public Sans, var(--default-font-family);
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
    white-space: nowrap;

  }
  .text-d {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 20px;
    color: rgba(60, 59, 59, 0.808);
    font-family: Public Sans, var(--default-font-family);
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    white-space: nowrap;
    z-index: 51;
  }
  .section-9 {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 114px;
    z-index: 52;
  }
  .wrapper-c {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 38px;
    z-index: 53;
    border-radius: 6px;
  }
  .group-9 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 38px;
    padding: 8px 8px 8px 8px;
    z-index: 54;
  }
  .pic-4 {
    flex-shrink: 0;
    position: relative;
    width: 22px;
    height: 22px;
    /* background: url(../assets/images/67ad9cfd-a959-4596-8281-95fa3ffe62a8.png)
      no-repeat center; */
    background-size: 100% 100%;
    z-index: 55;
  }
  .group-a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 38px;
    z-index: 56;
    border-radius: 6px;
  }
  .group-b {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 38px;
    padding: 8px 8px 8px 8px;
    z-index: 57;
  }
  .img-7 {
    flex-shrink: 0;
    position: relative;
    width: 22px;
    height: 22px;
    background: cadetblue;
    background-size: 100% 100%;
    z-index: 58;
  }
  .box-7 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 38px;
    z-index: 59;
    border-radius: 6px;
  }
  .group-c {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 38px;
    padding: 8px 8px 8px 8px;
    z-index: 60;
  }
  .pic-5 {
    flex-shrink: 0;
    position: relative;
    width: 22px;
    height: 22px;
    /* background: url(../assets/images/c34cfa38-4f0f-4e7a-82d1-63b933e5236d.png)
      no-repeat center; */
    background-size: 100% 100%;
    z-index: 61;
  }
  .group-d {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    /* gap: 6px; */
    position: relative;
    /* padding: 0 18px 16px 32px; */
    z-index: 62;
  }
  .text-e {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 21px;
    color: rgb(0, 0, 0);
    font-family: Public Sans, var(--default-font-family);
    font-size: 15px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
    white-space: nowrap;
    z-index: 63;
  }
  .text-f {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    width: 670px;
    height: 44px;
    color: rgba(16, 15, 15, 0.824);
    font-family: Public Sans, var(--default-font-family);
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    text-overflow: initial;
    z-index: 64;
    overflow: hidden;
  }

  .card-heading {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    padding: 4px ;
    z-index: 65;
    /* background-color: ; */
    justify-content: center;
    
  }
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 12px;
    position: relative;
    padding: 40px 24px 40px 24px;
    border: 1px dashed #6d697b;
    z-index: 66;
    border-radius: 6px;
    width: 80%;
  }
  .container-image-upload {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 38px;
    padding: 2px ;
    background: rgba(98, 95, 108, 0.153);
    z-index: 67;
    border-radius: 6px;
  }
  .image-upload{
    flex-shrink: 0;
    position: relative;
    width: 28px;
    height: 28px;
    background: #cacaca00;
    background-size: 100% 100%;
    z-index: 68;
  }
  /* .text-10 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 24px;
    color: rgba(255, 255, 255, 0.1);
    font-family: Public Sans, var(--default-font-family);
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 69;
  }
  .text-11 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 22px;
    color: rgba(255, 255, 255, 0.5);
    font-family: Public Sans, var(--default-font-family);
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    white-space: nowrap;
    z-index: 70;
  } */
  .section-b {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 150px;
    background: rgba(115, 103, 240, 0.16);
    z-index: 71;
    border-radius: 6px;
  }
  .section-c {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 12px;
    position: relative;
    width: 150px;
    padding: 10px 20px 10px 20px;
    z-index: 72;
  }
  /* .text-12 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 18px;
    color: #7367f0;
    font-family: Public Sans, var(--default-font-family);
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: 0.43px;
    z-index: 73;
  } */
  .img-8 {
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    /* background: url(../assets/images/0918a628-27ff-4532-93c6-93c2ebe9c31e.png)
      no-repeat center; */
    background-size: cover;
    border: 1px solid #dbdade;
    z-index: 74;
  }
  .box-8 {
    display: flex;
    align-items: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    padding: 14px 0 14px 0;
    z-index: 75;
    border-radius: 6px;
  }
  .group-10 {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    position: relative;
    padding: 10px 10px 10px 20px;
    background: #ffffff;
    z-index: 76;
    border-radius: 6px;
    box-shadow: 0 2px 4px 0 rgba(165, 163, 174, 0.3);
  }
  /* .text-13 {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 22px;
    color: rgba(255, 255, 255, 0.5);
    font-family: Public Sans, var(--default-font-family);
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    white-space: nowrap;
    z-index: 77;
  } */
  .section-d {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 12px;
    position: relative;
    width: 154px;
    z-index: 78;
  }
  .img-9 {
    flex-shrink: 0;
    position: relative;
    width: 22px;
    height: 22px;
    /* background: url(../assets/images/581ee551-a4a8-4bf1-a847-b580623c10dd.png)
      no-repeat center; */
    background-size: 100% 100%;
    z-index: 79;
  }
  .img-a {
    flex-shrink: 0;
    position: relative;
    width: 22px;
    height: 22px;
    background: blue;
    background-size: 100% 100%;
    z-index: 80;
  }
  .wrapper-d {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 86px;
    background: #7367f0;
    z-index: 81;
    border-radius: 6px;
    box-shadow: 0 2px 4px 0 rgba(165, 163, 174, 0.3);
  }
  .wrapper-e {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 12px;
    position: relative;
    width: 86px;
    padding: 10px 20px 10px 20px;
    z-index: 82;
  }
  .text-14 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 18px;
    color: #ffffff;
    font-family: Public Sans, var(--default-font-family);
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: 0.43px;
    z-index: 83;
  }
  