$color_1: #7367F0;
$color_2: rgb(0, 0, 0);
$color_3: #28c76f;
$color_4: rgba(64, 64, 64, 0.716);
$color_5: rgba(60, 59, 59, 0.808);
$color_6: rgba(16, 15, 15, 0.824);
$color_7: #ffffff;
$font-family_1: Public Sans, var(--default-font-family);
$background-color_1: #7367F029;

:root {
	--default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei", "Source Han Sans CN", sans-serif;
}
.main-container {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: nowrap;
	gap: 1px;
	position: relative;
	width: 768px;
	margin: 0 auto;
	padding: 8px;
	border: 1px solid rgba(66, 64, 64, 0.171);
	border-radius: 5px;
	* {
		box-sizing: border-box;
	}
}
input {
	cursor: pointer;
}
select {
	cursor: pointer;
}
textarea {
	cursor: pointer;
}
.attachFileSpan {
	&:hover {
		cursor: pointer;
	}
	background-color: $background-color_1;
	color: $color_1;
	border: 1px solid blueviolet;
	border-radius: 5px;
	left: 0%;
	cursor: pointer;
	align-items: center;
	width: 100%;
	display: flex;
	justify-content: center;
}
.inputs {
	position: absolute;
	height: 100%;
	width: 100%;
	opacity: 0;
	cursor: pointer;
}
.buttonContainerInput {
	position: relative;
	display: flex;
	cursor: pointer;
	width: 150px;
	height: 45px;
}
.box {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	flex-shrink: 0;
	position: relative;
	width: 100%;
	height: 1rem;
	justify-content: space-around;
}
.group {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	flex-shrink: 0;
	position: relative;
	width: 218px;
	z-index: 1;
	border-radius: 6px;
}
.box-2 {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	flex-shrink: 0;
	position: relative;
	width: 165px;
	padding: 10px;
	z-index: 2;
}
.section {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	flex-shrink: 0;
	position: relative;
	width: 250px;
	z-index: 4;
	border-radius: 6px;
	justify-content: flex-start;
}
.text-2add {
	flex-shrink: 0;
	flex-basis: auto;
	position: relative;
	height: 18px;
	color: $color_2;
	font-family: $font-family_1;
	font-size: 15px;
	font-weight: 500;
	line-height: 18px;
	text-align: left;
	white-space: nowrap;
	letter-spacing: 0.43px;
	z-index: 6;
}
.section-2 {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	flex-shrink: 0;
	position: relative;
	width: 137px;
	z-index: 7;
	border-radius: 6px;
}
.section-3 {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	flex-shrink: 0;
	gap: 12px;
	position: relative;
	width: 137px;
	padding: 10px 20px 10px 20px;
	z-index: 8;
}
.group-2 {
	display: flex;
	align-items: flex-start;
	align-self: stretch;
	flex-wrap: nowrap;
	flex-shrink: 0;
	gap: 24px;
	position: relative;
	padding: 0 24px 16px 24px;
	z-index: 10;
}
.wrapper-2 {
	display: flex;
	align-items: flex-start;
	flex-wrap: nowrap;
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 0;
	position: relative;
	background: #ffffff;
	border: 1px solid #dbdade;
	z-index: 12;
	overflow: hidden;
	border-radius: 6px;
}
.section-5 {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 0;
	gap: 12px;
	position: relative;
	padding: 7px 14px 7px 14px;
	z-index: 13;
	overflow: hidden;
	border-radius: 6px;
}
.img {
	flex-shrink: 0;
	position: relative;
	width: 20px;
	height: 20px;
	background-size: 100% 100%;
	z-index: 15;
}
.group-3 {
	display: flex;
	align-items: flex-start;
	flex-wrap: nowrap;
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 0;
	position: relative;
	z-index: 16;
	border-radius: 6px;
}
.wrapper-3 {
	display: flex;
	align-items: flex-start;
	flex-wrap: nowrap;
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 0;
	position: relative;
	background: #ffffff;
	border: 1px solid #dbdade;
	z-index: 17;
	overflow: hidden;
	border-radius: 6px;
}
.group-4 {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 0;
	gap: 12px;
	position: relative;
	padding: 7px 14px 7px 14px;
	z-index: 18;
	overflow: hidden;
	border-radius: 6px;
}
.img-2 {
	flex-shrink: 0;
	position: relative;
	width: 20px;
	height: 20px;
	background-size: 100% 100%;
	z-index: 20;
}
.group-5 {
	display: flex;
	align-items: flex-start;
	flex-wrap: nowrap;
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 0;
	position: relative;
	z-index: 21;
	border-radius: 6px;
}
.wrapper-4 {
	display: flex;
	align-items: flex-start;
	flex-wrap: nowrap;
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 0;
	position: relative;
	background: #ffffff;
	border: 1px solid #dbdade;
	z-index: 22;
	overflow: hidden;
	border-radius: 6px;
}
.box-3 {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 0;
	gap: 12px;
	position: relative;
	padding: 7px 14px 7px 14px;
	z-index: 23;
	overflow: hidden;
	border-radius: 6px;
}
.pic {
	flex-shrink: 0;
	position: relative;
	width: 20px;
	height: 20px;
	background-size: 100% 100%;
	z-index: 25;
}
.wrapper-5 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	align-self: stretch;
	flex-wrap: nowrap;
	flex-shrink: 0;
	padding: auto;
	margin: -10px 0px 0px 0px;
	position: relative;
	border: rebeccapurple px solid;
}
.wrapper-6 {
	display: flex;
	align-items: center;
	align-self: stretch;
	flex-wrap: nowrap;
	flex-shrink: 0;
	position: relative;
	z-index: 27;
	border-radius: 6px;
}
.img-3 {
	flex-shrink: 0;
	position: relative;
	width: 20px;
	height: 20px;
	background: red;
	background-size: cover;
	z-index: 28;
}
.group-6 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex-wrap: nowrap;
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 0;
	position: relative;
	z-index: 29;
	width: 10%;
}
.box-4 {
	display: flex;
	align-items: flex-start;
	flex-wrap: nowrap;
	flex-shrink: 0;
	gap: 10px;
	position: relative;
	width: 658px;
	z-index: 30;
}
.wrapper-7 {
	flex-shrink: 0;
	position: relative;
	width: 428px;
	font-family: $font-family_1;
	font-size: 15px;
	font-weight: 600;
	line-height: 22px;
	text-align: left;
	text-overflow: initial;
	white-space: nowrap;
	z-index: 31;
}
.section-6 {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	flex-shrink: 0;
	gap: 10px;
	position: relative;
	padding: 5px 10px 5px 10px;
	background: rgba(40, 199, 111, 0.16);
	z-index: 32;
	border-radius: 4px;
}
.text-focused {
	flex-shrink: 0;
	flex-basis: auto;
	position: relative;
	height: 14px;
	color: $color_3;
	font-family: $font-family_1;
	font-size: 13px;
	font-weight: 500;
	line-height: 14px;
	text-align: left;
	white-space: nowrap;
	z-index: 33;
}
.text-address {
	align-self: stretch;
	flex-shrink: 0;
	flex-basis: auto;
	position: relative;
	height: 20px;
	color: $color_4;
	font-family: $font-family_1;
	font-size: 13px;
	font-weight: 400;
	line-height: 20px;
	text-align: left;
	white-space: nowrap;
	z-index: 34;
}
.wrapper-8 {
	display: flex;
	align-items: flex-start;
	flex-wrap: nowrap;
	flex-shrink: 0;
	position: relative;
	width: 114px;
	z-index: 35;
}
.wrapper-9 {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
	flex-shrink: 0;
	position: relative;
	width: 38px;
	z-index: 36;
	border-radius: 6px;
}
.section-7 {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
	flex-shrink: 0;
	position: relative;
	width: 38px;
	padding: 8px 8px 8px 8px;
	z-index: 37;
}
.pic-2 {
	flex-shrink: 0;
	position: relative;
	width: 22px;
	height: 22px;
	background-size: 100% 100%;
	z-index: 38;
}
.group-7 {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
	flex-shrink: 0;
	position: relative;
	width: 38px;
	z-index: 39;
	border-radius: 6px;
}
.section-8 {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
	flex-shrink: 0;
	position: relative;
	width: 38px;
	padding: 8px 8px 8px 8px;
	z-index: 40;
}
.img-4 {
	flex-shrink: 0;
	position: relative;
	width: 22px;
	height: 22px;
	background-size: 100% 100%;
	z-index: 41;
}
.wrapper-a {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
	flex-shrink: 0;
	position: relative;
	width: 38px;
	z-index: 42;
	border-radius: 6px;
}
.group-8 {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
	flex-shrink: 0;
	position: relative;
	width: 38px;
	padding: 8px 8px 8px 8px;
	z-index: 43;
}
.img-5 {
	flex-shrink: 0;
	position: relative;
	width: 22px;
	height: 22px;
	background-size: 100% 100%;
	z-index: 44;
}
.img-6 {
	align-self: stretch;
	flex-shrink: 0;
	position: relative;
	background-size: cover;
	border: 1px solid #dbdade;
	z-index: 45;
}
.box-5 {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: stretch;
	flex-wrap: nowrap;
	flex-shrink: 0;
	position: relative;
	z-index: 46;
	border-radius: 6px;
}
.box-6 {
	display: flex;
	align-items: center;
	align-self: stretch;
	flex-wrap: nowrap;
	flex-shrink: 0;
	gap: 10px;
	position: relative;
	padding: 10px 0 14px 0;
	z-index: 47;
	margin-top: 15px;
	border-top: #28c76f 1px solid;
}
.pic-3 {
	background: green;
	flex-shrink: 0;
	position: relative;
	width: 20px;
	height: 20px;
	background-size: cover;
	z-index: 48;
}
.wrapper-b {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex-wrap: nowrap;
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 0;
	gap: 2px;
	position: relative;
	z-index: 49;
}
.text-c {
	align-self: stretch;
	flex-shrink: 0;
	flex-basis: auto;
	position: relative;
	height: 22px;
	color: $color_2;
	font-family: $font-family_1;
	font-size: 15px;
	font-weight: 600;
	line-height: 22px;
	text-align: left;
	white-space: nowrap;
}
.text-d {
	align-self: stretch;
	flex-shrink: 0;
	flex-basis: auto;
	position: relative;
	height: 20px;
	color: $color_5;
	font-family: $font-family_1;
	font-size: 13px;
	font-weight: 400;
	line-height: 20px;
	text-align: left;
	white-space: nowrap;
	z-index: 51;
}
.section-9 {
	display: flex;
	align-items: flex-start;
	flex-wrap: nowrap;
	flex-shrink: 0;
	position: relative;
	width: 114px;
	z-index: 52;
}
.wrapper-c {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
	flex-shrink: 0;
	position: relative;
	width: 38px;
	z-index: 53;
	border-radius: 6px;
}
.group-9 {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
	flex-shrink: 0;
	position: relative;
	width: 38px;
	padding: 8px 8px 8px 8px;
	z-index: 54;
}
.pic-4 {
	flex-shrink: 0;
	position: relative;
	width: 22px;
	height: 22px;
	background-size: 100% 100%;
	z-index: 55;
}
.group-a {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
	flex-shrink: 0;
	position: relative;
	width: 38px;
	z-index: 56;
	border-radius: 6px;
}
.group-b {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
	flex-shrink: 0;
	position: relative;
	width: 38px;
	padding: 8px 8px 8px 8px;
	z-index: 57;
}
.img-7 {
	flex-shrink: 0;
	position: relative;
	width: 22px;
	height: 22px;
	background: cadetblue;
	background-size: 100% 100%;
	z-index: 58;
}
.box-7 {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
	flex-shrink: 0;
	position: relative;
	width: 38px;
	z-index: 59;
	border-radius: 6px;
}
.group-c {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
	flex-shrink: 0;
	position: relative;
	width: 38px;
	padding: 8px 8px 8px 8px;
	z-index: 60;
}
.pic-5 {
	flex-shrink: 0;
	position: relative;
	width: 22px;
	height: 22px;
	background-size: 100% 100%;
	z-index: 61;
}
.group-d {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	align-self: stretch;
	flex-wrap: nowrap;
	flex-shrink: 0;
	position: relative;
	z-index: 62;
}
.text-e {
	align-self: stretch;
	flex-shrink: 0;
	flex-basis: auto;
	position: relative;
	height: 21px;
	color: $color_2;
	font-family: $font-family_1;
	font-size: 15px;
	font-weight: 500;
	line-height: 21px;
	text-align: left;
	white-space: nowrap;
	z-index: 63;
}
.text-f {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	align-self: stretch;
	flex-shrink: 0;
	position: relative;
	width: 670px;
	height: 44px;
	color: $color_6;
	font-family: $font-family_1;
	font-size: 15px;
	font-weight: 400;
	line-height: 22px;
	text-align: left;
	text-overflow: initial;
	z-index: 64;
	overflow: hidden;
}
.card-heading {
	display: flex;
	align-items: center;
	align-self: stretch;
	flex-wrap: nowrap;
	flex-shrink: 0;
	position: relative;
	padding: 4px;
	z-index: 65;
	justify-content: center;
}
.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-self: stretch;
	flex-wrap: nowrap;
	flex-shrink: 0;
	gap: 12px;
	position: relative;
	padding: 40px 24px 40px 24px;
	border: 1px dashed #6d697b;
	z-index: 66;
	border-radius: 6px;
	width: 80%;
}
.container-image-upload {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
	flex-shrink: 0;
	gap: 10px;
	position: relative;
	width: 38px;
	padding: 2px;
	background: rgba(98, 95, 108, 0.153);
	z-index: 67;
	border-radius: 6px;
}
.image-upload {
	flex-shrink: 0;
	position: relative;
	width: 28px;
	height: 28px;
	background: #cacaca00;
	background-size: 100% 100%;
	z-index: 68;
}
.section-b {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	flex-shrink: 0;
	position: relative;
	width: 150px;
	background: rgba(115, 103, 240, 0.16);
	z-index: 71;
	border-radius: 6px;
}
.section-c {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	flex-shrink: 0;
	gap: 12px;
	position: relative;
	width: 150px;
	padding: 10px 20px 10px 20px;
	z-index: 72;
}
.img-8 {
	align-self: stretch;
	flex-shrink: 0;
	position: relative;
	background-size: cover;
	border: 1px solid #dbdade;
	z-index: 74;
}
.box-8 {
	display: flex;
	align-items: center;
	align-self: stretch;
	flex-wrap: nowrap;
	flex-shrink: 0;
	gap: 10px;
	position: relative;
	padding: 14px 0 14px 0;
	z-index: 75;
	border-radius: 6px;
}
.group-10 {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 0;
	position: relative;
	padding: 10px 10px 10px 20px;
	background: #ffffff;
	z-index: 76;
	border-radius: 6px;
	box-shadow: 0 2px 4px 0 rgba(165, 163, 174, 0.3);
}
.section-d {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	flex-shrink: 0;
	gap: 12px;
	position: relative;
	width: 154px;
	z-index: 78;
}
.img-9 {
	flex-shrink: 0;
	position: relative;
	width: 22px;
	height: 22px;
	background-size: 100% 100%;
	z-index: 79;
}
.img-a {
	flex-shrink: 0;
	position: relative;
	width: 22px;
	height: 22px;
	background: blue;
	background-size: 100% 100%;
	z-index: 80;
}
.wrapper-d {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
	flex-shrink: 0;
	position: relative;
	width: 86px;
	background: #7367f0;
	z-index: 81;
	border-radius: 6px;
	box-shadow: 0 2px 4px 0 rgba(165, 163, 174, 0.3);
}
.wrapper-e {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
	flex-shrink: 0;
	gap: 12px;
	position: relative;
	width: 86px;
	padding: 10px 20px 10px 20px;
	z-index: 82;
}
.text-14 {
	flex-shrink: 0;
	flex-basis: auto;
	position: relative;
	height: 18px;
	color: $color_7;
	font-family: $font-family_1;
	font-size: 15px;
	font-weight: 500;
	line-height: 18px;
	text-align: left;
	white-space: nowrap;
	letter-spacing: 0.43px;
	z-index: 83;
}