$color_1: #fff;

.sidebar-badge {
	content: attr(data-count);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	width: 24px;
	height: 14px;
	border-radius: 14px;
	padding: 3px 8px;
	background: #ea5455;
	color: $color_1;
	font-size: 0.9rem;
}