.avatar {
    border-radius: 100px;
    overflow: hidden;
  }
  
  .avatar .overlap-group {
    position: relative;
  }
  
  .avatar .background {
    left: 0;
    position: absolute;
    top: 0;
  }
  
  .avatar .overlay {
    background-color: #ffffff4c;
    border-radius: 100px;
    position: relative;
  }
  
  .avatar .img {
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
  }
  
  .avatar.thirty-eight {
    height: 38px;
    width: 38px;
  }
  
  .avatar.sixty-four {
    height: 64px;
    width: 64px;
  }
  
  .avatar.thirty-two {
    height: 32px;
    width: 32px;
  }
  
  .avatar.seventy-two {
    height: 72px;
    width: 72px;
  }
  
  .avatar.forty-eight {
    height: 48px;
    width: 48px;
  }
  
  .avatar.twenty-six {
    height: 26px;
    width: 26px;
  }
  
  .avatar.thirty-eight .overlap-group {
    height: 38px;
  }
  
  .avatar.sixty-four .overlap-group {
    height: 64px;
  }
  
  .avatar.thirty-two .overlap-group {
    height: 32px;
  }
  
  .avatar.seventy-two .overlap-group {
    height: 72px;
  }
  
  .avatar.forty-eight .overlap-group {
    height: 48px;
  }
  
  .avatar.twenty-six .overlap-group {
    height: 26px;
  }
  
  .avatar.thirty-eight .background {
    background-color: var(--lightsolid-colordangerdanger-400);
    height: 38px;
    width: 38px;
  }
  
  .avatar.sixty-four .background {
    background-color: var(--lightsolid-colorwarningwarning-400);
    height: 64px;
    width: 64px;
  }
  
  .avatar.thirty-two .background {
    background-color: var(--lightsolid-colorinfoinfo-400);
    height: 32px;
    width: 32px;
  }
  
  .avatar.seventy-two .background {
    background-color: var(--lightsolid-colorprimaryprimary-400);
    height: 72px;
    width: 72px;
  }
  
  .avatar.forty-eight .background {
    background-color: var(--lightsolid-colorsuccesssuccess-400);
    height: 48px;
    width: 48px;
  }
  
  .avatar.twenty-six .background {
    background-color: var(--lightsolid-colorsecondarysecondary-400);
    height: 26px;
    width: 26px;
  }
  
  .avatar.thirty-eight .overlay {
    height: 31px;
    left: 4px;
    top: 4px;
    width: 31px;
  }
  
  .avatar.sixty-four .overlay {
    height: 52px;
    left: 6px;
    top: 6px;
    width: 52px;
  }
  
  .avatar.thirty-two .overlay {
    height: 26px;
    left: 3px;
    top: 3px;
    width: 26px;
  }
  
  .avatar.seventy-two .overlay {
    height: 58px;
    left: 7px;
    top: 7px;
    width: 58px;
  }
  
  .avatar.forty-eight .overlay {
    height: 39px;
    left: 5px;
    top: 5px;
    width: 39px;
  }
  
  .avatar.twenty-six .overlay {
    height: 21px;
    left: 3px;
    top: 3px;
    width: 21px;
  }
  
  .avatar.thirty-eight .img {
    height: 38px;
    width: 38px;
  }
  
  .avatar.sixty-four .img {
    height: 64px;
    width: 64px;
  }
  
  .avatar.thirty-two .img {
    height: 32px;
    width: 32px;
  }
  
  .avatar.seventy-two .img {
    height: 72px;
    width: 72px;
  }
  
  .avatar.forty-eight .img {
    height: 48px;
    width: 48px;
  }
  
  .avatar.twenty-six .img {
    height: 26px;
    width: 26px;
  }
  