$backgroundcolor1: #ffffff4c;
$backgroundcolor2: var(--lightsolid-colordangerdanger-400);
$backgroundcolor3: var(--lightsolid-colorwarningwarning-400);
$backgroundcolor4: var(--lightsolid-colorinfoinfo-400);
$backgroundcolor5: var(--lightsolid-colorprimaryprimary-400);
$backgroundcolor6: var(--lightsolid-colorsuccesssuccess-400);
$backgroundcolor7: var(--lightsolid-colorsecondarysecondary-400);

.avatar {
	overflow: hidden;
	border-radius: 100px;

	.overlap-group {
		position: relative;
	}

	.background {
		position: absolute;
		top: 0;
		left: 0;
	}

	.overlay {
		position: relative;
		border-radius: 100px;
		background-color: $backgroundcolor1;
	}
	
	.img {
		position: absolute;
		top: 0;
		left: 0;
		object-fit: cover;
	}

}

.avatar.thirty-eight {
	width: 38px;
	height: 38px;
	
	.overlap-group {
		height: 38px;
	}
	
	.background {
		width: 38px;
		height: 38px;
		background-color: $backgroundcolor2;
	}
	
	.overlay {
		top: 4px;
		left: 4px;
		width: 31px;
		height: 31px;
	}
	
	.img {
		width: 38px;
		height: 38px;
	}

}

.avatar.sixty-four {
	width: 64px;
	height: 64px;
	
	.overlap-group {
		height: 64px;
	}
	
	.background {
		width: 64px;
		height: 64px;
		background-color: $backgroundcolor3;
	}
	
	
	.overlay {
		top: 6px;
		left: 6px;
		width: 52px;
		height: 52px;
	}
	
	.img {
		width: 64px;
		height: 64px;
	}

}

.avatar.thirty-two {

	width: 32px;
	height: 32px;
	
	
	.overlap-group {
		height: 32px;
	}

	.background {
		width: 32px;
		height: 32px;
		background-color: $backgroundcolor4;
	}
	
	.overlay {
		top: 3px;
		left: 3px;
		width: 26px;
		height: 26px;
	}

	.img {
		width: 32px;
		height: 32px;
	}

}

.avatar.seventy-two {
	width: 72px;
	height: 72px;
	
	.overlap-group {
		height: 72px;
	}
	
	.background {
		width: 72px;
		height: 72px;
		background-color: $backgroundcolor5;
	}
	
	.overlay {
		top: 7px;
		left: 7px;
		width: 58px;
		height: 58px;
	}
	
	.img {
		width: 72px;
		height: 72px;
	}

}

.avatar.forty-eight {
	width: 48px;
	height: 48px;
	
	.overlap-group {
		height: 48px;
	}
	
	.background {
		width: 48px;
		height: 48px;
		background-color: $backgroundcolor6;
	}

	.overlay {
		top: 5px;
		left: 5px;
		width: 39px;
		height: 39px;
	}
	
	.img {
		width: 48px;
		height: 48px;
	}

}

.avatar.twenty-six {
	width: 26px;
	height: 26px;
	
	.overlap-group {
		height: 26px;
	}
	
	.background {
		width: 26px;
		height: 26px;
		background-color: $backgroundcolor7;
	}
	
	.overlay {
		top: 3px;
		left: 3px;
		width: 21px;
		height: 21px;
	}

	.img {
		width: 26px;
		height: 26px;
	}

}