$color_1: #4b465cba;
$color_2: #1200d4;
$color_3: black;
$color_4: #403e47d1;
$color_5: var(--lighttypography-colormuted-text);
$color_6: #f7f7f7;
$color_7: var(--lightsolid-colorextrawhite);
$color_8: var(--lighttypography-colorbody-text);
$color_9: #4b465cc5;
$color_10: rgb(0, 0, 0);
$color_11: white;
$font-family_1: "Public Sans", Helvetica;
$font-family_2: var(--light-basic-typography-paragraph-font-family);
$font-family_3: var(--light-basic-typography-paragraph-small-font-family);
$font-family_4: Public Sans;
$font-family_5: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$background-color_1: #ffffff;
$background-color_2: #ffffffc2;
$background-color_3: #c4c2c2;
$background-color_4: rgb(202, 201, 201);
$background-color_5: #f5f5f5;
$background-color_6: #fefefe;
$background-color_7: #4285f4;
$background-color_8: var(--lightsolid-colorprimaryprimary-500-base);
$background-color_9: var(--lightsolid-colorwarningwarning-400);
$background-color_10: var(--lightsolid-colorextracard-background);
$background-color_11: #7367F0;

.containerchat {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-left: 0%;
	gap: 20px;
	border: 1px rgba(54, 54, 54, 0.098) solid;
	height: 650px;
	width: 100% !important;
	overflow: hidden;
}
.chat {
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
	padding: 0px 5px 1px 5px;
	position: relative;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	.user {
		align-items: flex-start;
		align-self: stretch;
		display: flex;
		flex: 0 0 auto;
		gap: 12px;
		position: relative;
		width: 100%;
	}
	.message {
		display: block;
		flex-direction: column;
		gap: 4px;
		align-items: flex-start;
		justify-content: center;
		width: fit-content;
		word-wrap: break-word;
		background-color: $background-color_6;
		color: $color_4;
		border-radius: 6px;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.27);
		padding: 10px 16px;
		margin: 4px 0;
		margin-left: 40px;
		p {
			margin: 0;
		}
	}
	.text {
		p {
			margin: 0;
		}
		background-color: $background-color_7;
		border-radius: 6px;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.686);
		display: block;
		flex-direction: column;
		gap: 14px;
		width: fit-content;
		word-wrap: break-word;
		color: $color_6;
		padding: 10px 16px;
		margin: 4px 0;
		margin-left: auto;
		margin-right: 40px;
		font-size: 15px;
	}
	.div {
		flex: 0 0 auto;
		position: relative;
	}
	.text-wrapper {
		color: $color_5;
		font-family: $font-family_1;
		font-size: 15px;
		font-weight: 400;
		letter-spacing: 0;
		line-height: 20px;
		position: relative;
		text-align: right;
		white-space: nowrap;
		width: fit-content;
	}
	.admin {
		align-items: flex-start;
		display: flex;
		flex: 0 0 auto;
		gap: 12px;
		justify-content: flex-end;
		position: relative;
		width: 80%;
	}
	.message-2 {
		align-items: flex-end;
		display: inline-flex;
		flex: 0 0 auto;
		flex-direction: column;
		gap: 4px;
		position: relative;
	}
	.p {
		color: $color_7;
		font-family: $font-family_2;
		font-size: var(--light-basic-typography-paragraph-font-size);
		font-style: var(--light-basic-typography-paragraph-font-style);
		font-weight: var(--light-basic-typography-paragraph-font-weight);
		letter-spacing: var(--light-basic-typography-paragraph-letter-spacing);
		line-height: var(--light-basic-typography-paragraph-line-height);
		margin-top: -1px;
		position: relative;
		text-align: right;
		white-space: nowrap;
		width: fit-content;
	}
	.time {
		align-items: center;
		display: inline-flex;
		flex: 0 0 auto;
		gap: 6px;
		position: relative;
	}
	.checks {
		height: 18px;
		position: relative;
		width: 18px;
	}
	.path {
		height: 18px;
		left: -2768px;
		position: absolute;
		top: -9807px;
		width: 18px;
	}
	.overlap-group-2 {
		height: 9px;
		left: 1px;
		position: absolute;
		top: 4px;
		width: 16px;
	}
	.path-2 {
		height: 9px;
		left: 4px;
		position: absolute;
		top: 0;
		width: 13px;
	}
	.shape {
		height: 9px;
		left: 0;
		position: absolute;
		top: 0;
		width: 13px;
	}
	.text-wrapper-2 {
		color: $color_5;
		font-family: $font-family_3;
		font-size: var(--light-basic-typography-paragraph-small-font-size);
		font-style: var(--light-basic-typography-paragraph-small-font-style);
		font-weight: var(--light-basic-typography-paragraph-small-font-weight);
		letter-spacing: var(--light-basic-typography-paragraph-small-letter-spacing);
		line-height: var(--light-basic-typography-paragraph-small-line-height);
		margin-top: -1px;
		position: relative;
		text-align: right;
		white-space: nowrap;
		width: fit-content;
	}
	.avatar-instance {
		position: relative !important;
	}
	.design-component-instance-node {
		background-color: $background-color_8 !important;
	}
	.avatar-2 {
		background-color: $background-color_9 !important;
	}
	.message-3 {
		align-items: flex-start;
		display: inline-flex;
		flex: 0 0 auto;
		flex-direction: column;
		gap: 12px;
		position: relative;
	}
	.div-wrapper {
		align-items: flex-start;
		background-color: $background-color_10;
		border-radius: 0px 6px 6px 6px;
		box-shadow: var(--light-gray-gray-SM);
		display: inline-flex;
		flex: 0 0 auto;
		flex-direction: column;
		padding: 10px 16px;
		position: relative;
	}
	.text-wrapper-3 {
		color: $color_8;
		font-family: $font-family_2;
		font-size: var(--light-basic-typography-paragraph-font-size);
		font-style: var(--light-basic-typography-paragraph-font-style);
		font-weight: var(--light-basic-typography-paragraph-font-weight);
		letter-spacing: var(--light-basic-typography-paragraph-letter-spacing);
		line-height: var(--light-basic-typography-paragraph-line-height);
		margin-top: -1px;
		position: relative;
		white-space: nowrap;
		width: fit-content;
	}
	.text-wrapper-4 {
		color: $color_5;
		font-family: $font-family_3;
		font-size: var(--light-basic-typography-paragraph-small-font-size);
		font-style: var(--light-basic-typography-paragraph-small-font-style);
		font-weight: var(--light-basic-typography-paragraph-small-font-weight);
		letter-spacing: var(--light-basic-typography-paragraph-small-letter-spacing);
		line-height: var(--light-basic-typography-paragraph-small-line-height);
		position: relative;
		text-align: right;
		white-space: nowrap;
		width: fit-content;
	}
	.message-4 {
		align-items: flex-end;
		display: inline-flex;
		flex: 0 0 auto;
		flex-direction: column;
		gap: 4px;
		justify-content: center;
		position: relative;
	}
	.message-5 {
		align-items: flex-end;
		display: inline-flex;
		flex: 0 0 auto;
		flex-direction: column;
		gap: 12px;
		justify-content: center;
		position: relative;
	}
	.text-2 {
		align-items: flex-start;
		background-color: $background-color_8;
		border-radius: 6px 0px 6px 6px;
		box-shadow: var(--light-gray-gray-SM);
		display: inline-flex;
		flex: 0 0 auto;
		flex-direction: column;
		padding: 10px 16px;
		position: relative;
	}
	.time-2 {
		align-items: center;
		display: inline-flex;
		flex: 0 0 auto;
		gap: 6px;
		justify-content: flex-end;
		position: relative;
	}
	.path-3 {
		height: 18px;
		left: -2765px;
		position: absolute;
		top: -10025px;
		width: 18px;
	}
	.path-4 {
		height: 18px;
		left: -2765px;
		position: absolute;
		top: -10297px;
		width: 18px;
	}
}
.headerBoxChat {
	display: inline-flex;
	padding: 5px 20px 5px 10px;
	align-items: center;
	gap: 1px;
	width: 97%;
	height: 2.9rem;
	border: 1px rgba(112, 112, 112, 0.072) solid;
	background-color: $background-color_1;
	justify-content: space-between;
}
.rightContainer {
	padding: 5px 5px 3px 3px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 2px;
	background-color: $background-color_2;
	width: auto;
	height: 80%;
	margin: 1px 15px;
}
.rightContent {
	display: inline-flex;
	justify-content: space-between;
	gap: 35px;
	align-items: center;
}
.img-avatar {
	height: 35px !important;
	position: relative !important;
	width: 35px !important;
	background-color: $background-color_3;
	border-radius: 50%;
}
.initial-info {
	display: flex;
	align-items: center;
}
.name-time {
	margin-left: 15px;
	margin-right: 25px;
}
.message-wrapper {
	display: flex;
	flex-direction: column;
	margin-bottom: -20px;
	margin-right: 10px;
	font-size: 15px;
}
.message-time {
	color: $color_1;
	font-size: 13px;
}
.time-right {
	text-align: left;
	margin-left: 50px;
}
.time-left {
	text-align: right;
	margin-right: 50px;
}
.name-work {
	background-color: $background-color_4;
	padding: 5px;
	border-radius: 10px;
	margin-left: 25px;
	div {
		color: $color_2;
	}
}
.img-2 {
	height: 24px;
	object-fit: cover;
	position: relative;
	width: 24px;
}
.talks {
	background-color: $background-color_5;
	color: $color_3;
	border: 1px solid green;
}
.text-wrapper-box-header {
	color: $color_9;
	font-family: $font-family_1;
	font-size: 13px;
	font-weight: 500;
	letter-spacing: 0;
	line-height: 20px;
	position: relative;
	white-space: nowrap;
	width: fit-content;
}
.img-avatar-text {
	height: 35px !important;
	position: relative !important;
	width: 35px !important;
	top: 43%;
	background-color: $background-color_3;
	border-radius: 50%;
	display: flex;
	align-self: flex-start;
}
.img-avatar-message {
	height: 35px !important;
	position: relative !important;
	width: 35px !important;
	top: 43%;
	background-color: $background-color_3;
	border-radius: 50%;
	display: flex;
	align-self: flex-end;
}
.wrapperTextEnter {
	width: 98% !important;
	padding: 5px 15px 5px 5px;
	background: white;
	box-shadow: 0px 2px 4px rgba(165, 163, 174, 0.056);
	border-radius: 6px;
	display: flex;
	margin: auto 5px 0px auto !important;
	align-items: flex-end;
}
.containertxt {
	justify-content: space-between;
	align-items: center;
	gap: 2px;
	display: flex;
	width: 100%;
}
.txtwrapp {
	width: 100%;
	height: 100%;
	margin-right: 20px;
	text-overflow: clip;
}
.txt {
	flex: 1 1 0;
	color: $color_10;
	font-size: 15px;
	font-family: $font-family_4;
	font-weight: 400;
	word-wrap: break-word;
	width: 100%;
	height: 100%;
	margin-left: 5px;
	text-overflow: clip;
	padding: 0;
	border: none;
	resize: none;
	&:focus {
		box-shadow: 0 0 0 0;
		outline: 0;
	}
}
input {
	&:focus {
		box-shadow: 0 0 0 0;
		outline: 0;
	}
}
.btncontainer {
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	gap: 10px;
	width: 20%;
}
.icon {
	border-radius: 50%;
	padding: 3px;
	width: 30px;
	height: 30px;
	border: rgba(255, 255, 255, 0.50) 1px solid;
	cursor: pointer;
}
.btntxt {
	color: $color_11;
	font-size: 15px;
	font-family: $font-family_5;
	font-weight: 500;
	background-color: $background-color_11;
	cursor: pointer;
	height: 2.3rem;
	width: 4rem;
	border-radius: 3px;
	border: none;
}