$color_1: #c4c2c2;
$color_2: #fff;
$color_3: rgba(168, 170, 174, 1);
$color_4: #FFF;
$color_5: #7367F0;
$color_6: var(--lightsolid-colorextrawhite);
$color_7: #fff;
$color_8: #686efe;
$color_9: var(--lighttypography-colorheading-text);
$color_10: var(--lighttypography-colormuted-text);
$color_11: #FFF;
$color_12: #686EFE;
$font-family_1: Arial, Helvetica, sans-serif;
$font-family_2: var(--light-basic-typography-h5-heading-font-family);
$font-family_3: var(--light-basic-typography-h6-heading-font-family);
$font-family_4: var(--light-basic-typography-paragraph-font-family);
$font-family_5: var(--light-basic-typography-paragraph-small-font-family);
$font-family_6: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$background-color_1: var(--lightsolid-colorprimaryprimary-400);
$background-color_2: #c4c2c2;
$background-color_3: rgba(115, 103, 240, 1);
$background-color_4: rgba(168, 170, 174, 0.397);
$background-color_5: rgb(109, 109, 109);
$background-color_6: #8f83fb;
$background-color_7: var(--lightsolid-colorwarningwarning-400);
$background-color_8: #dedcdc;
$background-color_9: var(--lightsolid-colorsecondarysecondary-400);
$background-color_10: var(--lightsolid-colorinfoinfo-400);
$background-color_11: #DEDDDD;
$background-color_12: rgb(0, 255, 0);
$background-color_13: #808080;
$border-color_1: var(--lightsolid-colorextracard-background);
$border-color_2: var(--lightsolid-colorextradivider);

.left-menu {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: auto;
	height: auto;
	margin-left: 20%;
	border: 1px rgba(145, 145, 145, 0.261) solid;
	border-radius: 3px 0 0 6px;
	border-right-width: 1px;

	.header-left {
		display: inline-flex;
		justify-content: space-around;
		align-items: center;
		align-self: stretch;
		width: 100%;
		height: 23px;
		border-bottom: 1px rgba(100, 100, 100, 0.048) solid;
		padding: 10px 5px 10px 1px;
		gap: 1px;
	}

	.status-indicator-instance {
		position: relative !important;
	}

	.design-component-instance-node {
		background-color: $background-color_1 !important;
	}

	.instance {
		width: 80% !important;
		height: 100%;
		flex-grow: 1 0 !important;
		margin-top: 15px;
		border: #c4c2c27c 1px solid;
		border-radius: 20px !important;
		padding: 2px;
	}

	.icon-instance-node {
		position: relative !important;
		width: 30px !important;
		height: 30px !important;
		border-radius: 50%;
		background-color: $background-color_2;
	}

	.heading {
		display: flex;
		flex: 0 0 auto;
		align-items: flex-start;
		align-self: stretch;
		width: 100%;
		margin-left: -0%;
		border: #c4c2c2 1px solid;
		padding: 10px, 16px, 10px, 10px;
	}

	.adicionar-ticket {
		position: relative;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		width: 100%;
		height: 100%;
		gap: 5px;
		margin-top: -1px;
		color: $color_1;
		white-space: nowrap;
		cursor: pointer;
	}

	.chevron-down {
		position: relative !important;
		width: 20px !important;
		height: 20px !important;
		margin-right: -156px !important;
	}

	.heading-2 {
		display: flex;
		flex: 0 0 auto;
		align-items: flex-start;
		align-self: stretch;
		width: 100%;
		border-bottom: #33333328 1px solid;
		padding: 10px 16px;
		gap: 192px;
	}

	.text-wrapper-3 {
		position: relative;
		width: fit-content;
		margin-top: -1px;
		color: $color_5;
		font-family: $font-family_2;
		font-style: var(--light-basic-typography-h5-heading-font-style);
		font-weight: var(--light-basic-typography-h5-heading-font-weight);
	}

	.listLeftClient {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 5px;
		border: 0 none;
		border-radius: 6px;
		padding: 8px 10px;
		gap: 12px;
		background-color: $background-color_6;
		color: $color_4;
		cursor: pointer;
	}

	.listLeftLead {
		display: flex;
		flex: 0 0 auto;
		align-items: center;
		align-self: stretch;
		width: 95%;
		gap: 12px;
		border: 0.5px solid rgba(72, 72, 72, 0.081);
		padding: 8px 10px;
		cursor: pointer;
	}

	.list-icon-chat {
		display: block;
		align-self: center;
		margin-bottom: -25px;
		margin-left: 105px;
	}

	.avatar-client {
		width: 30px;
		height: 30px;
		margin: auto;
		border: 1px solid #fff;
		border-radius: 50%;
		background-color: $background-color_2;
	}

	.status-indicator-2 {
		top: -2px !important;
		left: -2px !important;
		width: 42px !important;
		height: 42px !important;
		border-radius: 100px !important;
	}

	.status-indicator-3 {
		position: absolute !important;
		top: 0 !important;
		left: 0 !important;
		width: 42px !important;
		height: 42px !important;
		border: 2px solid !important;
		border-color: $border-color_1 !important;
	}

	.status-indicator-4 {
		width: 38px !important;
	}

	.status-indicator-5 {
		top: 29px !important;
		left: 28px !important;
	}

	.design-component-instance-node-2 {
		background-color: $background-color_7 !important;
	}

	.text-2 {
		position: relative;
		display: flex;
		flex: 1;
		flex-direction: column;
		flex-grow: 1;
		align-items: flex-start;
		width: min-content;
		gap: 1px;
	}

	.img-2 {
		position: relative;
		width: 24px;
		height: 24px;
		object-fit: cover;
	}

	.namr-time {
		position: relative;
		display: flex;
		flex: 0 0 auto;
		align-items: flex-start;
		align-self: stretch;
		width: 100%;
	}

	.text-wrapper-4 {
		position: relative;
		flex: 1;
		margin-top: -1px;
		color: $color_6;
		font-family: $font-family_3;
		font-size: var(--light-basic-typography-h6-heading-font-size);
		font-style: var(--light-basic-typography-h6-heading-font-style);
		font-weight: var(--light-basic-typography-h6-heading-font-weight);
		line-height: var(--light-basic-typography-h6-heading-line-height);
		letter-spacing: var(--light-basic-typography-h6-heading-letter-spacing);
	}

	.text-wrapper-5 {
		position: relative;
		margin-top: -1px;
		margin-left: 5px;
		color: $color_7;
		text-align: start;
		white-space: nowrap;
	}

	.text-wrapper-6 {
		position: relative;
		align-self: stretch;
		color: $color_6;
		font-family: $font-family_4;
		font-size: var(--light-basic-typography-paragraph-font-size);
		font-style: var(--light-basic-typography-paragraph-font-style);
		font-weight: var(--light-basic-typography-paragraph-font-weight);
		line-height: var(--light-basic-typography-paragraph-line-height);
		letter-spacing: var(--light-basic-typography-paragraph-letter-spacing);
	}

	.badge-instance {
		overflow: hidden !important;
		position: absolute !important;
		top: 0 !important;
		left: 96px !important;
		border-radius: 20px !important;
		background-color: $background-color_8 !important;
	}

	.badge-2 {
		color: $color_8 !important;
	}

	.list-2 {
		position: relative;
		display: flex;
		flex: 0 0 auto;
		align-items: center;
		align-self: stretch;
		width: 100%;
		border: 0 none;
		border-color: $border-color_2;
		padding: 8px 12px;
		gap: 12px;
	}

	.design-component-instance-node-3 {
		position: absolute !important;
		top: 0 !important;
		left: 0 !important;
	}

	.design-component-instance-node-4 {
		background-color: $background-color_9 !important;
	}

	.text-wrapper-7 {
		position: relative;
		flex: 1;
		margin-top: -1px;
		color: $color_9;
		font-family: $font-family_3;
		font-size: var(--light-basic-typography-h6-heading-font-size);
		font-style: var(--light-basic-typography-h6-heading-font-style);
		font-weight: var(--light-basic-typography-h6-heading-font-weight);
		line-height: var(--light-basic-typography-h6-heading-line-height);
		letter-spacing: var(--light-basic-typography-h6-heading-letter-spacing);
	}

	.text-wrapper-8 {
		position: relative;
		width: fit-content;
		margin-top: -1px;
		color: $color_10;
		font-family: $font-family_5;
		font-size: var(--light-basic-typography-paragraph-small-font-size);
		font-style: var(--light-basic-typography-paragraph-small-font-style);
		font-weight: var(--light-basic-typography-paragraph-small-font-weight);
		line-height: var(--light-basic-typography-paragraph-small-line-height);
		letter-spacing: var(--light-basic-typography-paragraph-small-letter-spacing);
		text-align: right;
		white-space: nowrap;
	}

	.text-wrapper-9 {
		position: relative;
		align-self: stretch;
		color: $color_10;
		font-family: $font-family_4;
		font-size: var(--light-basic-typography-paragraph-font-size);
		font-style: var(--light-basic-typography-paragraph-font-style);
		font-weight: var(--light-basic-typography-paragraph-font-weight);
		line-height: var(--light-basic-typography-paragraph-line-height);
		letter-spacing: var(--light-basic-typography-paragraph-letter-spacing);
	}

	.badge-3 {
		overflow: hidden !important;
		position: absolute !important;
		top: 0 !important;
		left: 84px !important;
		border-radius: 20px !important;
		background-color: $background-color_8 !important;
	}

	.label-initials-instance {
		left: 7px !important;
	}

	.status-indicator-6 {
		top: 1px !important;
	}

	.heading-3 {
		position: relative;
		display: flex;
		flex: 0 0 auto;
		align-items: flex-start;
		align-self: stretch;
		width: 100%;
		border-top: #33333328 1px solid;
		border-bottom: #33333328 1px solid;
		padding: 10px 16px;
		gap: 213px;
		font-family: $font-family_6;
		font-weight: bold;
	}

	.pngwing {
		position: relative;
		width: 25px;
		height: 23px;
		object-fit: cover;
	}

	.text-wrapper-10 {
		position: relative;
		align-self: stretch;
		color: $color_9;
		font-family: $font-family_3;
		font-size: var(--light-basic-typography-h6-heading-font-size);
		font-style: var(--light-basic-typography-h6-heading-font-style);
		font-weight: var(--light-basic-typography-h6-heading-font-weight);
		line-height: var(--light-basic-typography-h6-heading-line-height);
		letter-spacing: var(--light-basic-typography-h6-heading-letter-spacing);
	}

	.avatar-instance {
		background-color: $background-color_10 !important;
	}

	.pngwing-2 {
		position: relative;
		width: 30px;
		height: 22px;
		object-fit: cover;
	}
}

.div-3 {
	overflow-x: hidden !important;
	overflow-y: hidden !important;
	position: relative;
	display: flex;
	flex: 0 0 auto;
	flex-direction: column;
	align-items: flex-start;
	align-self: stretch;
	width: 100%;
	height: 300px;
	padding: 10px -5px 0 3px;
	gap: 4px;
}

.blueButtonTicket {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100% !important;
	border: none;
	border-radius: none;
	padding: 10px;
	background-color: $background-color_3;
	color: $color_2;
	font-family: $font-family_1;
	font-size: 18px;
	font-weight: 500;
	line-height: 24px;
	cursor: pointer;
}

.grayButtonTicket {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100% !important;
	border: none;
	border-radius: 0;
	padding: 10px;
	background-color: $background-color_4;
	color: $color_3;
	font-family: $font-family_1;
	font-size: 18px;
	font-weight: 500;
	line-height: 24px;
	cursor: pointer;
}

.phoneCall {
	position: relative !important;
	width: 22px !important;
	height: 22px !important;
	color: $color_4 !important;
}

.div-content {
	overflow-x: hidden;
	overflow-y: auto;
	width: 100%;
	height: 100%;
	padding: 0 0 30px;
	
	&::-webkit-scrollbar {
		width: 6px;
		border-radius: 20px;
	}

	&::-webkit-scrollbar-track {
		width: 8px;
		border-radius: 20px;
		background: rgb(192, 192, 192);
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 20px;
		background-color: $background-color_5;
	}
}

.messageBubble {
	position: relative;
	display: flex;
	align-items: center;
	margin: 5px;
	border-radius: 10px;
	padding: 20px;
	background-color: $background-color_6;
	color: $color_2;
}

.avatarWithName {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-left: -10px;
}

.avatar-client {
	width: 50px;
	height: 50px;
	margin-right: 1px;
	border-radius: 50%;
}

.name {
	color: $color_11;
	font-size: 15px;
}

.companyName {
	position: relative;
	top: 3px;
	right: 10px;
	border-radius: 10px;
	padding: 3px 8px;
	background-color: $background-color_11;
	color: $color_12;
	font-size: 0.7em;
}

.time {
	position: relative;
	right: 40px;
	bottom: -10px;
	color: $color_11;
	font-size: 0.6em;
}

.messageContent {
	position: absolute;
	right: 5px;
	color: $color_11;
}

.messageLogo {
	position: absolute;
	top: 0;
	left: 50px;
	width: 22px;
}

.imageName {
	display: flex;
	align-items: center;
	gap: 10px;
}

.online {
	position: absolute;
	bottom: 18px;
	left: 30px;
	width: 10px;
	height: 10px;
	border: 1px solid #fff;
	border-radius: 50%;
	background-color: $background-color_12;
}

.offline {
	position: absolute;
	bottom: 18px;
	left: 30px;
	width: 10px;
	height: 10px;
	border: 1px solid #fff;
	border-radius: 50%;
	background-color: $background-color_13;
}