$color_1: white;
$color_2: rgba(168, 170, 174, 1);
$color_3: #4b465c9f;
$color_4: #ffffff80;
$color_5: transparent;
$color_6: #fdfdff;
$color_7: #4b465c;
$color_8: var(--lighttypography-colormuted-text);
$color_9: var(--lighttypography-colorheading-text);
$color_10: var(--lighttypography-colorbody-text);
$color_11: #e7f0eb;
$color_12: #4b465cb9;
$color_13: #4B465C;
$font-family_1: sans-serif;
$font-family_2: "Public Sans", Helvetica;
$font-family_3: var(--light-basic-typography-caption-font-family);
$font-family_4: var(--light-basic-typography-h4-heading-font-family);
$font-family_5: var(--light-basic-typography-paragraph-font-family);
$font-family_6: var(--light-basic-typography-paragraph-small-font-family);
$font-family_7: var(--light-basic-typography-paragraph-semi-bold-font-family);
$font-family_8: var(--light-basic-typography-h5-heading-font-family);
$font-family_9: var(--light-basic-typography-h6-heading-font-family);
$background-color_1: rgba(115, 103, 240, 1);
$background-color_2: rgba(168, 170, 174, 0.397);
$background-color_3: white;
$background-color_4: #ffffff;
$background-color_5: var(--lightsolid-colorextracard-background);
$background-color_6: transparent;
$background-color_7: var(--lightopacity-colorprimaryprimary-8);
$background-color_8: #f85e5e;
$background-color_9: #bab9bd;
$background-color_10: #bababd;
$background-color_11: var(--lightopacity-colorsuccesssuccess-8);
$border-color_1: var(--lightsolid-colorextradivider);
$border-color_2: unset;

:root {
	--light-basic-typography-caption-font-family: "PublicSans-Regular", Helvetica;
	--light-basic-typography-caption-font-size: 11px;
	--light-basic-typography-caption-font-style: normal;
	--light-basic-typography-caption-font-weight: 400;
	--light-basic-typography-caption-letter-spacing: 0px;
	--light-basic-typography-caption-line-height: 14px;
	--light-basic-typography-h4-heading-font-family: "PublicSans-Medium", Helvetica;
	--light-basic-typography-h4-heading-font-size: 22px;
	--light-basic-typography-h4-heading-font-style: normal;
	--light-basic-typography-h4-heading-font-weight: 500;
	--light-basic-typography-h4-heading-letter-spacing: 0px;
	--light-basic-typography-h4-heading-line-height: 30px;
	--light-basic-typography-h5-heading-font-family: "PublicSans-Medium", Helvetica;
	--light-basic-typography-h5-heading-font-size: 18px;
	--light-basic-typography-h5-heading-font-style: normal;
	--light-basic-typography-h5-heading-font-weight: 500;
	--light-basic-typography-h5-heading-letter-spacing: 0px;
	--light-basic-typography-h5-heading-line-height: 24px;
	--light-basic-typography-h6-heading-font-family: "PublicSans-Medium", Helvetica;
	--light-basic-typography-h6-heading-font-size: 15px;
	--light-basic-typography-h6-heading-font-style: normal;
	--light-basic-typography-h6-heading-font-weight: 500;
	--light-basic-typography-h6-heading-letter-spacing: 0px;
	--light-basic-typography-h6-heading-line-height: 21px;
	--light-basic-typography-paragraph-font-family: "PublicSans-Regular", Helvetica;
	--light-basic-typography-paragraph-font-size: 15px;
	--light-basic-typography-paragraph-font-style: normal;
	--light-basic-typography-paragraph-font-weight: 400;
	--light-basic-typography-paragraph-letter-spacing: 0px;
	--light-basic-typography-paragraph-line-height: 22px;
	--light-basic-typography-paragraph-semi-bold-font-family: "PublicSans-SemiBold", Helvetica;
	--light-basic-typography-paragraph-semi-bold-font-size: 15px;
	--light-basic-typography-paragraph-semi-bold-font-style: normal;
	--light-basic-typography-paragraph-semi-bold-font-weight: 600;
	--light-basic-typography-paragraph-semi-bold-letter-spacing: 0px;
	--light-basic-typography-paragraph-semi-bold-line-height: 22px;
	--light-basic-typography-paragraph-small-font-family: "PublicSans-Regular", Helvetica;
	--light-basic-typography-paragraph-small-font-size: 13px;
	--light-basic-typography-paragraph-small-font-style: normal;
	--light-basic-typography-paragraph-small-font-weight: 400;
	--light-basic-typography-paragraph-small-letter-spacing: 0px;
	--light-basic-typography-paragraph-small-line-height: 20px;
	--light-basic-typography-paragraph-small-medium-font-family: "PublicSans-Medium", Helvetica;
	--light-basic-typography-paragraph-small-medium-font-size: 13px;
	--light-basic-typography-paragraph-small-medium-font-style: normal;
	--light-basic-typography-paragraph-small-medium-font-weight: 500;
	--light-basic-typography-paragraph-small-medium-letter-spacing: 0px;
	--light-basic-typography-paragraph-small-medium-line-height: 14px;
	--light-button-1-button-lg-font-family: "PublicSans-Medium", Helvetica;
	--light-button-1-button-lg-font-size: 17px;
	--light-button-1-button-lg-font-style: normal;
	--light-button-1-button-lg-font-weight: 500;
	--light-button-1-button-lg-letter-spacing: 0.4300000071525574px;
	--light-button-1-button-lg-line-height: 22px;
	--light-button-2-button-default-font-family: "PublicSans-Medium", Helvetica;
	--light-button-2-button-default-font-size: 15px;
	--light-button-2-button-default-font-style: normal;
	--light-button-2-button-default-font-weight: 500;
	--light-button-2-button-default-letter-spacing: 0.4300000071525574px;
	--light-button-2-button-default-line-height: 18px;
	--light-button-3-button-small-font-family: "PublicSans-Medium", Helvetica;
	--light-button-3-button-small-font-size: 13px;
	--light-button-3-button-small-font-style: normal;
	--light-button-3-button-small-font-weight: 500;
	--light-button-3-button-small-letter-spacing: 0.4300000071525574px;
	--light-button-3-button-small-line-height: 16px;
	--light-danger-danger-sm: 0px 2px 3px 0px rgba(234, 84, 85, 0.3);
	--light-gray-card: 0px 4px 18px 0px rgba(75, 70, 92, 0.1);
	--light-gray-gray-sm: 0px 2px 4px 0px rgba(165, 163, 174, 0.3);
	--light-info-info-sm: 0px 2px 3px 0px rgba(0, 207, 232, 0.3);
	--light-primary-primary-sm: 0px 2px 3px 0px rgba(115, 103, 240, 0.3);
	--light-secondary-secondary-sm: 0px 2px 3px 0px rgba(168, 170, 174, 0.3);
	--light-success-success-sm: 0px 2px 3px 0px rgba(40, 199, 111, 0.3);
	--light-warning-warning-sm: 0px 2px 3px 0px rgba(255, 159, 67, 0.3);
	--lightopacity-colordangerdanger-16: rgba(234, 84, 85, 0.16);
	--lightopacity-colordangerdanger-24: rgba(234, 84, 85, 0.24);
	--lightopacity-colordangerdanger-8: rgba(234, 84, 85, 0.08);
	--lightopacity-colorextradark-16: rgba(75, 75, 75, 0.16);
	--lightopacity-colorextramenu-hover: rgba(75, 70, 92, 0.04);
	--lightopacity-colorgraygray-8: rgba(75, 70, 92, 0.08);
	--lightopacity-colorinfoinfo-16: rgba(0, 207, 232, 0.16);
	--lightopacity-colorinfoinfo-24: rgba(0, 207, 232, 0.24);
	--lightopacity-colorinfoinfo-8: rgba(0, 207, 232, 0.08);
	--lightopacity-colorprimaryprimary-16: rgba(115, 103, 240, 0.16);
	--lightopacity-colorprimaryprimary-24: rgba(115, 103, 240, 0.24);
	--lightopacity-colorprimaryprimary-8: rgba(115, 103, 240, 0.08);
	--lightopacity-colorsecondarysecondary-16: rgba(168, 170, 174, 0.16);
	--lightopacity-colorsecondarysecondary-24: rgba(168, 170, 174, 0.24);
	--lightopacity-colorsecondarysecondary-8: rgba(168, 170, 174, 0.08);
	--lightopacity-colorsuccesssuccess-16: rgba(40, 199, 111, 0.16);
	--lightopacity-colorsuccesssuccess-24: rgba(40, 199, 111, 0.24);
	--lightopacity-colorsuccesssuccess-8: rgba(40, 199, 111, 0.08);
	--lightopacity-colorwarningwarning-16: rgba(255, 159, 67, 0.16);
	--lightopacity-colorwarningwarning-24: rgba(255, 159, 67, 0.24);
	--lightopacity-colorwarningwarning-8: rgba(255, 159, 67, 0.08);
	--lightsolid-colordangerdanger-400: rgba(234, 84, 85, 1);
	--lightsolid-colordangerdanger-500-base: rgba(234, 84, 85, 1);
	--lightsolid-colordangerdanger-600-hover: rgba(234, 84, 85, 1);
	--lightsolid-colorextracard-background: rgba(255, 255, 255, 1);
	--lightsolid-colorextradark: rgba(75, 75, 75, 1);
	--lightsolid-colorextradivider: rgba(219, 218, 222, 1);
	--lightsolid-colorextrawhite: rgba(255, 255, 255, 1);
	--lightsolid-colorinfoinfo-400: rgba(0, 207, 232, 1);
	--lightsolid-colorinfoinfo-500-base: rgba(0, 207, 232, 1);
	--lightsolid-colorinfoinfo-600-hover: rgba(0, 207, 232, 1);
	--lightsolid-colorprimaryprimary-400: rgba(115, 103, 240, 1);
	--lightsolid-colorprimaryprimary-500-base: rgba(115, 103, 240, 1);
	--lightsolid-colorprimaryprimary-600-hover: rgba(115, 103, 240, 1);
	--lightsolid-colorsecondarysecondary-400: rgba(168, 170, 174, 1);
	--lightsolid-colorsecondarysecondary-500-base: rgba(168, 170, 174, 1);
	--lightsolid-colorsecondarysecondary-600-hover: rgba(168, 170, 174, 1);
	--lightsolid-colorsuccesssuccess-400: rgba(40, 199, 111, 1);
	--lightsolid-colorsuccesssuccess-500-base: rgba(40, 199, 111, 1);
	--lightsolid-colorsuccesssuccess-600-hover: rgba(40, 199, 111, 1);
	--lightsolid-colorwarningwarning-400: rgba(255, 159, 67, 1);
	--lightsolid-colorwarningwarning-500-base: rgba(255, 159, 67, 1);
	--lightsolid-colorwarningwarning-600-hover: rgba(255, 159, 67, 1);
	--lighttypography-colorbody-text: rgba(75, 70, 92, 0.801);
	--lighttypography-colorheading-text: rgba(75, 70, 92, 0.8013);
	--lighttypography-colormuted-text: rgba(75, 70, 92, 0.693);
}
.buttonContainer {
	display: inline-flex;
	gap: 5px;
	margin-left: 3px;
	margin: 5px;
}
.blueButton {
	background-color: $background-color_1;
	color: $color_1;
	padding: 10px 7px;
	border: none;
	border-radius: 5px;
	margin-right: 1px;
	cursor: pointer;
	align-items: center;
	display: flex;
	font-weight: inherit;
}
.grayButton {
	background-color: $background-color_2;
	color: $color_2;
	padding: 10px 7px;
	border: none;
	border-radius: 5px;
	margin-right: 1px;
	cursor: pointer;
	align-items: center;
	display: flex;
	font-weight: inherit;
}
.card-wrapper {
	align-items: center;
	display: flex;
	flex: 1;
	flex-direction: column;
	flex-grow: 1;
	gap: 6px;
	height: auto;
	position: relative;
	background-color: $background-color_3;
	color: $color_3;
}
.row-container {
	align-items: flex-start;
	align-self: stretch;
	border-radius: 6px;
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	color: $color_3;
}
.index {
	background-color: $background-color_4;
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-family: $font-family_1;
	.div-4 {
		background-color: $background-color_4;
		height: 104px;
		position: relative;
		width: 1440px;
	}
	.overlap-4 {
		height: 1080px;
		left: 0;
		position: absolute;
		top: 0;
		width: 83px;
	}
	.menu {
		align-items: center;
		background-color: $background-color_5;
		box-shadow: var(--light-gray-gray-SM);
		display: flex;
		flex-direction: column;
		height: 1080px;
		left: 0;
		padding: 0px 0px 10px;
		position: absolute;
		top: 0;
		width: 83px;
	}
	.div-5 {
		align-self: stretch;
		flex: 0 0 auto;
		position: relative;
		width: 100%;
	}
	.section {
		align-items: center;
		align-self: stretch;
		border-radius: 6px;
		display: flex;
		flex: 0 0 auto;
		gap: 8px;
		padding: 19px 30px 5px;
		position: relative;
		width: 100%;
	}
	.text-wrapper-4 {
		color: $color_4;
		flex: 1;
		font-family: $font-family_2;
		font-size: 11px;
		font-weight: 400;
		letter-spacing: 0;
		line-height: 14px;
		margin-top: -1px;
		position: relative;
	}
	.list {
		align-items: center;
		align-self: stretch;
		background-color: $background-color_4;
		border-radius: 6px;
		display: flex;
		flex: 0 0 auto;
		gap: 8px;
		padding: 8px 30px 8px 29px;
		position: relative;
		width: 100%;
	}
	.icon-instance-node {
		height: 22px !important;
		position: relative !important;
		width: 22px !important;
	}
	.div-6 {
		align-items: flex-start;
		align-self: stretch;
		display: flex;
		flex: 0 0 auto;
		flex-direction: column;
		gap: 4px;
		padding: 0px 14px;
		position: relative;
		width: 100%;
	}
	.list-2 {
		align-items: center;
		align-self: stretch;
		border-radius: 6px;
		display: flex;
		flex: 0 0 auto;
		gap: 8px;
		padding: 8px 16px;
		position: relative;
		width: 100%;
	}
	.file-dollar-instance {
		background-image: url(https://cdn.animaapp.com/projects/654154912a46b119340afa31/releases/65bb83897b26ce5f64b90797/img/path-26@2x.png) !important;
		height: 22px !important;
		margin-left: -4503px !important;
		margin-top: -15664.51px !important;
		position: relative !important;
		width: 22px !important;
	}
	.file-dollar-2 {
		height: 18px !important;
		width: 14px !important;
	}
	.file-dollar-3 {
		left: 8px !important;
	}
	.file-dollar-4 {
		height: 7px !important;
		top: 7px !important;
		width: 5px !important;
	}
	.file-dollar-5 {
		height: 9px !important;
		left: 6px !important;
		top: 6px !important;
	}
	.FUNIL-DE-VENDAS {
		color: $color_5;
		flex: 1;
		font-family: $font-family_3;
		font-size: var(--light-basic-typography-caption-font-size);
		font-style: var(--light-basic-typography-caption-font-style);
		font-weight: var(--light-basic-typography-caption-font-weight);
		letter-spacing: var(--light-basic-typography-caption-letter-spacing);
		line-height: var(--light-basic-typography-caption-line-height);
		margin-top: -1px;
		position: relative;
	}
	.span {
		color: $color_6;
		font-family: $font-family_3;
		font-size: var(--light-basic-typography-caption-font-size);
		font-style: var(--light-basic-typography-caption-font-style);
		font-weight: var(--light-basic-typography-caption-font-weight);
		letter-spacing: var(--light-basic-typography-caption-letter-spacing);
		line-height: var(--light-basic-typography-caption-line-height);
	}
	.text-wrapper-5 {
		color: $color_7;
		font-family: $font-family_3;
		font-size: var(--light-basic-typography-caption-font-size);
		font-style: var(--light-basic-typography-caption-font-style);
		font-weight: var(--light-basic-typography-caption-font-weight);
		letter-spacing: var(--light-basic-typography-caption-letter-spacing);
		line-height: var(--light-basic-typography-caption-line-height);
	}
	.text-wrap-disabled-instance {
		background-image: url(https://cdn.animaapp.com/projects/654154912a46b119340afa31/releases/65bb83897b26ce5f64b90797/img/path-26@2x.png) !important;
		height: 22px !important;
		margin-left: -4503px !important;
		margin-top: -15740.51px !important;
		width: 22px !important;
	}
	.text-wrap-disabled-2 {
		width: 11px !important;
	}
	.text-wrap-disabled-3 {
		top: 16px !important;
		width: 11px !important;
	}
	.text-wrap-disabled-4 {
		height: 7px !important;
		width: 17px !important;
	}
	.AJUDA {
		color: $color_4;
		flex: 1;
		font-family: $font-family_3;
		font-size: var(--light-basic-typography-caption-font-size);
		font-style: var(--light-basic-typography-caption-font-style);
		font-weight: var(--light-basic-typography-caption-font-weight);
		letter-spacing: var(--light-basic-typography-caption-letter-spacing);
		line-height: var(--light-basic-typography-caption-line-height);
		margin-top: -1px;
		position: relative;
	}
	.image {
		height: 26px;
		left: 28px;
		object-fit: cover;
		position: absolute;
		top: 34px;
		width: 29px;
	}
	.container {
		align-items: flex-start;
		display: flex;
		flex-direction: column;
		gap: 26px;
		left: 111px;
		padding: 16px 0px 0px;
		position: absolute;
		top: 0;
		width: 1303px;
	}
	.navbar-instance {
		align-self: stretch !important;
		width: 100% !important;
	}
	.text-wrapper-6 {
		align-self: stretch;
		color: $color_8;
		font-family: $font-family_4;
		font-size: var(--light-basic-typography-h4-heading-font-size);
		font-style: var(--light-basic-typography-h4-heading-font-style);
		font-weight: var(--light-basic-typography-h4-heading-font-weight);
		letter-spacing: var(--light-basic-typography-h4-heading-letter-spacing);
		line-height: var(--light-basic-typography-h4-heading-line-height);
		position: relative;
	}
	.header {
		align-items: center;
		align-self: stretch;
		background-color: $background-color_6;
		display: flex;
		flex: 0 0 auto;
		gap: 26px;
		position: relative;
		width: 100%;
	}
	.heading-text {
		align-items: flex-start;
		display: flex;
		flex: 1;
		flex-direction: column;
		flex-grow: 1;
		gap: 4px;
		position: relative;
	}
	.text-wrapper-7 {
		color: $color_9;
		font-family: $font-family_4;
		font-size: var(--light-basic-typography-h4-heading-font-size);
		font-style: var(--light-basic-typography-h4-heading-font-style);
		font-weight: var(--light-basic-typography-h4-heading-font-weight);
		letter-spacing: var(--light-basic-typography-h4-heading-letter-spacing);
		line-height: var(--light-basic-typography-h4-heading-line-height);
		margin-top: -1px;
		position: relative;
		white-space: nowrap;
		width: fit-content;
	}
	.text-wrapper-8 {
		align-self: stretch;
		color: $color_10;
		font-family: $font-family_5;
		font-size: var(--light-basic-typography-paragraph-font-size);
		font-style: var(--light-basic-typography-paragraph-font-style);
		font-weight: var(--light-basic-typography-paragraph-font-weight);
		letter-spacing: var(--light-basic-typography-paragraph-letter-spacing);
		line-height: var(--light-basic-typography-paragraph-line-height);
		position: relative;
	}
	.buttons {
		align-items: flex-start;
		display: inline-flex;
		flex: 0 0 auto;
		gap: 16px;
		position: relative;
	}
	.button-instance {
		flex: 0 0 auto !important;
		justify-content: unset !important;
	}
	.button-2 {
		justify-content: unset !important;
	}
	.body {
		align-items: flex-start;
		align-self: stretch;
		display: flex;
		flex: 0 0 auto;
		flex-direction: column;
		gap: 26px;
		position: relative;
		width: 100%;
	}
	.row {
		align-items: flex-start;
		align-self: stretch;
		display: flex;
		flex: 0 0 auto;
		gap: 26px;
		position: relative;
		width: 100%;
	}
	.row-2 {
		align-items: flex-start;
		display: flex;
		flex-direction: column;
		gap: 26px;
		position: relative;
		width: 360px;
	}
	.card {
		align-items: flex-start;
		align-self: stretch;
		background-color: $background-color_3;
		border-radius: 6px;
		box-shadow: var(--light-gray-card);
		display: flex;
		flex: 0 0 auto;
		flex-direction: column;
		position: relative;
		width: 100%;
		border: 1px solid rgba(166, 166, 166, 0.119);
		margin-bottom: 15px;
		padding: 0px 0px 0px 5px;
	}
	.card-top {
		align-self: stretch;
		background-color: $background-color_3;
		border-radius: 6px;
		box-shadow: var(--light-gray-card);
		display: flex;
		flex: 0 0 auto;
		flex-direction: column;
		position: relative;
		width: 100%;
		border: 1px solid rgba(166, 166, 166, 0.119);
		margin-bottom: 10px;
		padding: 0px 0px 0px 5px;
	}
	.user-info {
		align-items: flex-start;
		align-self: stretch;
		display: flex;
		flex: 0 0 auto;
		flex-direction: column;
		gap: 24px;
		padding: 24px;
		position: relative;
		width: 100%;
	}
	.data {
		align-items: center;
		align-self: stretch;
		display: flex;
		flex: 0 0 auto;
		flex-direction: column;
		gap: 16px;
		padding: 30px 0px 0px;
		position: relative;
		width: 100%;
	}
	.queiroz-galvo-logo {
		height: 49px;
		object-fit: cover;
		position: relative;
		width: 171px;
	}
	.data-2 {
		align-items: center;
		align-self: stretch;
		display: flex;
		flex: 0 0 auto;
		flex-direction: column;
		position: relative;
		width: 100%;
	}
	.text-wrapper-9 {
		color: $color_9;
		font-family: $font-family_4;
		font-size: var(--light-basic-typography-h4-heading-font-size);
		font-style: var(--light-basic-typography-h4-heading-font-style);
		font-weight: var(--light-basic-typography-h4-heading-font-weight);
		letter-spacing: var(--light-basic-typography-h4-heading-letter-spacing);
		line-height: var(--light-basic-typography-h4-heading-line-height);
		margin-top: -1px;
		position: relative;
		text-align: center;
		width: 284px;
	}
	.text-wrapper-10 {
		color: $color_10;
		font-family: $font-family_6;
		font-size: var(--light-basic-typography-paragraph-small-font-size);
		font-style: var(--light-basic-typography-paragraph-small-font-style);
		font-weight: var(--light-basic-typography-paragraph-small-font-weight);
		letter-spacing: var(--light-basic-typography-paragraph-small-letter-spacing);
		line-height: var(--light-basic-typography-paragraph-small-line-height);
		position: relative;
		white-space: nowrap;
		width: fit-content;
	}
	.list-3 {
		align-items: flex-start;
		display: inline-flex;
		flex: 0 0 auto;
		gap: 20px;
		padding: 24px 0px 0px;
		position: relative;
	}
	.div-7 {
		align-items: center;
		border: 0px none;
		border-color: $border-color_1;
		display: inline-flex;
		flex: 0 0 auto;
		gap: 10px;
		position: relative;
	}
	.icon {
		align-items: flex-start;
		background-color: $background-color_7;
		border-radius: 6px;
		display: inline-flex;
		flex: 0 0 auto;
		gap: 10px;
		padding: 5px;
		position: relative;
	}
	.shopping-cart {
		height: 28px !important;
		position: relative !important;
		width: 28px !important;
	}
	.text-5 {
		align-items: flex-start;
		display: inline-flex;
		flex: 0 0 auto;
		flex-direction: column;
		position: relative;
	}
	.text-wrapper-11 {
		color: $color_10;
		font-family: $font-family_7;
		font-size: var(--light-basic-typography-paragraph-semi-bold-font-size);
		font-style: var(--light-basic-typography-paragraph-semi-bold-font-style);
		font-weight: var(--light-basic-typography-paragraph-semi-bold-font-weight);
		letter-spacing: var(--light-basic-typography-paragraph-semi-bold-letter-spacing);
		line-height: var(--light-basic-typography-paragraph-semi-bold-line-height);
		margin-top: -1px;
		position: relative;
		white-space: nowrap;
		width: fit-content;
	}
	.text-wrapper-12 {
		color: $color_10;
		font-family: $font-family_6;
		font-size: var(--light-basic-typography-paragraph-small-font-size);
		font-style: var(--light-basic-typography-paragraph-small-font-style);
		font-weight: var(--light-basic-typography-paragraph-small-font-weight);
		letter-spacing: var(--light-basic-typography-paragraph-small-letter-spacing);
		line-height: var(--light-basic-typography-paragraph-small-line-height);
		margin-top: -2px;
		position: relative;
		white-space: nowrap;
		width: fit-content;
	}
	.currency-dollar-instance {
		background-image: url(https://cdn.animaapp.com/projects/654154912a46b119340afa31/releases/65bb83897b26ce5f64b90797/img/path-26@2x.png) !important;
		height: 28px !important;
		margin-left: -4767.5px !important;
		margin-top: -15638px !important;
		position: relative !important;
		width: 28px !important;
	}
	.currency-dollar-2 {
		height: 22px !important;
		left: 7px !important;
		top: 3px !important;
		width: 13px !important;
	}
	.currency-dollar-3 {
		height: 16px !important;
		top: 4px !important;
		width: 13px !important;
	}
	.currency-dollar-4 {
		height: 22px !important;
		left: 6px !important;
	}
	.group {
		height: 24px;
		left: 193px;
		position: absolute;
		top: 0;
		width: 121px;
	}
	.text-wrapper-13 {
		color: $color_10;
		font-family: $font-family_6;
		font-size: var(--light-basic-typography-paragraph-small-font-size);
		font-style: var(--light-basic-typography-paragraph-small-font-style);
		font-weight: var(--light-basic-typography-paragraph-small-font-weight);
		left: 0;
		letter-spacing: var(--light-basic-typography-paragraph-small-letter-spacing);
		line-height: var(--light-basic-typography-paragraph-small-line-height);
		position: absolute;
		top: 0;
		white-space: nowrap;
	}
	.badge-instance {
		background-color: $background-color_8 !important;
		left: 73px !important;
		position: absolute !important;
		top: 0 !important;
	}
	.badge-2 {
		color: $color_11 !important;
	}
	.divider {
		align-self: stretch;
		height: 1px;
		object-fit: cover;
		position: relative;
		width: 100%;
	}
	.data-3 {
		align-items: flex-start;
		align-self: stretch;
		display: flex;
		flex: 0 0 auto;
		flex-direction: column;
		gap: 16px;
		position: relative;
		width: 100%;
	}
	.text-wrapper-14 {
		align-self: stretch;
		color: $color_8;
		font-family: $font-family_6;
		font-size: var(--light-basic-typography-paragraph-small-font-size);
		font-style: var(--light-basic-typography-paragraph-small-font-style);
		font-weight: var(--light-basic-typography-paragraph-small-font-weight);
		letter-spacing: var(--light-basic-typography-paragraph-small-letter-spacing);
		line-height: var(--light-basic-typography-paragraph-small-line-height);
		margin-top: -1px;
		position: relative;
	}
	.list-4 {
		align-items: flex-start;
		align-self: stretch;
		display: flex;
		flex: 0 0 auto;
		flex-direction: column;
		gap: 12px;
		position: relative;
		width: 100%;
	}
	.p {
		color: $color_10;
		font-family: $font-family_2;
		font-size: 15px;
		font-weight: 400;
		letter-spacing: 0;
		line-height: 22px;
		margin-top: -1px;
		position: relative;
		width: 284px;
	}
	.text-wrapper-15 {
		color: $color_7;
		font-family: $font-family_7;
		font-size: var(--light-basic-typography-paragraph-semi-bold-font-size);
		font-style: var(--light-basic-typography-paragraph-semi-bold-font-style);
		font-weight: var(--light-basic-typography-paragraph-semi-bold-font-weight);
		letter-spacing: var(--light-basic-typography-paragraph-semi-bold-letter-spacing);
		line-height: var(--light-basic-typography-paragraph-semi-bold-line-height);
	}
	.text-wrapper-16 {
		color: $color_7;
		font-family: $font-family_5;
		font-size: var(--light-basic-typography-paragraph-font-size);
		font-style: var(--light-basic-typography-paragraph-font-style);
		font-weight: var(--light-basic-typography-paragraph-font-weight);
		letter-spacing: var(--light-basic-typography-paragraph-letter-spacing);
		line-height: var(--light-basic-typography-paragraph-line-height);
	}
	.div-8 {
		color: $color_10;
		font-family: $font-family_2;
		font-size: 15px;
		font-weight: 400;
		letter-spacing: 0;
		line-height: 22px;
		position: relative;
		width: 284px;
	}
	.status-2 {
		align-items: center;
		align-self: stretch;
		display: flex;
		flex: 0 0 auto;
		gap: 10px;
		position: relative;
		width: 100%;
	}
	.text-wrapper-17 {
		color: $color_10;
		font-family: $font-family_7;
		font-size: var(--light-basic-typography-paragraph-semi-bold-font-size);
		font-style: var(--light-basic-typography-paragraph-semi-bold-font-style);
		font-weight: var(--light-basic-typography-paragraph-semi-bold-font-weight);
		letter-spacing: var(--light-basic-typography-paragraph-semi-bold-letter-spacing);
		line-height: var(--light-basic-typography-paragraph-semi-bold-line-height);
		position: relative;
		white-space: nowrap;
		width: fit-content;
	}
	.badge-3 {
		flex: 0 0 auto !important;
	}
	.text-wrapper-18 {
		color: $color_7;
	}
	.button-3 {
		background-color: $background-color_9 !important;
		justify-content: unset !important;
		left: 2px !important;
	}
	.button-4 {
		background-color: $background-color_10 !important;
		justify-content: unset !important;
	}
	.button-5 {
		justify-content: unset !important;
		left: 227px !important;
		position: absolute !important;
		top: 277px !important;
	}
	.row-wrapper {
		align-items: flex-start;
		align-self: stretch;
		background-color: $background-color_5;
		border-radius: 6px;
		box-shadow: var(--light-gray-card);
		display: flex;
		flex: 0 0 auto;
		flex-direction: column;
		margin-bottom: -196px;
		position: relative;
		width: 100%;
	}
	.row-3 {
		align-items: flex-start;
		display: flex;
		flex-direction: column;
		gap: 26px;
		height: 1057px;
		position: relative;
		width: 742px;
	}
	.list-5 {
		align-items: center;
		display: flex;
		flex: 0 0 auto;
		position: relative;
		width: 742px;
	}
	.button-6 {
		color: $color_9 !important;
	}
	.button-7 {
		border: unset !important;
		border-color: $border-color_2 !important;
		flex: 0 0 auto !important;
		justify-content: unset !important;
	}
	.card-heading {
		align-items: flex-start;
		align-self: stretch;
		display: flex;
		flex: 0 0 auto;
		padding: 24px 24px 0px;
		position: relative;
		width: 92%;
	}
	.text-wrapper-19 {
		color: $color_9;
		flex: 1;
		font-family: $font-family_8;
		font-size: var(--light-basic-typography-h5-heading-font-size);
		font-style: var(--light-basic-typography-h5-heading-font-style);
		font-weight: var(--light-basic-typography-h5-heading-font-weight);
		letter-spacing: var(--light-basic-typography-h5-heading-letter-spacing);
		line-height: var(--light-basic-typography-h5-heading-line-height);
		margin-top: -1px;
		position: relative;
	}
	.card-body {
		align-items: flex-start;
		align-self: stretch;
		display: flex;
		flex: 0 0 auto;
		flex-direction: column;
		gap: 1px;
		padding: 4px;
		position: relative;
		width: 100%;
	}
	.card-body-top {
		align-items: flex-start;
		align-self: stretch;
		display: flex;
		flex: 0 0 auto;
		flex-direction: column;
		gap: 1px;
		padding: 4px 8px 4px 4px;
		position: relative;
		height: 80px;
	}
	.accordion-without {
		align-items: flex-start;
		align-self: stretch;
		display: flex;
		flex: 0 0 auto;
		flex-direction: column;
		position: relative;
		width: 100%;
	}
	.body-content {
		align-items: flex-start;
		align-self: stretch;
		display: flex;
		flex-direction: column;
		position: relative;
		width: 100%;
		overflow-y: auto;
		height: 80px;
	}
	.accordion-collapse {
		align-items: center;
		align-self: stretch;
		border-radius: 6px;
		display: flex;
		flex: 0 0 auto;
		gap: 1px;
		padding: 3px 0px;
		position: relative;
		width: 100%;
		color: $color_3;
	}
	.accordion-collapse-medium {
		align-items: center;
		align-self: stretch;
		display: flex;
		flex: 0 0 auto;
		padding: 5px 0px;
		position: relative;
		width: 99%;
		border-top: #4b465c3a solid 1px;
		color: $color_3;
	}
	.accordion-collapse-footer {
		align-items: center;
		align-self: stretch;
		display: flex;
		flex: 0 0 auto;
		padding: 5px 0px;
		position: relative;
		width: 99%;
		border-top: #4b465c3a solid 1px;
		color: $color_3;
	}
	.chevron-right {
		height: 20px !important;
		position: relative !important;
		width: 20px !important;
	}
	.text-6 {
		align-items: flex-start;
		display: flex;
		flex: 1;
		flex-direction: column;
		flex-grow: 1;
		gap: 2px;
		position: relative;
		color: $color_3;
	}
	.row-4 {
		align-items: flex-start;
		display: flex;
		flex: 0 0 auto;
		gap: 10px;
		margin-right: -118px;
		position: relative;
		width: 658px;
	}
	.text-wrapper-20 {
		color: $color_12;
		font-family: $font-family_7;
		font-size: var(--light-basic-typography-paragraph-semi-bold-font-size);
		font-style: var(--light-basic-typography-paragraph-semi-bold-font-style);
		font-weight: var(--light-basic-typography-paragraph-semi-bold-font-weight);
		letter-spacing: var(--light-basic-typography-paragraph-semi-bold-letter-spacing);
		line-height: var(--light-basic-typography-paragraph-semi-bold-line-height);
		margin-top: -1px;
		position: relative;
		white-space: nowrap;
		width: fit-content;
	}
	.text-wrapper-21 {
		color: $color_12;
		color: $color_8;
		font-family: $font-family_6;
		font-size: var(--light-basic-typography-paragraph-small-font-size);
		font-style: var(--light-basic-typography-paragraph-small-font-style);
		font-weight: var(--light-basic-typography-paragraph-small-font-weight);
		letter-spacing: var(--light-basic-typography-paragraph-small-letter-spacing);
		line-height: .5px;
		position: relative;
	}
	.actions {
		align-items: flex-start;
		display: inline-flex;
		flex: 0 0 auto;
		position: relative;
	}
	.button-icon-instance {
		border: unset !important;
		border-color: $border-color_2 !important;
		flex: 0 0 auto !important;
	}
	.accordion-expanded {
		align-items: center;
		align-self: stretch;
		border-radius: 6px;
		display: flex;
		flex: 0 0 auto;
		flex-direction: column;
		position: relative;
		width: 100%;
	}
	.text-wrapper-22 {
		align-self: stretch;
		color: $color_12;
		font-family: $font-family_7;
		font-size: var(--light-basic-typography-paragraph-semi-bold-font-size);
		font-style: var(--light-basic-typography-paragraph-semi-bold-font-style);
		font-weight: var(--light-basic-typography-paragraph-semi-bold-font-weight);
		letter-spacing: var(--light-basic-typography-paragraph-semi-bold-letter-spacing);
		line-height: var(--light-basic-typography-paragraph-semi-bold-line-height);
		margin-top: -1px;
		position: relative;
	}
	.accordion-header {
		align-items: flex-start;
		align-self: stretch;
		display: flex;
		flex: 0 0 auto;
		flex-direction: column;
		gap: 6px;
		justify-content: center;
		padding: 0px 18px 16px 32px;
		position: relative;
		width: 100%;
	}
	.text-wrapper-23 {
		align-self: stretch;
		color: $color_9;
		font-family: $font-family_9;
		font-size: var(--light-basic-typography-h6-heading-font-size);
		font-style: var(--light-basic-typography-h6-heading-font-style);
		font-weight: var(--light-basic-typography-h6-heading-font-weight);
		letter-spacing: var(--light-basic-typography-h6-heading-letter-spacing);
		line-height: var(--light-basic-typography-h6-heading-line-height);
		margin-top: -1px;
		position: relative;
	}
	.text-7 {
		align-items: center;
		display: flex;
		flex: 1;
		flex-grow: 1;
		gap: 16px;
		position: relative;
	}
	.img-3 {
		height: 30px;
		position: relative;
		width: 50px;
	}
	.text-wrapper-24 {
		color: $color_9;
		font-family: $font-family_7;
		font-size: var(--light-basic-typography-paragraph-semi-bold-font-size);
		font-style: var(--light-basic-typography-paragraph-semi-bold-font-style);
		font-weight: var(--light-basic-typography-paragraph-semi-bold-font-weight);
		letter-spacing: var(--light-basic-typography-paragraph-semi-bold-letter-spacing);
		line-height: var(--light-basic-typography-paragraph-semi-bold-line-height);
		margin-top: -1px;
		position: relative;
		width: 178.67px;
	}
	.text-wrapper-25 {
		color: $color_8;
		font-family: $font-family_6;
		font-size: var(--light-basic-typography-paragraph-small-font-size);
		font-style: var(--light-basic-typography-paragraph-small-font-style);
		font-weight: var(--light-basic-typography-paragraph-small-font-weight);
		height: 24px;
		letter-spacing: var(--light-basic-typography-paragraph-small-letter-spacing);
		line-height: var(--light-basic-typography-paragraph-small-line-height);
		position: relative;
		white-space: nowrap;
		width: 178.67px;
	}
	.row-5 {
		align-items: flex-start;
		align-self: stretch;
		display: flex;
		flex: 0 0 auto;
		gap: 10px;
		position: relative;
		width: 100%;
	}
	.row-6 {
		align-items: flex-start;
		align-self: stretch;
		display: flex;
		flex: 0 0 auto;
		gap: 32px;
		padding: 0px 32px 16px;
		position: relative;
		width: 100%;
	}
	.row-7 {
		align-items: flex-start;
		display: inline-flex;
		flex: 0 0 auto;
		flex-direction: column;
		gap: 4px;
		position: relative;
	}
	.row-8 {
		align-items: flex-start;
		display: inline-flex;
		flex: 0 0 auto;
		gap: 24px;
		position: relative;
	}
	.text-wrapper-26 {
		color: $color_10;
		font-family: $font-family_5;
		font-size: var(--light-basic-typography-paragraph-font-size);
		font-style: var(--light-basic-typography-paragraph-font-style);
		font-weight: var(--light-basic-typography-paragraph-font-weight);
		letter-spacing: var(--light-basic-typography-paragraph-letter-spacing);
		line-height: var(--light-basic-typography-paragraph-line-height);
		margin-top: -1px;
		position: relative;
		width: 60px;
	}
	.text-wrapper-27 {
		color: $color_10;
		font-family: $font-family_5;
		font-size: var(--light-basic-typography-paragraph-font-size);
		font-style: var(--light-basic-typography-paragraph-font-style);
		font-weight: var(--light-basic-typography-paragraph-font-weight);
		letter-spacing: var(--light-basic-typography-paragraph-letter-spacing);
		line-height: var(--light-basic-typography-paragraph-line-height);
		margin-top: -1px;
		position: relative;
		width: 100px;
	}
	.row-9 {
		align-items: center;
		display: inline-flex;
		flex: 0 0 auto;
		gap: 10px;
		position: relative;
	}
	.check-wrapper {
		align-items: flex-start;
		background-color: $background-color_11;
		border-radius: 16px;
		display: inline-flex;
		flex: 0 0 auto;
		gap: 10px;
		padding: 3px;
		position: relative;
	}
	.check-3 {
		height: 14px !important;
		position: relative !important;
		width: 14px !important;
	}
}
.contactInfo-Container {
	overflow-y: scroll;
	overflow-x: hidden;
	color: $color_13;
	display: flex;
	height: 440px;
	width: 290px;
	margin-left: 5;
	padding-top: 20;
	flex-direction: column;
	border-radius: 8;
	scrollbar-width: thin;
	scrollbar-color: #88888882 transparent;
}
.infoContact {
	display: flex;
	align-self: stretch;
	line-height: 27px;
	gap: 0px;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	border-bottom: 1px solid #cccccc71;
	margin-top: 2px;
	margin-bottom: 5px;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 5px;
	color: $color_12;
	font-size: 15px;
	font-family: $font-family_1;
}
.msg-error {
	position: absolute;
	bottom: 12px;
	left: 20px;
	z-index: 999999;
}