$color1: #fff;
$color2: rgba(168, 170, 174, 1);
$color3: #4b465c9f;
$color4: #ffffff80;
$color5: transparent;
$color6: #fdfdff;
$color7: #4b465c;
$color8: var(--lighttypography-colormuted-text);
$color9: var(--lighttypography-colorheading-text);
$color10: var(--lighttypography-colorbody-text);
$color11: #e7f0eb;
$color12: #4b465cb9;
$color13: #4B465C;
$fontfamily1: sans-serif;
$fontfamily2: "Public Sans", Helvetica;
$fontfamily3: var(--light-basic-typography-caption-font-family);
$fontfamily4: var(--light-basic-typography-h4-heading-font-family);
$fontfamily5: var(--light-basic-typography-paragraph-font-family);
$fontfamily6: var(--light-basic-typography-paragraph-small-font-family);
$fontfamily7: var(--light-basic-typography-paragraph-semi-bold-font-family);
$fontfamily8: var(--light-basic-typography-h5-heading-font-family);
$fontfamily9: var(--light-basic-typography-h6-heading-font-family);
$backgroundcolor1: rgba(115, 103, 240, 1);
$backgroundcolor2: rgba(168, 170, 174, 0.397);
$backgroundcolor3: #fff;
$backgroundcolor4: #fff;
$backgroundcolor5: var(--lightsolid-colorextracard-background);
$backgroundcolor6: transparent;
$backgroundcolor7: var(--lightopacity-colorprimaryprimary-8);
$backgroundcolor8: #f85e5e;
$backgroundcolor9: #bab9bd;
$backgroundcolor10: #bababd;
$backgroundcolor11: var(--lightopacity-colorsuccesssuccess-8);
$bordercolor1: var(--lightsolid-colorextradivider);
$bordercolor2: unset;

:root {
	--light-basic-typography-caption-font-family: "PublicSans-Regular", Helvetica;
	--light-basic-typography-caption-font-size: 11;
	--light-basic-typography-caption-font-style: normal;
	--light-basic-typography-caption-font-weight: 400;
	--light-basic-typography-caption-letter-spacing: 0;
	--light-basic-typography-caption-line-height: 14;
	--light-basic-typography-h4-heading-font-family: "PublicSans-Medium", Helvetica;
	--light-basic-typography-h4-heading-font-size: 22;
	--light-basic-typography-h4-heading-font-style: normal;
	--light-basic-typography-h4-heading-font-weight: 500;
	--light-basic-typography-h4-heading-letter-spacing: 0;
	--light-basic-typography-h4-heading-line-height: 30;
	--light-basic-typography-h5-heading-font-family: "PublicSans-Medium", Helvetica;
	--light-basic-typography-h5-heading-font-size: 18;
	--light-basic-typography-h5-heading-font-style: normal;
	--light-basic-typography-h5-heading-font-weight: 500;
	--light-basic-typography-h5-heading-letter-spacing: 0;
	--light-basic-typography-h5-heading-line-height: 24;
	--light-basic-typography-h6-heading-font-family: "PublicSans-Medium", Helvetica;
	--light-basic-typography-h6-heading-font-size: 15;
	--light-basic-typography-h6-heading-font-style: normal;
	--light-basic-typography-h6-heading-font-weight: 500;
	--light-basic-typography-h6-heading-letter-spacing: 0;
	--light-basic-typography-h6-heading-line-height: 21;
	--light-basic-typography-paragraph-font-family: "PublicSans-Regular", Helvetica;
	--light-basic-typography-paragraph-font-size: 15;
	--light-basic-typography-paragraph-font-style: normal;
	--light-basic-typography-paragraph-font-weight: 400;
	--light-basic-typography-paragraph-letter-spacing: 0;
	--light-basic-typography-paragraph-line-height: 22;
	--light-basic-typography-paragraph-semi-bold-font-family: "PublicSans-SemiBold", Helvetica;
	--light-basic-typography-paragraph-semi-bold-font-size: 15;
	--light-basic-typography-paragraph-semi-bold-font-style: normal;
	--light-basic-typography-paragraph-semi-bold-font-weight: 600;
	--light-basic-typography-paragraph-semi-bold-letter-spacing: 0;
	--light-basic-typography-paragraph-semi-bold-line-height: 22;
	--light-basic-typography-paragraph-small-font-family: "PublicSans-Regular", Helvetica;
	--light-basic-typography-paragraph-small-font-size: 13;
	--light-basic-typography-paragraph-small-font-style: normal;
	--light-basic-typography-paragraph-small-font-weight: 400;
	--light-basic-typography-paragraph-small-letter-spacing: 0;
	--light-basic-typography-paragraph-small-line-height: 20;
	--light-basic-typography-paragraph-small-medium-font-family: "PublicSans-Medium", Helvetica;
	--light-basic-typography-paragraph-small-medium-font-size: 13;
	--light-basic-typography-paragraph-small-medium-font-style: normal;
	--light-basic-typography-paragraph-small-medium-font-weight: 500;
	--light-basic-typography-paragraph-small-medium-letter-spacing: 0;
	--light-basic-typography-paragraph-small-medium-line-height: 14;
	--light-button-1-button-lg-font-family: "PublicSans-Medium", Helvetica;
	--light-button-1-button-lg-font-size: 17;
	--light-button-1-button-lg-font-style: normal;
	--light-button-1-button-lg-font-weight: 500;
	--light-button-1-button-lg-letter-spacing: 0.4300000071525574px;
	--light-button-1-button-lg-line-height: 22;
	--light-button-2-button-default-font-family: "PublicSans-Medium", Helvetica;
	--light-button-2-button-default-font-size: 15;
	--light-button-2-button-default-font-style: normal;
	--light-button-2-button-default-font-weight: 500;
	--light-button-2-button-default-letter-spacing: 0.4300000071525574px;
	--light-button-2-button-default-line-height: 18;
	--light-button-3-button-small-font-family: "PublicSans-Medium", Helvetica;
	--light-button-3-button-small-font-size: 13;
	--light-button-3-button-small-font-style: normal;
	--light-button-3-button-small-font-weight: 500;
	--light-button-3-button-small-letter-spacing: 0.4300000071525574;
	--light-button-3-button-small-line-height: 16;
	--light-danger-danger-sm: 0 2 3 0 rgba(234, 84, 85, 0.3);
	--light-gray-card: 0 4 18 0 rgba(75, 70, 92, 0.1);
	--light-gray-gray-sm: 0 2 4 0 rgba(165, 163, 174, 0.3);
	--light-info-info-sm: 0 2 3 0 rgba(0, 207, 232, 0.3);
	--light-primary-primary-sm: 0 2 3 0 rgba(115, 103, 240, 0.3);
	--light-secondary-secondary-sm: 0 2 3 0 rgba(168, 170, 174, 0.3);
	--light-success-success-sm: 0 2 3 0 rgba(40, 199, 111, 0.3);
	--light-warning-warning-sm: 0 2 3 0 rgba(255, 159, 67, 0.3);
	--lightopacity-colordangerdanger-16: rgba(234, 84, 85, 0.16);
	--lightopacity-colordangerdanger-24: rgba(234, 84, 85, 0.24);
	--lightopacity-colordangerdanger-8: rgba(234, 84, 85, 0.08);
	--lightopacity-colorextradark-16: rgba(75, 75, 75, 0.16);
	--lightopacity-colorextramenu-hover: rgba(75, 70, 92, 0.04);
	--lightopacity-colorgraygray-8: rgba(75, 70, 92, 0.08);
	--lightopacity-colorinfoinfo-16: rgba(0, 207, 232, 0.16);
	--lightopacity-colorinfoinfo-24: rgba(0, 207, 232, 0.24);
	--lightopacity-colorinfoinfo-8: rgba(0, 207, 232, 0.08);
	--lightopacity-colorprimaryprimary-16: rgba(115, 103, 240, 0.16);
	--lightopacity-colorprimaryprimary-24: rgba(115, 103, 240, 0.24);
	--lightopacity-colorprimaryprimary-8: rgba(115, 103, 240, 0.08);
	--lightopacity-colorsecondarysecondary-16: rgba(168, 170, 174, 0.16);
	--lightopacity-colorsecondarysecondary-24: rgba(168, 170, 174, 0.24);
	--lightopacity-colorsecondarysecondary-8: rgba(168, 170, 174, 0.08);
	--lightopacity-colorsuccesssuccess-16: rgba(40, 199, 111, 0.16);
	--lightopacity-colorsuccesssuccess-24: rgba(40, 199, 111, 0.24);
	--lightopacity-colorsuccesssuccess-8: rgba(40, 199, 111, 0.08);
	--lightopacity-colorwarningwarning-16: rgba(255, 159, 67, 0.16);
	--lightopacity-colorwarningwarning-24: rgba(255, 159, 67, 0.24);
	--lightopacity-colorwarningwarning-8: rgba(255, 159, 67, 0.08);
	--lightsolid-colordangerdanger-400: rgba(234, 84, 85, 1);
	--lightsolid-colordangerdanger-500-base: rgba(234, 84, 85, 1);
	--lightsolid-colordangerdanger-600-hover: rgba(234, 84, 85, 1);
	--lightsolid-colorextracard-background: rgba(255, 255, 255, 1);
	--lightsolid-colorextradark: rgba(75, 75, 75, 1);
	--lightsolid-colorextradivider: rgba(219, 218, 222, 1);
	--lightsolid-colorextrawhite: rgba(255, 255, 255, 1);
	--lightsolid-colorinfoinfo-400: rgba(0, 207, 232, 1);
	--lightsolid-colorinfoinfo-500-base: rgba(0, 207, 232, 1);
	--lightsolid-colorinfoinfo-600-hover: rgba(0, 207, 232, 1);
	--lightsolid-colorprimaryprimary-400: rgba(115, 103, 240, 1);
	--lightsolid-colorprimaryprimary-500-base: rgba(115, 103, 240, 1);
	--lightsolid-colorprimaryprimary-600-hover: rgba(115, 103, 240, 1);
	--lightsolid-colorsecondarysecondary-400: rgba(168, 170, 174, 1);
	--lightsolid-colorsecondarysecondary-500-base: rgba(168, 170, 174, 1);
	--lightsolid-colorsecondarysecondary-600-hover: rgba(168, 170, 174, 1);
	--lightsolid-colorsuccesssuccess-400: rgba(40, 199, 111, 1);
	--lightsolid-colorsuccesssuccess-500-base: rgba(40, 199, 111, 1);
	--lightsolid-colorsuccesssuccess-600-hover: rgba(40, 199, 111, 1);
	--lightsolid-colorwarningwarning-400: rgba(255, 159, 67, 1);
	--lightsolid-colorwarningwarning-500-base: rgba(255, 159, 67, 1);
	--lightsolid-colorwarningwarning-600-hover: rgba(255, 159, 67, 1);
	--lighttypography-colorbody-text: rgba(75, 70, 92, 0.801);
	--lighttypography-colorheading-text: rgba(75, 70, 92, 0.8013);
	--lighttypography-colormuted-text: rgba(75, 70, 92, 0.693);
}

.buttonContainer {
	display: inline-flex;
	gap: 5px;
	margin: 5px;
	margin-left: 3px;
}

.blueButton {
	display: flex;
	align-items: center;
	margin-right: 1px;
	border: none;
	border-radius: 5px;
	padding: 10px 7px;
	background-color: $backgroundcolor1;
	color: $color1;
	font-weight: inherit;
	cursor: pointer;
}

.grayButton {
	display: flex;
	align-items: center;
	margin-right: 1px;
	border: none;
	border-radius: 5px;
	padding: 10px 7px;
	background-color: $backgroundcolor2;
	color: $color2;
	font-weight: inherit;
	cursor: pointer;
}

.card-wrapper {
	position: relative;
	display: flex;
	flex: 1;
	flex-direction: column;
	flex-grow: 1;
	align-items: center;
	gap: 6px;
	height: auto;
	background-color: $backgroundcolor3;
	color: $color3;
}

.row-container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	align-self: stretch;
	width: 100%;
	border-radius: 6px;
	color: $color3;
}

.index {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: $backgroundcolor4;
	font-family: $fontfamily1;
	
	.div-4 {
		position: relative;
		width: 1440px;
		height: 104px;
		background-color: $backgroundcolor4;
	}

	.overlap-4 {
		position: absolute;
		top: 0;
		left: 0;
		width: 83px;
		height: 1080px;
	}

	.menu {
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 83px;
		height: 1080px;
		padding: 0 10px;
		background-color: $backgroundcolor5;
		box-shadow: var(--light-gray-gray-SM);
	}

	.div-5 {
		position: relative;
		flex: 0 0 auto;
		align-self: stretch;
		width: 100%;
	}

	.section {
		position: relative;
		display: flex;
		flex: 0 0 auto;
		align-items: center;
		align-self: stretch;
		gap: 8px;
		width: 100%;
		border-radius: 6px;
		padding: 19px 30px 5px;
	}

	.text-wrapper-4 {
		position: relative;
		flex: 1;
		margin-top: -1px;
		color: $color4;
		font-family: $fontfamily2;
		font-size: 11px;
		font-weight: 400;
		line-height: 14px;
		letter-spacing: 0;
	}

	.list {
		position: relative;
		display: flex;
		flex: 0 0 auto;
		align-items: center;
		align-self: stretch;
		width: 100%;
		border-radius: 6px;
		padding: 8px 30px 8px 29px;
		gap: 8px;
		background-color: $backgroundcolor4;
	}

	.icon-instance-node {
		position: relative !important;
		width: 22px !important;
		height: 22px !important;
	}

	.div-6 {
		position: relative;
		display: flex;
		flex: 0 0 auto;
		flex-direction: column;
		align-items: flex-start;
		align-self: stretch;
		gap: 4vh;
		width: 100%;
		padding: 0 14;
	}

	.list-2 {
		position: relative;
		display: flex;
		flex: 0 0 auto;
		align-items: center;
		align-self: stretch;
		width: 100%;
		border-radius: 6vh;
		padding: 8 16;
		gap: 8vh;
	}

	.file-dollar-instance {
		position: relative !important;
		width: 22px !important;
		height: 22px !important;
		margin-top: -15664.51vh !important;
		margin-left: -4503vh !important;
		background-image: url(https://cdn.animaapp.com/projects/654154912a46b119340afa31/releases/65bb83897b26ce5f64b90797/img/path-26@2x.png) !important;
	}

	.file-dollar-2 {
		width: 14vh !important;
		height: 18vh !important;
	}

	.file-dollar-3 {
		left: 8vh !important;
	}

	.file-dollar-4 {
		top: 7vh !important;
		width: 5vh !important;
		height: 7vh !important;
	}

	.file-dollar-5 {
		top: 6vh !important;
		left: 6vh !important;
		height: 9vh !important;
	}

	.FUNIL-DE-VENDAS {
		position: relative;
		flex: 1;
		margin-top: -1vh;
		color: $color5;
		font-family: $fontfamily3;
		font-size: var(--light-basic-typography-caption-font-size);
		font-style: var(--light-basic-typography-caption-font-style);
		font-weight: var(--light-basic-typography-caption-font-weight);
		line-height: var(--light-basic-typography-caption-line-height);
		letter-spacing: var(--light-basic-typography-caption-letter-spacing);
	}

	.span {
		color: $color6;
		font-family: $fontfamily3;
		font-size: var(--light-basic-typography-caption-font-size);
		font-style: var(--light-basic-typography-caption-font-style);
		font-weight: var(--light-basic-typography-caption-font-weight);
		line-height: var(--light-basic-typography-caption-line-height);
		letter-spacing: var(--light-basic-typography-caption-letter-spacing);
	}

	.text-wrapper-5 {
		color: $color7;
		font-family: $fontfamily3;
		font-size: var(--light-basic-typography-caption-font-size);
		font-style: var(--light-basic-typography-caption-font-style);
		font-weight: var(--light-basic-typography-caption-font-weight);
		line-height: var(--light-basic-typography-caption-line-height);
		letter-spacing: var(--light-basic-typography-caption-letter-spacing);
	}

	.text-wrap-disabled-instance {
		width: 22vh !important;
		height: 22vh !important;
		margin-top: -15740.51vh !important;
		margin-left: -4503vh !important;
		background-image: url(https://cdn.animaapp.com/projects/654154912a46b119340afa31/releases/65bb83897b26ce5f64b90797/img/path-26@2x.png) !important;
	}

	.text-wrap-disabled-2 {
		width: 11vh !important;
	}

	.text-wrap-disabled-3 {
		top: 16vh !important;
		width: 11vh !important;
	}

	.text-wrap-disabled-4 {
		width: 17px !important;
		height: 7px !important;
	}

  .AJUDA {
		position: relative;
		flex: 1;
		margin-top: -1vh;
		color: $color4;
		font-family: $fontfamily3;
		font-size: var(--light-basic-typography-caption-font-size);
		font-style: var(--light-basic-typography-caption-font-style);
		font-weight: var(--light-basic-typography-caption-font-weight);
		line-height: var(--light-basic-typography-caption-line-height);
		letter-spacing: var(--light-basic-typography-caption-letter-spacing);
	}

	.image {
		object-fit: cover;
		position: absolute;
		top: 34px;
		left: 28px;
		width: 29px;
		height: 26px;
	}

	.container {
		position: absolute;
		top: 0;
		left: 111vh;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 1303vh;
		padding: 16 0 0;
		gap: 26vh;
	}

	.navbar-instance {
		align-self: stretch !important;
		width: 100% !important;
	}

	.text-wrapper-6 {
		position: relative;
		align-self: stretch;
		color: $color8;
		font-family: $fontfamily4;
		font-size: var(--light-basic-typography-h4-heading-font-size);
		font-style: var(--light-basic-typography-h4-heading-font-style);
		font-weight: var(--light-basic-typography-h4-heading-font-weight);
		line-height: var(--light-basic-typography-h4-heading-line-height);
		letter-spacing: var(--light-basic-typography-h4-heading-letter-spacing);
	}

	.header {
		position: relative;
		display: flex;
		flex: 0 0 auto;
		align-items: center;
		align-self: stretch;
		width: 100%;
		gap: 26vh;
		background-color: $backgroundcolor6;
	}

	.heading-text {
		position: relative;
		display: flex;
		flex: 1;
		flex-direction: column;
		flex-grow: 1;
		align-items: flex-start;
		gap: 4vh;
	}

	.text-wrapper-7 {
		position: relative;
		width: fit-content;
		margin-top: -1vh;
		color: $color9;
		font-family: $fontfamily4;
		font-size: var(--light-basic-typography-h4-heading-font-size);
		font-style: var(--light-basic-typography-h4-heading-font-style);
		font-weight: var(--light-basic-typography-h4-heading-font-weight);
		line-height: var(--light-basic-typography-h4-heading-line-height);
		letter-spacing: var(--light-basic-typography-h4-heading-letter-spacing);
		white-space: nowrap;
	}

	.text-wrapper-8 {
		position: relative;
		align-self: stretch;
		color: $color10;
		font-family: $fontfamily5;
		font-size: var(--light-basic-typography-paragraph-font-size);
		font-style: var(--light-basic-typography-paragraph-font-style);
		font-weight: var(--light-basic-typography-paragraph-font-weight);
		line-height: var(--light-basic-typography-paragraph-line-height);
		letter-spacing: var(--light-basic-typography-paragraph-letter-spacing);
	}

	.buttons {
		position: relative;
		display: inline-flex;
		flex: 0 0 auto;
		align-items: flex-start;
		gap: 16vh;
	}

	.button-instance {
		flex: 0 0 auto !important;
		justify-content: unset !important;
	}
	
	.button-2 {
		justify-content: unset !important;
	}

	.body {
		position: relative;
		display: flex;
		flex: 0 0 auto;
		flex-direction: column;
		align-items: flex-start;
		align-self: stretch;
		gap: 26vh;
		width: 100%;
	}

	.row {
		position: relative;
		display: flex;
		flex: 0 0 auto;
		align-items: flex-start;
		width: 100%;
		align-self: stretch;
		gap: 26;
	}

	.row-2 {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 360vh;
		gap: 26;
	}

	.card {
		position: relative;
		display: flex;
		flex: 0 0 auto;
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
		align-self: stretch;
		margin-bottom: 15;
		border: 1px solid rgba(166, 166, 166, 0.119);
		border-radius: 6;
		padding: 0 0 0 5;
		background-color: $backgroundcolor3;
		box-shadow: var(--light-gray-card);
	}

	.card-top {
		position: relative;
		display: flex;
		flex: 0 0 auto;
		flex-direction: column;
		align-self: stretch;
		width: 100%;
		margin-bottom: 10;
		border: 1 solid rgba(166, 166, 166, 0.119);
		border-radius: 6;
		padding: 0 0 0 5;
		background-color: $backgroundcolor3;
		box-shadow: var(--light-gray-card);
	}

	.user-info {
		position: relative;
		display: flex;
		flex: 0 0 auto;
		flex-direction: column;
		align-items: flex-start;
		align-self: stretch;
		width: 100%;
		padding: 24vh;
		gap: 24vh
		;
	}
	
	.data {
		position: relative;
		display: flex;
		flex: 0 0 auto;
		flex-direction: column;
		align-items: center;
		align-self: stretch;
		width: 100;
		padding: 30 0 0;
		gap: 16vh;
	}

	.queiroz-galvo-logo {
		position: relative;
		object-fit: cover;
		width: 171vh;
		height: 49vh;
	}

	.data-2 {
		position: relative;
		display: flex;
		flex: 0 0 auto;
		flex-direction: column;
		align-items: center;
		align-self: stretch;
		width: 100%;
	}

	.text-wrapper-9 {
		position: relative;
		width: 284vh;
		margin-top: -1vh;
		color: $color9;
		font-family: $fontfamily4;
		font-size: var(--light-basic-typography-h4-heading-font-size);
		font-style: var(--light-basic-typography-h4-heading-font-style);
		font-weight: var(--light-basic-typography-h4-heading-font-weight);
		line-height: var(--light-basic-typography-h4-heading-line-height);
		letter-spacing: var(--light-basic-typography-h4-heading-letter-spacing);
		text-align: center;
	}

	.text-wrapper-10 {
		position: relative;
		width: fit-content;
		color: $color10;
		font-family: $fontfamily6;
		font-size: var(--light-basic-typography-paragraph-small-font-size);
		font-style: var(--light-basic-typography-paragraph-small-font-style);
		font-weight: var(--light-basic-typography-paragraph-small-font-weight);
		line-height: var(--light-basic-typography-paragraph-small-line-height);
		letter-spacing: var(--light-basic-typography-paragraph-small-letter-spacing);
		white-space: nowrap;
	}

	.list-3 {
		position: relative;
		display: inline-flex;
		flex: 0 0 auto;
		align-items: flex-start;
		gap: 20;
		padding: 24 0 0;
	}

	.div-7 {
		position: relative;
		display: inline-flex;
		flex: 0 0 auto;
		align-items: center;
		gap: 10vh;
		border: 0 none;
		border-color: $bordercolor1;
	}

	.icon {
		position: relative;
		display: inline-flex;
		flex: 0 0 auto;
		align-items: flex-start;
		border-radius: 6;
		padding: 5;
		gap: 10;
		background-color: $backgroundcolor7;
	}

	.shopping-cart {
		position: relative !important;
		width: 28vh !important;
		height: 28vh !important;
	}

	.text-5 {
		position: relative;
		display: inline-flex;
		flex: 0 0 auto;
		flex-direction: column;
		align-items: flex-start;
	}

	.text-wrapper-11 {
		position: relative;
		width: fit-content;
		margin-top: -1vh;
		color: $color10;
		font-family: $fontfamily7;
		font-size: var(--light-basic-typography-paragraph-semi-bold-font-size);
		font-style: var(--light-basic-typography-paragraph-semi-bold-font-style);
		font-weight: var(--light-basic-typography-paragraph-semi-bold-font-weight);
		line-height: var(--light-basic-typography-paragraph-semi-bold-line-height);
		letter-spacing: var(--light-basic-typography-paragraph-semi-bold-letter-spacing);
		white-space: nowrap;
	}

	.text-wrapper-12 {
		position: relative;
		width: fit-content;
		margin-top: -2vh;
		color: $color10;
		font-family: $fontfamily6;
		font-size: var(--light-basic-typography-paragraph-small-font-size);
		font-style: var(--light-basic-typography-paragraph-small-font-style);
		font-weight: var(--light-basic-typography-paragraph-small-font-weight);
		line-height: var(--light-basic-typography-paragraph-small-line-height);
		letter-spacing: var(--light-basic-typography-paragraph-small-letter-spacing);
		white-space: nowrap;
	}

	.currency-dollar-instance {
		position: relative !important;
		width: 28vh !important;
		height: 28vh !important;
		margin-top: -15638vh !important;
		margin-left: -4767.5vh !important;
		background-image: url(https://cdn.animaapp.com/projects/654154912a46b119340afa31/releases/65bb83897b26ce5f64b90797/img/path-26@2x.png) !important;
	}

	.currency-dollar-2 {
		top: 3vh !important;
		left: 7vh !important;
		width: 13vh !important;
		height: 22vh !important;
	}

	.currency-dollar-3 {
		top: 4vh !important;
		width: 13vh !important;
		height: 16vh !important;
	}

	.currency-dollar-4 {
		left: 6vh !important;
		height: 22vh !important;
	}

	.group {
		position: absolute;
		top: 0;
		left: 193vh;
		width: 121vh;
		height: 24vh;
	}

	.text-wrapper-13 {
		position: absolute;
		top: 0;
		left: 0;
		color: $color10;
		font-family: $fontfamily6;
		font-size: var(--light-basic-typography-paragraph-small-font-size);
		font-style: var(--light-basic-typography-paragraph-small-font-style);
		font-weight: var(--light-basic-typography-paragraph-small-font-weight);
		line-height: var(--light-basic-typography-paragraph-small-line-height);
		letter-spacing: var(--light-basic-typography-paragraph-small-letter-spacing);
		white-space: nowrap;
	}

	.badge-instance {
		position: absolute !important;
		top: 0 !important;
		left: 73vh !important;
		background-color: $backgroundcolor8 !important;
	}

	.badge-2 {
		color: $color11 !important;
	}

	.divider {
		position: relative;
		align-self: stretch;
		object-fit: cover;
		width: 100%;
		height: 1vh;
	}

	.data-3 {
		position: relative;
		display: flex;
		flex: 0 0 auto;
		flex-direction: column;
		align-items: flex-start;
		align-self: stretch;
		width: 100%;
		gap: 16vh;
	}

	.text-wrapper-14 {
		position: relative;
		align-self: stretch;
		margin-top: -1vh;
		color: $color8;
		font-family: $fontfamily6;
		font-size: var(--light-basic-typography-paragraph-small-font-size);
		font-style: var(--light-basic-typography-paragraph-small-font-style);
		font-weight: var(--light-basic-typography-paragraph-small-font-weight);
		line-height: var(--light-basic-typography-paragraph-small-line-height);
		letter-spacing: var(--light-basic-typography-paragraph-small-letter-spacing);
	}

	.list-4 {
		position: relative;
		display: flex;
		flex: 0 0 auto;
		flex-direction: column;
		align-items: flex-start;
		align-self: stretch;
		width: 100%;
		gap: 12px;
	}

	.p {
		position: relative;
		width: 284px;
		margin-top: -1px;
		color: $color10;
		font-family: $fontfamily2;
		font-size: 15px;
		font-weight: 400;
		line-height: 22px;
		letter-spacing: 0;
	}

	.text-wrapper-15 {
		color: $color7;
		font-family: $fontfamily7;
		font-size: var(--light-basic-typography-paragraph-semi-bold-font-size);
		font-style: var(--light-basic-typography-paragraph-semi-bold-font-style);
		font-weight: var(--light-basic-typography-paragraph-semi-bold-font-weight);
		line-height: var(--light-basic-typography-paragraph-semi-bold-line-height);
		letter-spacing: var(--light-basic-typography-paragraph-semi-bold-letter-spacing);
	}

	.text-wrapper-16 {
		color: $color7;
		font-family: $fontfamily5;
		font-size: var(--light-basic-typography-paragraph-font-size);
		font-style: var(--light-basic-typography-paragraph-font-style);
		font-weight: var(--light-basic-typography-paragraph-font-weight);
		line-height: var(--light-basic-typography-paragraph-line-height);
		letter-spacing: var(--light-basic-typography-paragraph-letter-spacing);
	}

	.div-8 {
		position: relative;
		width: 284px;
		color: $color10;
		font-family: $fontfamily2;
		font-size: 15px;
		font-weight: 400;
		line-height: 22px;
		letter-spacing: 0;
	}

	.status-2 {
		position: relative;
		display: flex;
		flex: 0 0 auto;
		align-items: center;
		align-self: stretch;
		width: 100%;
		gap: 10px;
	}

	.text-wrapper-17 {
		position: relative;
		width: fit-content;
		color: $color10;
		font-family: $fontfamily7;
		font-size: var(--light-basic-typography-paragraph-semi-bold-font-size);
		font-style: var(--light-basic-typography-paragraph-semi-bold-font-style);
		font-weight: var(--light-basic-typography-paragraph-semi-bold-font-weight);
		line-height: var(--light-basic-typography-paragraph-semi-bold-line-height);
		letter-spacing: var(--light-basic-typography-paragraph-semi-bold-letter-spacing);
		white-space: nowrap;
	}

	.badge-3 {
		flex: 0 0 auto !important;
	}

	.text-wrapper-18 {
		color: $color7;
	}

	.button-3 {
		left: 2px !important;
		justify-content: unset !important;
		background-color: $backgroundcolor9 !important;
	}

	.button-4 {
		justify-content: unset !important;
		background-color: $backgroundcolor10 !important;
	}

	.button-5 {
		position: absolute !important;
		top: 277px !important;
		left: 227px !important;
		justify-content: unset !important;
	}

	.row-wrapper {
		position: relative;
		display: flex;
		flex: 0 0 auto;
		flex-direction: column;
		align-items: flex-start;
		align-self: stretch;
		width: 100%;
		margin-bottom: -196px;
		border-radius: 6px;
		background-color: $backgroundcolor5;
		box-shadow: var(--light-gray-card);
	}

	.row-3 {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 26px;
		width: 742px;
		height: 1057px;
	}

	.list-5 {
		position: relative;
		display: flex;
		flex: 0 0 auto;
		align-items: center;
		width: 742px;
	}

	.button-6 {
		color: $color9 !important;
	}

	.button-7 {
		flex: 0 0 auto !important;
		justify-content: unset !important;
		border: unset !important;
		border-color: $bordercolor2 !important;
	}

	.card-heading {
		position: relative;
		display: flex;
		flex: 0 0 auto;
		align-items: flex-start;
		align-self: stretch;
		width: 92%;
		padding: 24px 24px 0;
	}

	.text-wrapper-19 {
		position: relative;
		flex: 1;
		margin-top: -1px;
		color: $color9;
		font-family: $fontfamily8;
		font-size: var(--light-basic-typography-h5-heading-font-size);
		font-style: var(--light-basic-typography-h5-heading-font-style);
		font-weight: var(--light-basic-typography-h5-heading-font-weight);
		line-height: var(--light-basic-typography-h5-heading-line-height);
		letter-spacing: var(--light-basic-typography-h5-heading-letter-spacing);
	}

	.card-body {
		position: relative;
		display: flex;
		flex: 0 0 auto;
		flex-direction: column;
		align-items: flex-start;
		align-self: stretch;
		gap: 1px;
		width: 100%;
		padding: 4px;
	}

	.card-body-top {
		position: relative;
		display: flex;
		flex: 0 0 auto;
		flex-direction: column;
		align-items: flex-start;
		align-self: stretch;
		gap: 1px;
		height: 80px;
		padding: 4px 8px 4px 4px;
	}

	.accordion-without {
		position: relative;
		display: flex;
		flex: 0 0 auto;
		flex-direction: column;
		align-items: flex-start;
		align-self: stretch;
		width: 100%;
	}

	.body-content {
		overflow-y: auto;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		align-self: stretch;
		width: 100%;
		height: 80px;
	}

	.accordion-collapse {
		position: relative;
		display: flex;
		flex: 0 0 auto;
		align-items: center;
		align-self: stretch;
		gap: 1px;
		width: 100%;
		border-radius: 6px;
		padding: 3px 0;
		color: $color3;
	}

	.accordion-collapse-medium {
		position: relative;
		display: flex;
		flex: 0 0 auto;
		align-items: center;
		align-self: stretch;
		width: 99%;
		border-top: #4b465c3a solid 1px;
		padding: 5px 0;
		color: $color3;
	}

	.accordion-collapse-footer {
		position: relative;
		display: flex;
		flex: 0 0 auto;
		align-items: center;
		align-self: stretch;
		width: 99%;
		border-top: #4b465c3a solid 1px;
		padding: 5px 0;
		color: $color3;
	}

	.chevron-right {
		position: relative !important;
		width: 20px !important;
		height: 20px !important;
	}

	.text-6 {
		position: relative;
		display: flex;
		flex: 1;
		flex-direction: column;
		flex-grow: 1;
		align-items: flex-start;
		gap: 2px;
		color: $color3;
	}

	.row-4 {
		position: relative;
		display: flex;
		flex: 0 0 auto;
		align-items: flex-start;
		width: 658px;
		gap: 10px;
		margin-right: -118px;
	}

	.text-wrapper-20 {
		position: relative;
		width: fit-content;
		margin-top: -1px;
		color: $color12;
		font-family: $fontfamily7;
		font-size: var(--light-basic-typography-paragraph-semi-bold-font-size);
		font-style: var(--light-basic-typography-paragraph-semi-bold-font-style);
		font-weight: var(--light-basic-typography-paragraph-semi-bold-font-weight);
		line-height: var(--light-basic-typography-paragraph-semi-bold-line-height);
		letter-spacing: var(--light-basic-typography-paragraph-semi-bold-letter-spacing);
		white-space: nowrap;
	}

	.text-wrapper-21 {
		position: relative;
		color: $color12;
		font-family: $fontfamily6;
		font-size: var(--light-basic-typography-paragraph-small-font-size);
		font-style: var(--light-basic-typography-paragraph-small-font-style);
		font-weight: var(--light-basic-typography-paragraph-small-font-weight);
		line-height: .5px;
		letter-spacing: var(--light-basic-typography-paragraph-small-letter-spacing);
	}

	.actions {
		position: relative;
		display: inline-flex;
		flex: 0 0 auto;
		align-items: flex-start;
	}

	.button-icon-instance {
		flex: 0 0 auto !important;
		border: unset !important;
		border-color: $bordercolor2 !important;
	}
	
	.accordion-expanded {
		position: relative;
		display: flex;
		flex: 0 0 auto;
		flex-direction: column;
		align-items: center;
		align-self: stretch;
		width: 100%;
		border-radius: 6px;
	}

	.text-wrapper-22 {
		position: relative;
		align-self: stretch;
		margin-top: -1px;
		color: $color12;
		font-family: $fontfamily7;
		font-size: var(--light-basic-typography-paragraph-semi-bold-font-size);
		font-style: var(--light-basic-typography-paragraph-semi-bold-font-style);
		font-weight: var(--light-basic-typography-paragraph-semi-bold-font-weight);
		line-height: var(--light-basic-typography-paragraph-semi-bold-line-height);
		letter-spacing: var(--light-basic-typography-paragraph-semi-bold-letter-spacing);
	}

	.accordion-header {
		position: relative;
		display: flex;
		flex: 0 0 auto;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		align-self: stretch;
		gap: 6px;
		width: 100%;
		padding: 0 18px 16px 32px;
	}

	.text-wrapper-23 {
		position: relative;
		align-self: stretch;
		margin-top: -1px;
		color: $color9;
		font-family: $fontfamily9;
		font-size: var(--light-basic-typography-h6-heading-font-size);
		font-style: var(--light-basic-typography-h6-heading-font-style);
		font-weight: var(--light-basic-typography-h6-heading-font-weight);
		line-height: var(--light-basic-typography-h6-heading-line-height);
		letter-spacing: var(--light-basic-typography-h6-heading-letter-spacing);
	}

	.text-7 {
		position: relative;
		display: flex;
		flex: 1;
		align-items: center;
		flex-grow: 1;
		gap: 16px;
	}

	.img-3 {
		position: relative;
		width: 50px;
		height: 30px;
	}
	
	.text-wrapper-24 {
		position: relative;
		width: 178.67px;
		margin-top: -1px;
		color: $color9;
		font-family: $fontfamily7;
		font-size: var(--light-basic-typography-paragraph-semi-bold-font-size);
		font-style: var(--light-basic-typography-paragraph-semi-bold-font-style);
		font-weight: var(--light-basic-typography-paragraph-semi-bold-font-weight);
		line-height: var(--light-basic-typography-paragraph-semi-bold-line-height);
		letter-spacing: var(--light-basic-typography-paragraph-semi-bold-letter-spacing);
	}

	.text-wrapper-25 {
		position: relative;
		width: 178.67px;
		height: 24px;
		color: $color8;
		font-family: $fontfamily6;
		font-size: var(--light-basic-typography-paragraph-small-font-size);
		font-style: var(--light-basic-typography-paragraph-small-font-style);
		font-weight: var(--light-basic-typography-paragraph-small-font-weight);
		line-height: var(--light-basic-typography-paragraph-small-line-height);
		letter-spacing: var(--light-basic-typography-paragraph-small-letter-spacing);
		white-space: nowrap;
	}

	.row-5 {
		position: relative;
		display: flex;
		flex: 0 0 auto;
		align-items: flex-start;
		align-self: stretch;
		gap: 10px;
		width: 100%;
	}

	.row-6 {
		position: relative;
		display: flex;
		flex: 0 0 auto;
		align-items: flex-start;
		align-self: stretch;
		gap: 32px;
		width: 100%;
		padding: 0 32px 16px;
	}

	.row-7 {
		position: relative;
		display: inline-flex;
		flex: 0 0 auto;
		flex-direction: column;
		align-items: flex-start;
		gap: 4px;
	}

	.row-8 {
		position: relative;
		display: inline-flex;
		flex: 0 0 auto;
		align-items: flex-start;
		gap: 24px;
	}

	.text-wrapper-26 {
		position: relative;
		width: 60px;
		margin-top: -1px;
		color: $color10;
		font-family: $fontfamily5;
		font-size: var(--light-basic-typography-paragraph-font-size);
		font-style: var(--light-basic-typography-paragraph-font-style);
		font-weight: var(--light-basic-typography-paragraph-font-weight);
		line-height: var(--light-basic-typography-paragraph-line-height);
		letter-spacing: var(--light-basic-typography-paragraph-letter-spacing);
	}

	.text-wrapper-27 {
		position: relative;
		width: 100px;
		margin-top: -1px;
		color: $color10;
		font-family: $fontfamily5;
		font-size: var(--light-basic-typography-paragraph-font-size);
		font-style: var(--light-basic-typography-paragraph-font-style);
		font-weight: var(--light-basic-typography-paragraph-font-weight);
		line-height: var(--light-basic-typography-paragraph-line-height);
		letter-spacing: var(--light-basic-typography-paragraph-letter-spacing);
	}

	.row-9 {
		position: relative;
		display: inline-flex;
		flex: 0 0 auto;
		align-items: center;
		gap: 10px;
	}

	.check-wrapper {
		position: relative;
		display: inline-flex;
		flex: 0 0 auto;
		align-items: flex-start;
		border-radius: 16px;
		padding: 3px;
		background-color: $backgroundcolor11;
		gap: 10px;
	}

	.check-3 {
		position: relative !important;
		width: 14px !important;
		height: 14px !important;
	}
}

.contactInfo-Container {
	overflow-x: hidden;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
	width: 290px;
	height: 440px;
	margin-left: 5;
	border-radius: 8;
	padding-top: 20;
	color: $color13;
	scrollbar-width: thin;
	scrollbar-color: #88888882 transparent;
}

.infoContact {
	display: flex;
	align-self: stretch;
	flex-direction: column;
	justify-content: flex-start;
	gap: 0;
	align-items: flex-start;
	margin-top: 2px;
	margin-bottom: 5px;
	border-bottom: 1px solid #cccccc71;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	color: $color12;
	font-family: $fontfamily1;
	font-size: 15px;
	line-height: 27px;
}

.msg-error {
	position: absolute;
	bottom: 12px;
	left: 20px;
	z-index: 999999;
}