@import '~@material/list/mdc-list';
@import 'variables';

.mdc-list {
  /**
    Special use case for application side-bar showing list of folders
   */
  .mdc-list-item__folder-item {
    overflow: visible;
    position: relative;
    margin: 0;

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }

    &:hover {
      z-index: map-get($z-index, troposhere);
      background-color: rgba(#000, 0.04);
      transition: background 75ms linear;
    }

    &:active {
      background-color: rgba(#000, 0.16);
      transition: background 75ms linear;
    }

    &.mdc-list-item--activated {
      background-color: rgba($mdc-theme-primary, 0.12);
    }
    
    &.mdc-list-item--selected {
      background-color: rgba($mdc-theme-primary, 0.09);

      .mdc-list-item__graphic {
        color: $mdc-theme-primary;
      }
    }
  }
}
