@import 'variables';
/*
  Pre-fetches images or assets used through the application
 */
body {
  &::after {
    content: url('https://source.unsplash.com/collection/4509660/1920x1080');
    overflow:hidden;
    position:absolute;
    z-index: map-get($z-index, inner-core);
    width:0;
    height:0;
  }
}