$color_1: #000;
$color_2: #f0a500;
$color_3: #fff;
$background-color_1: #f9f9f9;
$background-color_2: #1976d2;
$background-color_3: #3700b3;
$background-color_4: #c0c0c0;
$border-color_1: #3700b3;
$border-right-color_1: #f0a500;

.modal-form {
	width: 100%;
	width: auto;
	
	h2 {
		color: $color_1;
	}
}

.form-content {
	overflow-x: hidden;
	overflow-y: auto;
	height: calc(70vh - 120px);
	margin-bottom: 60px;
}

.form-group {
	margin-bottom: 10px;
	padding-right: 5px;

	label {
		display: block;
		margin-bottom: 5px;
		color: $color_1;
	}
}

.form-group-check-box {
	box-sizing: border-box;
	display: inline-flex;
	align-items: center;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 15px;
	padding-right: 5px;
}

.form-input-check-box {
	width: 20px;
	height: 20px;
}

.form-input {
	box-sizing: border-box;
	flex: 1;
	width: 100%;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
	padding: 1em;
	background-color: $background-color_1;
	line-height: 1.4;
	-webkit-transition: 0.35s ease-in-out;
	-moz-transition: 0.35s ease-in-out;
	-o-transition: 0.35s ease-in-out;
	transition: 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;

	&:focus {
		border-color: $border-color_1;
		outline: 0;

		+ {
			.input-icon {
				i {
					color: $color_2;
				}

				&:after {
					border-right-color: $border-right-color_1;
				}
			}
		}
	}
}

.form-submit-button {
	position: absolute;
	right: 15px;
	bottom: 15px;
	border: none;
	border-radius: 4px;
	padding: 5px 10px;
	background-color: $background-color_2;
	color: $color_3;
	font-size: 1rem;
	cursor: pointer;

	&:hover {
		background-color: $background-color_3;
	}

	&:disabled {
		background-color: $background-color_4;
		cursor: not-allowed;
	}

}