.modal-form {
  width: 100%;
  width: auto;
}

.modal-form h2 {
  color: #000;
}

.form-content {
  height: calc(70vh - 120px);
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 60px;
}

.form-group {
  margin-bottom: 10px;
  padding-right: 5px;
}

.form-group-check-box {
  margin-bottom: 15px;
  padding-right: 5px;
  display: inline-flex;
margin-top: 10px;
  box-sizing: border-box;
  align-items: center;
  /* flex-direction: row-reverse; */
  /* flex-wrap: wrap; */
  width: 100%;
}

.form-input-check-box{
  width: 20px;
  height: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #000;
}

.form-input {
  width: 100%;
  flex: 1;
  padding: 1em;
  line-height: 1.4;
  background-color: #f9f9f9;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  box-sizing: border-box;
}

.form-input:focus {
  outline: 0;
  border-color: #3700b3;
}
.form-input:focus + .input-icon i {
  color: #f0a500;
}
.form-input:focus + .input-icon:after {
  border-right-color: #f0a500;
}

.form-submit-button {
  padding: 5px 10px;
  font-size: 1rem;
  background-color: #1976d2;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  bottom: 15px;
  right: 15px;

}

.form-submit-button:hover {
  background-color: #3700b3;
}

.form-submit-button:disabled {
  background-color: #c0c0c0;
  cursor: not-allowed;
}