$color_1: #000;
$font-family_1: sans-serif;
$font-family_2: Public Sans;
$background-color_1: #4B465C29;

.formModal {
	display: inline-flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
	height: 100%;
	gap: 10px;
	margin-right: 300px;
}

.containerInput {
	display: inline-flex;
	flex-direction: column;
	justify-content: flex-start;
	align-self: stretch;
	align-items: flex-start;
	height: 65px;
	gap: 2px;
	font-family: $font-family_1;
}

.inputForm {
	display: inline-flex;
	justify-content: flex-start;
	align-self: stretch;
	align-items: center;
	height: 40px;
	border: 1px #DBDADE solid;
	border-radius: 6px;
	background: #fff;
	text-align: justify;
}

.spanTitle {
	flex: 1 1 0;
	color: $color_1;
	font-family: $font-family_2;
	font-size: 13;
	font-weight: 400;
	word-wrap: break-word;
}

.inputTextArea {
	display: flex;
	justify-content: flex-start;
	width: 350px;
	height: 35px;
	margin-right: 15px;
	border: 1px #DBDADE solid;
	border-radius: 6px;
	padding: 5px;
	background: #fff;
	text-align: justify;
}

.buttonContainer {
	gap: 16px;
	margin-top: 5px;
}

.novoEvento {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
	font-family: $font-family_1;
}

.textTitle {
	font-size: 18px;
	font-weight: 600;
}

.btnClose {
	button {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 30;
		height: 30;
		border: 1px solid rgba(0, 0, 0, 0.075);
		border-width: 2px;
		border-radius: 4px;
		background-color: $background-color_1;
	}
}