@import '../../../styles/email/partials/variables';

.itemContainer {
  padding-left: 15px;

  .item {
    height: 36px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: -100%;
    border-radius: 0;
    padding-left: 100%;

    &:nth-child(1) {
      margin-top: 0;
    }

    i {
      line-height: 32px;
    }
  }
}

.childList {
  padding: 0;
}
