$fontfamily1: sans-serif;

.app-container {
	height: 100%;
	font-family: $fontfamily1;
}

.sidebar.expanded {
	width: 235px;
	
	+ {
		.page-content {
			margin-left: 160px;
		}
	}
}

.page-content {
	height: 100%;
	grid-column: 2 / -1;
	transition: margin-left 0.3s ease;
}