/* Estilos para o modal de informações do pedido */
.business-modal-container {
  width: 55%;
  max-width: 800px;
  margin-right: auto;
  position: relative;
  margin-top: 20px;
  left: 15px;
  box-shadow: 0 0 5px 2px rgba(138, 138, 138, 0.4);
  color: #4B465C;
  font-family: "Public Sans";
}

.business-modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0px;
  margin-left: 25px;
}

.business-modal-subheader {
  margin-right: auto;
  margin-left: 25px;
  position: relative;
  top: 5px;
}

.avatar-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: 0px;
}

.sku-barcode-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.sku-container {  
  flex: 1;
  margin-top: 0px;
  margin-bottom: 0px;
}

.sku-container label {
  display: block;
  margin-bottom: 5px;
}

.barcode-container {
  flex: 1;
  margin-top: 5px;
}

.barcode-container label {
  margin-bottom: 5px;
}

.business-modal-content {
  display: flex;
  flex-direction: column;
}

.business-modal-content label {
  margin-bottom: 5px;
  margin-left: 10px;
}

.business-modal-content input,
.business-modal-content textarea {
  width: 94%;
  padding: 8px;
  margin-left: 10px;
  margin-bottom: 10px;
  height: 20px;
}

.business-modal-content textarea {
  height: 150px;
}

.sku-barcode-container {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.barcode-container {
  flex: 1;
}

.barcode-container label {
  margin-bottom: 5px;
}

/* Estilos para o modal de preço */
.business-modal-price-container {
  width: 50%;
  height: calc(100% - 200px);
  max-width: 400px; 
  margin-top: 20px;
  margin-right: auto;
  position: relative;
  left: -60px;
  box-shadow: 0 0 5px 2px rgba(138, 138, 138, 0.4);
  color: #4B465C;
  font-family: "Public Sans";
}

.business-modal-content-price {
  display: flex;
  flex-direction: column;
  padding: 6px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 15px;
}

.business-modal-content-price input{
  width: 92%;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin: 0;
}

.checkbox-container input {
  margin-left: auto; 
  width: 20px;
  margin: auto;
  margin-right: 10px;
}

.checkbox-container-footer {
  margin-bottom: 0px;
  margin-top: -20px;
  width: auto;
  height: 60px;
}

.checkbox-container-footer h2 {
  width: 150px;
  font-size: 23px;
}

.checkbox-container-footer input {
  display: flex;
  margin-left: auto;
  margin: auto;
  position: relative;
  top: -40px; 
  width: 20px;
  height: 20px;
  margin-bottom: 0px;
  margin-right: 10px;
}

/* Estilos para a página de adição de pedido/proposta */
.business-add-info-container {
  width: 95%;
  margin-left: 72px;
}

.title-section {
  color: #4B465C;
  font-family: "Public Sans";
}

.info-section{
  margin-top: -30px;
}

.title-section span {
  display: flex;
  margin-top: -10px;
}

.business-add-info-container .button-section {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
  margin-left: auto;
  margin-bottom: 0px;
  cursor: pointer;
}

.business-add-info-container .button-section button {
  background-color: white;
  color: gray;
  border: none;
  padding: 8px;
  border-radius: 5px;
  width: 120px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-left: 10px;
}

.business-add-info-container .button-section button.blue {
  color: rgb(87, 73, 240);
  background-color: rgb(190, 185, 243);
  border: none;
  border-radius: 4px;
}

.business-add-info-container .button-section button.dark-blue {
  background-color: rgba(115, 103, 240, 1);
  color: white;
  border: none;
  border-radius: 4px;
}

/* Estilos para o modal de arquivos */
.business-modal-arquivos-container {
  width: 55%;
  max-width: 800px;
  height: calc(100% - 200px);
  margin-right: auto;
  position: relative;
  left: 15px;
  margin-top: 30px; 
  box-shadow: 0 0 5px 2px rgba(138, 138, 138, 0.4);
  color: #4B465C;
  font-family: "Public Sans";
}

.business-modal-content-arquivos {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.business-modal-content-arquivo {
  margin-left: 5px;
}

.business-modal-content-add {
  margin-top: 20px;
  margin-right: 15px;
  color: blue;
  cursor: pointer;
}

.business-modal-content-arquivos-label {
  border: 1px solid rgb(196, 196, 196);
  height: calc(100% - 20px);
  height: 220px;
}

.business-modal-content-arquivos-label span{
  margin: 5px;
  text-align: center; 
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.business-modal-content-arquivos-label .business-span {
  margin-top: 10px;
}

.business-modal-content-arquivos-label button {
  margin: auto;
  display: flex;
  align-self: center;
  text-align: center; 
  color: rgb(87, 73, 240);
  background-color: rgb(190, 185, 243);
  border: none;
  border-radius: 4px;
  padding: 8px;
  width: 120px;
  justify-content: center;
  cursor: pointer;
}

/* Estilos para o modal de organize */
.business-modal-organize-container {
  color: #4B465C;
  font-family: "Public Sans";
  width: 50%;
  max-width: 400px;
  height: calc(100% + 400px);
  margin-right: auto;
  position: relative;
  left: -60px;
  margin-top: -50px;
  box-shadow: 0 0 5px 2px rgba(138, 138, 138, 0.4);
}

.business-modal-content-organize {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-left: 15px;
}

.business-modal-content-organize label {
  margin: auto;
  margin-bottom: 5px;
}
.business-modal-content-organize input {
  width: 95%;
  margin-bottom: 15px; 
}

.business-modal-content-organize select {
  width: 95%;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 6px;
}

.container-select-organize{
  display: flex;
}

.container-select-organize span{
  margin-left: auto;
  color: blue;
  cursor: pointer;
  margin-right: 25px;
}

/* Estilos para o modal de variantes */
.business-modal-variantes-container {
  color: #4B465C;
  font-family: "Public Sans";
  width: 55%;
  max-width: 800px;
  margin-right: auto;
  position: relative;
  left: 15px;
  margin-top: -50px;
  box-shadow: 0 0 5px 2px rgba(138, 138, 138, 0.4);
}

.business-modal-content-variantes {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.business-modal-header-v {
  display: inline-block;
  margin-left: 15px;
}

.variantes-inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.variantes-inputs-f {
  width: 200px;
}

.variantes-inputs-f select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.variantes-inputs-s {
  width: 500px;
  margin-right: 10px;
}

.business-modal-content-variantes button {
  width: 200px;
  background-color: rgba(115, 103, 240, 1);
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 4px;
  cursor: pointer;
}

/* Estilos para o modal de inventário */
.business-modal-inventario-container {
  color: #4B465C;
  font-family: "Public Sans";
  width: 55%;
  max-width: 800px;
  margin-right: auto;
  position: relative;
  left: 15px;
  margin-top: 30px;
  margin-bottom: 25px;
  box-shadow: 0 0 5px 2px rgba(138, 138, 138, 0.4);
}

.inventario-input-container {
  display: flex;
  margin-bottom: 10px;
  margin-left: -10px;
}

.business-modal-content-inventario {
  display: flex;
  flex-direction: row; 
  padding: 10px;
}

.inventario-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 25px;
}

.inventario-buttons button {
  background-color: white;
  color: gray;
  border: none;
  padding: 8px;
  border-radius: 5px;
  width: 170px;
  cursor: pointer;
  display: flex;
  text-align: flex-start;
  margin-left: 10px;
  margin-top: 0px;
  cursor: pointer;
}

.inventario-buttons button.selected {
  background-color: rgba(115, 103, 240, 1);
  color: white;
  border: none;
  border-radius: 4px;
}

.inventario-opcao {
  margin-left: 20px; 
  display: flex;
  flex-direction: column;
}

.inventario-opcao label {
  margin-bottom: 5px;
}

.inventario-opcao input {
  width: calc(100% - 140px);
  margin-bottom: 10px;
  margin-left: 10px;
}

.inventario-opcao button {
  width: 120px;
  padding: 8px;
  margin-bottom: 10px;
  margin-left: 10px;
  background-color: rgba(115, 103, 240, 1);
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 4px;
  cursor: pointer;
}

.inventario-spans {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.inventario-spans span {
  width: 50%; 
  margin-bottom: 5px;
}

.inventario-button-img{
  margin-top: -3px;
  margin-right: 5px;
}

/* Estilo para página de negócios*/

.modal-expanded .page-content {
  transition: max-width 0.3s ease;
}

.modal-expanded .page-content {
  max-width: 70%;
}
