$color1: #808080;
$color2: rgb(100, 100, 100);
$color3: #fff;
$color4: rgba(168, 170, 174, 1);
$fontfamily1: sans-serif;
$backgroundcolor1: rgba(115, 103, 240, 1);
$backgroundcolor2: rgba(168, 170, 174, 0.397);
$backgroundcolor3: rgb(231, 230, 230);

.text {
	margin-top: 30px;
	margin-left: 6%;
	color: $color1;
	font-family: $fontfamily1;
	font-size: 22px;
}

.text-config {
	margin-top: 0;
	margin-left: 6%;
	color: $color2;
	font-family: $fontfamily1;
	font-size: 18px;
}

.blueButton {
	left: 0%;
	align-items: center;
	max-width: 150px;
	margin-right: 10px;
	border: none;
	border-radius: 5px;
	padding: 5px 10px;
	background-color: $backgroundcolor1;
	color: $color3;
	cursor: pointer;

	img {
		vertical-align: middle;
		width: 20px;
		height: 20px;
		margin-right: 5px;
	}
}

.grayButton {
	align-items: center;
	max-width: 150px;
	margin-right: 10px;
	border: none;
	border-radius: 5px;
	padding: 5px 10px;
	background-color: $backgroundcolor2;
	color: $color4;
	cursor: pointer;

	img {
		vertical-align: middle;
		width: 20px;
		height: 20px;
		margin-right: 5px;
	}
}

.largeInput {
	display: flex;
	align-items: center;
	width: 92%;
	height: 150px;
	margin-top: 21.5%;
	margin-left: 6%;
	border: none;
	border-radius: 5px;
	padding: 10px;
	background-color: $backgroundcolor3;
	font-size: 16px;
	line-height: 150px;
	text-align: left;
	box-shadow: 0 0 5px 2px rgba(138, 138, 138, 0.4);
}

.container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-left: 6%;
}

.buttonContainer {
	display: flex;
	gap: 5px;
}

@media screen and (max-width: 768px) {
	.text {
		margin-left: 3%;
		font-size: 18px;
	}

	.largeInput {
		width: 90%;
		height: 100px;
		margin-top: 10%;
		margin-left: 5%;
		font-size: 14px;
		line-height: 100px;
	}

	.container {
		margin-left: 5%;
	}
}