$color_1: rgb(128, 128, 128);
$color_2: rgba(168, 170, 174, 1);
$color_3: rgb(247, 242, 242);
$color_4: rgba(115, 103, 240, 1);
$color_5: rgb(10, 10, 10);
$font-family_1: sans-serif;
$background-color_1: rgb(245, 242, 242);
$background-color_2: rgb(255, 255, 255);
$background-color_3: #fff;
$background-color_4: rgb(255, 0, 0);
$background-color_5: rgba(115, 103, 240, 1);
$background-color_6: rgba(114, 103, 240, 0.134);
$background-color_7: rgb(205, 184, 46);

.grid {
	grid-row-start: span auto;
}

.containerlayout {
	display: grid;
	gap: 20px;
	height: 100%;
	grid-template-areas: 'header';
}

.header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	grid-area: header;
}

.title {
	color: $color_1;
	font-family: $font-family_1;
	font-size: 20px;
}

.titleChat {
	height: 15px;
	margin-left: 8%;
	color: $color_1;
	font-family: $font-family_1;
	font-size: 20px;
}

.container {
	width: 55%;
	margin-left: 6%;
	padding: 20px;
	background-color: $background-color_1;
	box-shadow: 0 0 5 rgba(0, 0, 0, 0.3);
}

.button-container {
	display: flex;
	justify-content: flex-start;
	width: 742px;
	gap: 5px;
	margin-top: 26px;
	margin-bottom: 26px;
	margin-left: 6%;
	font-size: 18px;
}

.gray-button {
	margin-right: 5px;
	border: none;
	border-radius: 4px;
	padding: 8px 12px;
	background-color: $background-color_2;
	color: $color_2;

	cursor: pointer;
	
	&:last-child {
		margin-right: 0;
	}
}

.form-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 10px;
}

.form-row {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 10px;
	flex-basis: 48%;

	label {
		margin-bottom: -2px;
	}

	input {
		height: 24px;
		padding: 8px;
	}

	select {
		width: calc(100% - 16px);
		height: 35px;
		margin-bottom: 5px;
		border: 1px solid rgba(168, 170, 174, 1);
		border-radius: 4px;
		padding: 8px;
		background-color: $background-color_3;
	}

	input[type="text"] {
		width: calc(100% - 16px);
		margin-bottom: 5px;
		border: 1px solid rgba(168, 170, 174, 1);
		border-radius: 4px;
		padding: 8px;
	}

	input[type="email"] {
		width: calc(100% - 16px);
		margin-bottom: 5px;
		border: 1px solid rgba(168, 170, 174, 1);
		border-radius: 4px;
		padding: 8px;
	}

	input[type="tel"] {
		width: calc(100% - 16px);
		margin-bottom: 5px;
		border: 1px solid rgba(168, 170, 174, 1);
		border-radius: 4px;
		padding: 8px;
	}
}

.code-button-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 20px;
	margin-bottom: 40px;
	margin-left: 6%;
	box-shadow: 0 0 5 rgba(0, 0, 0, 0.3);

	h5 {
		margin-top: 15px;
		margin-left: 20px;
		font-size: 17px;
	}
}

.code-buttons {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.export-image {
	width: 50px;
	height: 50px;
	margin-left: 5px;
}

.red-button {
	margin-right: 70px;
	margin-left: 25px;
	border: none;
	border-radius: 4px;
	padding: 10px 20px;
	background-color: $background-color_4;
	color: $color_3;
	cursor: pointer;
	box-shadow: 0 0 5 rgba(0, 0, 0, 0.3);
}

.buttonContainer {
	display: flex;
	gap: 1px;
	margin-top: 26px;
	margin-bottom: 26px;
	margin-left: 6%;
}

.blueButtonChat {
	display: flex;
	align-items: center;
	margin-right: 1px;
	border: none;
	border-radius: 5px;
	padding: 10px;
	background-color: $background-color_5;
	color: $color_3;
	font-weight: inherit;
	cursor: pointer;
}

.grayButtonChat {
	display: flex;
	align-items: center;
	margin-right: 1px;
	border: none;
	border-radius: 5px;
	padding: 10px;
	background-color: $background-color_6;
	color: $color_4;
	font-weight: inherit;
	cursor: pointer;
}

.send-button {
	display: flex;
	justify-content: center;
	width: 100px;
	margin: 10px auto 0;
	border: none;
	border-radius: 4px;
	padding: 10px 20px;
	background-color: $background-color_5;
	color: $color_3;
	cursor: pointer;
}

.new-form-container {
	display: flex;
	flex-direction: column;
	width: 30%;
	margin-left: 20px;
}

.dropdown {
	position: relative;

	&:hover {

		.dropdown-options {
			display: block;
		}
	}
}

.dropdown-select {
	width: 100%;
	border: 1px solid rgba(168, 170, 174, 1);
	border-radius: 4px;
	padding: 8px 30px 8px 8px;
	background-position: right 8px top 50%, 8px center;
	background-repeat: no-repeat;
	appearance: none;
}

.dropdown-options {
	position: absolute;
	top: 100%;
	right: 0;
	left: 0;
	z-index: 1;
	display: none;
	border: 1px solid rgba(168, 170, 174, 1);
	border-top: none;
	background-color: $background-color_1;

	button {
		display: block;
		width: 100%;
		border: none;
		border-bottom: 1px solid rgba(168, 170, 174, 1);
		padding: 8px;
		background-color: $background-color_1;
		text-align: left;
	}
}

.new-form-selector-container {
	position: relative;
	left: 1%;
	display: flex;
	width: 368px;
	margin-top: -39%;
	margin-right: 100px;
	margin-bottom: 70px;
	margin-left: auto;
}

.form-selector-contador {
	margin-top: 15%;
	margin-bottom: 0;
}

.new-form-selector {
	max-height: 100%;
	border: 1px solid rgb(196, 194, 194);
	padding: 20px;
	background-color: $background-color_1;
}

.new-form-selector-input {
	width: calc(100% - 16px);
	border: none;
	border-radius: 4px;
	padding: 8px;
	font-size: 20px;
}

.new-form-selector-buttons {
	margin-top: 10px;
}

.new-form-selector-button {
	display: flex;
	align-items: center;
	width: 100%;
	margin-bottom: 10px;
	border: none;
	border-radius: 4px;
	padding: 12px;
	color: $color_1;
	cursor: pointer;
}

.label-image {
	width: 24px;
	height: 24px;
	margin-right: 8px;
}

.button-path-container {
	display: flex;
	align-items: flex-start;
	gap: 150px;
	margin-bottom: 0;
	margin-left: 7%;
}

.yellowButton {
	display: flex;
	justify-content: center;
	width: 150px;
	margin: 10px auto 0;
	margin-bottom: 10px;
	border: none;
	border-radius: 4px;
	padding: 10px 25px;
	background-color: $background-color_7;
	color: $color_5;
	cursor: pointer;
}

.blueButtonsContainer {
	display: flex;
	flex-direction: column;
	margin-bottom: 0;
}

.blueButtonPath {
	display: flex;
	justify-content: center;
	width: 150px;
	margin: 10px auto 20px;
	border: none;
	border-radius: 4px;
	padding: 10px 25px;
	background-color: $background-color_5;
	color: $color_3;
	cursor: pointer;
}