$color1: rgba(75, 70, 92, 1);
$color2: rgba(75, 70, 92, 0.673);
$backgroundcolor1: #fff;
$backgroundcolor2: rgba(216, 216, 216, 0.579);

.graph-container {
	width: calc(50% - 10px);
	height: 300px;
	border: 1px solid #ddd;
	border-radius: 6px;
	padding: 10px;
	background-color: $backgroundcolor1;
	box-shadow: 0 0 8 rgba(0, 0, 0, 0.1);
}

.canvas-chart {
	width: 510px;
	height: 330px;
	margin: auto;
	margin-top: 4%;
}

.graph-container-ticket {
	overflow: hidden;
	width: calc(50% - 10px);
	height: 350px;
	border: 1px solid #ddd;
	border-radius: 6px;
	padding: 10px;
	background-color: $backgroundcolor1;
	box-shadow: 0 0 8 rgba(0, 0, 0, 0.1);
}

.graph-title {
	margin-top: 2%;
	margin-left: 3%;
	color: $color1;
}

.menu-icon {
	display: flex;
	margin-top: -7%;
	font-size: 20px;
	cursor: pointer;
}

.canvas-ticket {
	display: block;
	max-width: 65%;
	max-height: 58%;
	margin: auto;
	margin-bottom: 5%;
}

.canvas-ticket-you {
	display: block;
	max-width: 40%;
	max-height: 58%;
	margin: auto;
	margin-bottom: 5%;
}

.menu-icon-you {
	display: flex;
	margin-top: -7%;
	margin-bottom: 3%;
	margin-left: 54%;
	font-size: 20px;
	cursor: pointer;
}

.legenda {
	overflow-y: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-height: 20%;
	margin-top: 10px;
	
	div {
		display: flex;
		align-items: center;
		margin-right: 20px;
	}
}

.legenda-cor {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-right: 5px;
	border-radius: 25px;
}

.legenda-texto {
	display: inline-block;
}

.graph-row {
	display: flex;
	justify-content: space-between;
	width: 92%;
	gap: 20px;
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: 90px;
}

.graph-container-themes {
	display: flex;
	flex-direction: column;
	width: calc(50% - 10px);
	height: 360px;
	margin-top: 0%;
	border: 1px solid #ddd;
	border-radius: 6px;
	padding: 10px;
	background-color: $backgroundcolor1;
	box-shadow: 0 8 rgba(0, 0, 0, 0.1);
}

.graph-themes-icon {
	position: relative;
	display: flex;
	margin-top: 10px;
	margin-right: 5px;
	border-radius: 5vh;
	padding: 0;
	background-color: $backgroundcolor2;
}

.menu-icon-themes {
	margin-top: -7%;
	margin-bottom: 0%;
	margin-left: 95%;
	font-size: 20px;
	cursor: pointer;
}

.data-row-themes {
	margin-bottom: 0;
}

.data-row-4 {
	margin-bottom: -20px;
}

.data-item {
	position: relative;
	display: flex;
	align-items: center;

	img {
		margin-right: 5px;
		margin-bottom: 5px;
	}

	h4 {
		margin: 0;
	}
}

.percentage-container {
	position: absolute;
	display: flex;
	align-items: center;
	margin-top: 6%;
	margin-left: 5%;
	text-align: left;
}

.graph-subtitle {
	display: flex;
	margin-top: -2%;
	margin-bottom: 5%;
	margin-left: 4%;
	color: $color2;
}

.avatar-img {
	width: 38px;
	height: 38px;
	margin-top: 2%;
}

.data-number {
	margin-right: 20px;
}