.leads-kanban {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 93%;
  margin: auto;
  margin-left: 6.0%;
  user-select: none;
}

.button-group {
  display: flex;
  align-items: center;
  box-shadow: 0 0 5px 2px rgba(138tas 138, 138, 0.3);
  gap: 5px;
  margin-top: 2%;
  width: 400px;
  height: 42px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px 0px #A5A3AE4D;
  font-weight: bolder;
}

.button-group button {
  padding: 5px 10px;
  color:rgba(75, 70, 92, 0.8) !important;
  background-color: #fff;
  border: none;
  cursor: pointer;
  width: auto;
  height: auto;
  margin-left: 30px;
  font-weight: bold;
}

.button-group button:nth-child(1) {
  padding: 5px 10px;
  color:rgba(75, 70, 92, 0.8) !important;
  background-color: #fff;
  border: none;
  cursor: pointer;
  width: auto;
  height: auto;
  margin-left: 30px;
  font-weight: bold;
}

.divider {
  border-right: 1px solid #ccc;
  height: 30px; 
  margin-top: 1px;
  margin-left: 30px;
  align-items: center;
  justify-content: center;
}

.select-box {
    width: 190px;
    height: 38px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 2%;
    border-radius: 5px;
}

.select-box option {
    margin-left: 15px;
}
.kanbanHead{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  padding: 0px 3px;
  /* box-shadow: 0px 2px 4px 0px #A5A3AE4D; */
}

.board-container {
  display: flex;
  width: 98%;
  /* height: 535px; */
  max-height: calc(100vh - 170px);
  margin: 10px 0px 0px 0;
  padding: 5px 0px;
  align-items: flex-start;
  overflow-x: auto;
  border-radius: 5px;
  padding-inline: 10px;
  gap: 26px;
  /* box-shadow: 0px 0px 0px 1px #00000000, 0px 1px 1px #03040403, 0px 0px 1px #03040480; */
}

.card-title {
  margin-top: 5px;
  font-size: 20px;
  /* color: rgb(85, 85, 85); */
  color:rgba(75, 70, 92, 1) !important;
}

.contact-column {
  background-color: #3498db59; 
}

.discussion-column {
  background-color: #028d3c56;
}

.decision-column {
  background-color: #f1c40f52;
}

.contract-column {
  background-color: #e74d3c5d; 
}

.kanban-column h2 {
  margin-bottom: 10px;
  color: rgb(48, 47, 47);
}

.add-button {
  margin-bottom: 10px;
  background-color: #fff;
  color: #333;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 15px;
}

.info-section {
  display: flex;
  align-items: flex-start; 
  padding: 10px;
  border-radius: 6px;
}


.info-section p {
  margin-right: 10px;
  font-size: 20px;
  margin-top: 3px;
  margin-left: 5px;
  margin-bottom: 5px;
}

.icons-section {
  display: flex;
  align-items: flex-start; 
  align-self: flex-start;
  margin-top: 35px; 
  margin-left: -100px;
}

.icons-section img {
  width: 20px;
  margin-bottom: 5px; 
}

.right-icon {
  margin-left: auto;
  margin-top: 10%;
}

.last-number {
  margin-right: 10px;
}

.info-section p {
  margin-right: 5px;
  font-size: 20px;
  margin-top: 3px;
  margin-left: 5px;
  margin-bottom: 5px;
}

.menu-icon-leads {
  display: flex;
  justify-content: flex-end;
  margin-right: 5px;
  margin-top: -8%;
  cursor: pointer;
}

.headerColumn{
  display: flex;
  justify-content: space-between;
  padding: 5px 0 1px 5px;
  text-transform: capitalize;

  /* display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

width: 262.5px;
height: 24px;



flex: none;
order: 0;
align-self: stretch;
flex-grow: 0; */
}

.kanban-columns {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.kanban-column {
  min-height: 120px;
  margin-top: 15px;
  padding: 4px 5px 5px 0;
  height: auto;
  box-sizing: border-box;
  /* border-radius: 8px; */
  /* box-shadow: 0px 0px 0px 1px #00000000, 0px 1px 1px #0304040c, 0px 0px 1px #0304043c; */
 background-color: #fff;
  gap: 16px;
  /* border-bottom: #6d6d6d18 solid 1px;
  border-width: 3; */

}

.task-kanban{

  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 10px 6px;
gap: 10px;
margin: 0 0 20px 0;

height: 80px;

background: #F4F1FF;
/* Light/Gray/Card */
box-shadow: 0px 4px 10px #4B465C1A;
border-radius: 6px;
  
}

.task-kanban:active{
  border: .0625rem solid blue;
}

.task-title{
  padding: 10px 5px;
  text-transform: capitalize;
}

.column-content{
  width: 262.5px;
  /* height: 320px; */
  padding: 6px 6px;
  overflow-y:auto;
  overflow-x: hidden;
  max-height: calc(100vh - 289px);
  /* background-color: #ededed57; */
  border-radius: 5px;
  /* gap: 5px; */
  row-gap: 16px;
}


.column-content::-webkit-scrollbar{
  width: 5px;
  border-radius: 5px;
}

.column-content::-webkit-scrollbar-track{
  background-color: rgb(210, 210, 210);
  border-radius: 5px;
}

.column-content::-webkit-scrollbar-thumb{
  color: #333;
  background-color: rgb(98, 98, 98);
  border-radius: 5px;
}

.board-container::-webkit-scrollbar{
  height: 7px;
  border-radius: 5px;
}

.board-container::-webkit-scrollbar-track{
  background-color: rgb(210, 210, 210);
  border-radius: 5px;
}


.board-container::-webkit-scrollbar-thumb{
  color: #333;
  background-color: rgb(98, 98, 98);
  border-radius: 5px;

}