$color1: rgb(85, 85, 85);
$color2: #333;
$color3: rgb(48, 47, 47);
$backgroundcolor1: #fff;
$backgroundcolor2: #3498db59;
$backgroundcolor3: #028d3c56;
$backgroundcolor4: #f1c40f52;
$backgroundcolor5: #e74d3c5d;
$backgroundcolor6: #ededed57;
$backgroundcolor7: rgb(210, 210, 210);
$backgroundcolor8: rgb(98, 98, 98);

.leads-kanban {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 93%;
	margin: auto;
	margin-left: 5.5%;
	user-select: none;
}

.button-group {
	display: flex;
	align-items: center;
	width: 400px;
	height: 42px;
	margin-top: 2%;
	gap: 5px;
	border-radius: 5px;
	box-shadow: 0 0 5px 2px rgba(138, 138, 138, 0.3);

	button {
		width: auto;
		height: auto;
		margin-left: 30px;
		border: none;
		padding: 5px 10px;
		background-color: $backgroundcolor1;
		color: $color1;
		cursor: pointer;
	}
}

.divider {
	justify-content: center;
	align-items: center;
	height: 30px;
	margin-top: 1px;
	margin-left: 30px;
	border-right: 1px solid #ccc;
}

.select-box {
	width: 190px;
	height: 38px;
	margin-top: 2%;
	margin-right: 10px;
	margin-bottom: 5px;
	border-radius: 5px;

	option {
		margin-left: 15px;
	}
}

.kanbanHead {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	width: 100%;
	padding: 0 3px;
}

.board-container {
	overflow-x: auto;
	overflow-y: hidden;
	display: flex;
	align-items: flex-start;
	width: 98%;
	height: 535px;
	margin: 10px 0;
	border-radius: 5px;
	padding-inline: 10px;
	padding: 5px 0;
	gap: 15px;
	box-shadow: 0 0 0 1px #000, 0 1px 1px #03040403, 0 0 1px #03040480;

	&::-webkit-scrollbar {
		height: 7px;
		border-radius: 5px;
	}

	&::-webkit-scrollbar-track {
		border-radius: 5px;
		background-color: $backgroundcolor7;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 5px;
		background-color: $backgroundcolor8;
		color: $color2;
	}
}

.card-title {
	margin-top: 5px;
	color: $color2;
	font-size: 20px;
}

.contact-column {
	background-color: $backgroundcolor2;
}

.discussion-column {
	background-color: $backgroundcolor3;
}

.decision-column {
	background-color: $backgroundcolor4;
}

.contract-column {
	background-color: $backgroundcolor5;
}

.kanban-column {
	h2 {
		margin-bottom: 10px;
		color: $color3;
	}

	box-sizing: border-box;
	height: 95%;
	max-height: 100%;
	margin-top: 20px;
	border-radius: 8px;
	padding: 1px;
	box-shadow: 0 0 0 1px #000, 0 1px 1px #0304044a, 0 0 1px #03040480;
}

.add-button {
	margin-top: 15px;
	margin-bottom: 10px;
	border: none;
	padding: 5px 10px;
	background-color: $backgroundcolor1;
	color: $color2;
	cursor: pointer;
}

.info-section {
	display: flex;
	align-items: flex-start;
	border-radius: 6px;
	padding: 10px;

	p {
		margin-top: 3px;
		margin-right: 5px;
		margin-bottom: 5px;
		margin-left: 5px;
		font-size: 20px;
	}
}

.icons-section {
	display: flex;
	align-items: flex-start;
	align-self: flex-start;
	margin-top: 35px;
	margin-left: -100px;

	img {
		width: 20px;
		margin-bottom: 5px;
	}
}

.right-icon {
	margin-top: 10%;
	margin-left: auto;
}

.last-number {
	margin-right: 10px;
}

.menu-icon-leads {
	display: flex;
	justify-content: flex-end;
	margin-top: -8%;
	margin-right: 5px;
	cursor: pointer;
}

.headerColumn {
	display: flex;
	justify-content: space-between;
	padding: 5px 0 5px 5px;
	text-transform: capitalize;
}

.kanban-columns {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.column-content {
	overflow-x: hidden;
	overflow-y: auto;
	width: 240px;
	height: 320px;
	min-height: 380px;
	border-radius: 5px;
	padding: 6px;
	background-color: $backgroundcolor6;
	
	&::-webkit-scrollbar {
		width: 5px;
		border-radius: 5px;
	}

	&::-webkit-scrollbar-track {
		border-radius: 5px;
		background-color: $backgroundcolor7;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 5px;
		background-color: $backgroundcolor8;
		color: $color2;
	}
}