$color1: #4b465c;
$fontfamily1: sans-serif;
$backgroundcolor1: rgb(250, 249, 249);

.sidebar {
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 83px;
	height: 100%;
	padding: 50px 0 10px;
	grid-template-rows: auto 1fr auto;
	background-color: $backgroundcolor1;
	font-family: $fontfamily1;
	box-shadow: 0 0 5px 2px rgba(138, 138, 138, 0.5);
	transition: width 0.3s ease;

	img {
		width: 22px;
		height: 18px;
		margin-right: 1px;
		
		&:hover {
			cursor: pointer;
		}
	}
	
	div {
		img {
			margin-bottom: 10px;
		}
	}
}

.sidebar.expanded {
	display: flex;
	width: 235px;

	.menu-item {
		display: flex;
		align-items: center;
		width: 100%;
		margin-right: 25px;
		padding-inline: 5px;
		color: $color1;
	}

	.logo {
		margin-left: 90px;
	}
}

.link {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 25px;
	margin-bottom: 5px;
	text-decoration: none;
}

.menu-item {
	img {
		height: 22px;
	}
}

.hide-text {
	display: none;
}

.show-text {
	display: inline-flex;
	justify-content: flex-start;
	align-items: center;
	padding-right: 10px;
	padding-left: 7px;
	text-align: center;
}

.section1 {
	display: flex;
	flex-direction: column;
	width: 98%;
	margin-top: -1px;
	border-bottom: 1px solid rgba(183, 183, 183, 0.585);
	padding-top: 1px;
	padding-bottom: 15px;
	gap: 15px;
	color: $color1;
}

.sectionContainer {
	margin-top: 15px;

	.link {
		margin: 1px 0 5px;
	}
}

.expanded {
	.sectionContainer {
		.link {
			margin: auto;
		}
		
		margin-top: -10px;
		gap: inherit;
	}

	.section1 {
		margin-top: inherit;
		margin-bottom: inherit;
		padding-bottom: inherit;
		gap: inherit;
	}
}

.textOpen {
	margin-left: 0;
	text-align: center;
}

@media screen and (max-width: 768px) {
	.sidebar {
		width: 60px;
		padding: 30px 0 10px;
		
		img {
			margin-bottom: 10px;
		}
	}
	
	.sidebar.expanded {
		align-items: flex-start;
		width: 100px;
	}
}