.last-transaction-container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-left: 7%;
  max-width: 95%;
  margin-top: 0px;
}

.last-transaction {
  flex: 1;
  overflow-x: auto;
  box-shadow: 0 0 5px 2px rgba(138, 138, 138, 0.2);
  max-width: 650px;
  max-height: 394px;
}

.last-transaction h3 {
  margin-left: 25px;
  margin-top: 25px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 10px;
  text-align: center;
}

th {
  border-top: 1.5px solid #ddd;
  border-bottom: 1.5px solid #ddd;
}

td {
  border: none;
}

td.status-verified,
td.status-rejected,
td.status-pending {
  position: relative;
  padding: 0px;
  color: #c20000;
}

td.status-verified{
  color: #2b9700;
}

td.status-pending {
  color: gray;
}

td.status-verified:before,
td.status-rejected:before,
td.status-pending:before {
  content: '';
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  background-color: #b1d8b2;
  border-radius: 5px;
  z-index: -999;
}

td.status-rejected:before{
  background-color: #db9292;
}

td.status-pending:before {
  background-color: #b2b6b2;
}

.activity-timeline {
  flex: 1;
  margin: auto;
  box-shadow: 0 0 5px 2px rgba(138, 138, 138, 0.2);
  max-width: 650px;
  max-height: 394px;
  margin-right: 25px;
  margin-left: 20px; /* Ajuste a margem esquerda aqui */
}

.header-container {
  display: flex;
  align-items: center;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 0px;
}

.header-container img {
  margin-right: 10px;
  cursor: pointer;
}

.header-container h3 {
  margin-left: 30px;
  margin-top: -20px;
}

.activity-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 0px;
  margin-left: 25px;
}

.activity-container img {
  margin-right: 10px;
}

.activity-container h4 {
  margin: 0;
  display: inline-block;
}

.activity-container span {
  margin-top: 0px;
  margin-left: 30px;
  margin-bottom: 5px;
}

.activity-timeline div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 5px;
}

.activity-timeline img {
  margin-right: 10px;
}

.activity-timeline div .dot-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.activity-timeline div .dot-container h4 {
  margin-right: auto;
  display: inline-block;
}

.activity-timeline div .dot-container span {
  margin-top: 5px;
  margin-right: 25px;
  color: gray;
}

.activity-container div {
  display: flex;
  align-items: center;
}

.activity-container div h4 {
  display: inline-block;
  margin-right: 10px;
  margin-top: 5px;
}

.activity-container .subtitle-ceo {
  margin-top: 5px;
}

.container-avatar {
  margin-left: 30px;
  margin-top: 10px;
  display: inline-block;
}

.container-avatar img{
  margin-right: auto;
  margin-bottom: -42px;
}

.container-avatar span,
.container-avatar h4 {
  margin: auto;
  margin-left: 50px;
}

/*
.activity-footer {
  font-size: 0; 
}

.activity-footer img,
.activity-footer span {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px; 
}

.activity-footer span {
  font-size: 16px; 
}
*/

.menu-icon{
  float: right;
  margin-right: 20px;
  margin-bottom: 0px;
  cursor: pointer;
}

.graph-container-statistics {
  width: 335px;
  height: 168px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  box-sizing: border-box;
  margin: auto;
  margin-left: 7%;
  margin-top: 2%;
  margin-bottom: 3%;
}

.graph-container-statistics span,
.graph-container-statistics h4,
.graph-container-statistics p,
.graph-container-statistics h3 {
  align-self: flex-start;
  font: Public Sans;
}

.graph-container-statistics span,
.graph-container-statistics h4,
.graph-container-statistics p {
  margin-left: 3%;
  margin-top: 0px;
  margin-bottom: 0px;
}

.graph-container-statistics span{
  margin-bottom: 15px;
  color: rgb(141, 140, 140);
}

.graph-container-statistics h4{
  font-size: 26px;
  margin-bottom: 35px;
}

.graph-container-statistics p {
  color: green;
}

.graph-container-statistics .percentage-container {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  margin-right: 18%;
  margin-top: 8%;
}

.canvas-statistics {
  width: 100%;
  height: 120px;
  margin-top: 1px;
  position: absolute;
  margin-left: 10%;
}

.graph-title-statistics {
  margin-top: 2%;
  margin-left: 3%;
  margin-bottom: 0px;
  color: rgba(75, 70, 92, 1);
}
 