$color1: rgba(40, 199, 111, 1);
$color2: rgba(255, 159, 67, 1);
$color3: rgba(75, 70, 92, 1);
$color4: rgb(95, 93, 102);
$color5: rgba(23, 189, 8, 0.8);
$color6: rgba(255, 0, 0, 0);
$backgroundcolor1: #fff;
$backgroundcolor2: #e0e0e0;
$backgroundcolor3: #3498db;

.dashboard-container {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 99%;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	gap: 20px;
}

.dashboard-section {
	box-sizing: border-box;
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: space-between;
	width: calc((100% - 0px) / 3);
	height: 100%;
	min-height: 450px;
	margin: 0 10px 20px;
	margin-bottom: 20px;
	margin-left: 6%;
	padding: 10px;
	background-color: $backgroundcolor1;
	box-shadow: 0 0 5px 2px rgba(138, 138, 138, 0.2);
	
	&:nth-child(2) {
		.content-row {
			.content-item {
				display: flex;
				flex-direction: column;
				align-items: center;
				text-align: center;
	
				img {
					width: 70%;
				}
	
				p {
					margin: 0;
				}
	
				.content-porcentage-number {
					margin: 0;
					margin-top: 5px;
				}
			}
		}
	
		.container-inicial-dollar {
			align-items: center;
		}
	
		.container-footer {
			display: flex;
			flex-direction: column;
		}
	
		.container-footer-item {
			margin-bottom: 10px;
	
			p.footer-label {
				margin: 0;
				margin-left: 20px;
			}
	
			div {
				p {
					flex-direction: row;
					margin-left: auto;
				}
	
				span {
					flex-direction: row;
					margin-left: auto;
				}
			}
	
			span {
				margin-left: auto;
			}
	
			.footer-amounts {
				display: flex;
				justify-content: flex-end;
				align-items: center;
	
				p.footer-label {
					margin: 0;
				}
	
				p {
					flex-direction: row;
					margin-left: auto;
				}
	
				span {
					display: flex;
					flex-direction: row;
					margin-left: 10px;
					text-align: right;
					order: 2;
				}
			}
		}
	}
	
	&:nth-child(3) {
		margin: auto;
		margin-top: -31.5%;
		margin-right: -2%;
		margin-left: auto;
	
		.content-row-3 {
			margin-top: 20px;
		}
	}
	
	h3 {
		margin-top: 2%;
		margin-left: 3%;
		color: $color3;
	}
	
	p {
		margin-left: 3%;
		color: $color3;
	}
}

.dashboard-section-wrapper {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.subtitle-status {
	margin-top: -20px;
}

.vector {
	display: flex;
	width: 97%;
	height: 200px;
	margin-top: 0%;
}

.container-footer-item {
	.footer-amounts {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin-top: 0;

		p {
			left: 100%;
			display: flex;
			flex-direction: row;
			align-items: flex-end;
			margin: 0;
			margin-top: -3%;
			margin-right: 10px;
			text-align: right;
		}

		span {
			display: flex;
			margin-top: -3%;
			margin-right: 20px;
			margin-left: auto;
			text-align: right;
			order: 2;
		}
	}
}

.container-inicial-dollar {
	span {
		text-align: right;
	}

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
}

.earnings-percentage {
	margin-top: -10%;
	margin-right: 20px;
	margin-bottom: 30px;
	margin-left: auto;
	color: $color1;
}

.earnings-info {
	display: flex;
	align-items: flex-start;
	margin-right: auto;
	margin-left: 25px;

	img {
		width: 34px;
		height: 34px;
		margin-top: 5px;
		margin-right: 10px;
		color: $color2;
	}

	div {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		text-align: left;

		span {
			margin-top: 0;
			color: $color3;
			font: Public Sans;
			font-size: 20px;
		}

		p {
			width: 150px;
			margin-top: 0;
			color: $color4;
			font: Public Sans;
			font-size: 15px;
		}
	}
}

.content-row {
	.content-item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 10px;
	}
}

.content-row-3 {
	.content-item-3 {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 10px;
	}
}

.container-info-row-3 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 0%;
	text-align: left;

	span {
		margin-bottom: 5px;
	}

	p {
		margin-top: -5px;
	}
}

.content-porcentage-number {
	justify-content: flex-end;
	margin-left: auto;
	text-align: right;
}

.green-percentage {
	color: $color5;
}

.red-percentage {
	color: $color6;
}

.container-footer {
	display: flex;
	justify-content: space-between;
}

.progress-bar {
	overflow: hidden;
	position: absolute;
	display: flex;
	width: 78px;
	height: 10px;
	margin-left: 17%;
	background-color: $backgroundcolor2;

	&::before {
		content: '';
		position: absolute;
		width: 80%;
		height: 100%;
		background-color: $backgroundcolor3;
		transition: width 0.3s ease;
	}
}

.menu-icon {
	display: flex;
	justify-content: flex-end;
	margin-right: 20px;
	margin-bottom: 120px;
	cursor: pointer;
}

@media (max-width: 768px) {
	.content-row {
		.content-item {
			flex: 0 0 100%;
		}
	}

	.content-row-3 {
		.content-item-3 {
			flex: 0 0 100%;
		}
	}
}