.dashboard-container {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  flex-wrap: wrap; 
  margin-top: 25px;
}

.dashboard-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 5px 2px rgba(138, 138, 138, 0.2);
  background-color: #fff;
  margin: 0 10px 20px;
  padding: 10px;
  flex: 1;
  width: calc((97% - 40px) / 3); 
  box-sizing: border-box;
  margin-bottom: 20px;
  margin-left: 4%; 
  height: 100%;
  min-height: 450px;
} 

.subtitle-status{
  margin-top: -20px;
}

.vector {
  height: 200px;
  width: 97%;
  margin-bottom: -60px;
}

.dashboard-section:nth-child(2) {
  margin: auto;
  margin-top: -33%;
  margin-right: 31.5%;
}

.dashboard-section:nth-child(2) .content-row .content-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.dashboard-section:nth-child(2) .content-row .content-item img {
  width: 70%; 
}

.dashboard-section:nth-child(2) .content-row .content-item p,
.dashboard-section:nth-child(2) .content-row .content-item .content-porcentage-number {
  margin: 0;
}

.dashboard-section:nth-child(2) .content-row .content-item .content-porcentage-number {
  margin-top: 5px;
}

.dashboard-section:nth-child(2) .container-inicial-dollar {
  align-items: center; 
}

.dashboard-section:nth-child(2) .container-footer {
  display: flex;
  flex-direction: column; 
}

.dashboard-section:nth-child(2) .container-footer-item {
  margin-bottom: 10px;
}

.container-footer-item .footer-amounts {
  display: flex;
  align-items: center; 
  justify-content: flex-end;
  margin-top: 0; 
}

.dashboard-section:nth-child(2) .container-footer-item p.footer-label {
  margin: 0; 
  margin-left: 20px; 
}

.dashboard-section:nth-child(2) .container-footer-item div p,
.dashboard-section:nth-child(2) .container-footer-item div span {
  margin-left: auto;
  flex-direction: row;
}

.dashboard-section:nth-child(2) .container-footer-item span {
  margin-left: auto;
}

.container-footer-item .footer-amounts p {
  margin: 0; 
  display: flex;
  text-align: right;
  align-items: flex-end;
  left: 100%;
  flex-direction: row;
  margin-top: -3%;
  margin-right: 10px;
}

.container-footer-item .footer-amounts span {
  display: flex;
  margin-left: auto; 
  text-align: right;
  order: 2; 
  margin-right: 20px;
  margin-top: -3%;
}

.container-inicial-dollar span {
  text-align: right;
}

.earnings-percentage {
  margin-left: auto;
  margin-right: 20px;
  margin-bottom: 30px;
  margin-top: -10%;
  color: rgba(40, 199, 111, 1);
}

.earnings-info {
  display: flex;
  align-items: flex-start;
  margin-right: auto; 
  margin-left: 25px;
}

.earnings-info img {
  margin-right: 10px; 
  width: 34px;
  height: 34px;
  margin-top: 5px;
  color: rgba(255, 159, 67, 1);
}

.earnings-info div {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  text-align: left;
}

.earnings-info div span {
  margin-top: 0px;
  font-size: 20px;
  font: Public Sans;
  color: rgba(75, 70, 92, 1);
}

.earnings-info div p {
  margin-top: 0px;
  font-size: 15px;
  font: Public Sans;
  color: rgb(95, 93, 102);
  width: 150px;
}

.dashboard-section:nth-child(3) {
  margin-left: auto;
  margin-top: -31.5%;
  margin-right: -2%;
}

.dashboard-section:nth-child(2) .container-footer-item .footer-amounts {
  display: flex;
  align-items: center; 
  justify-content: flex-end; 
}

.dashboard-section:nth-child(2) .container-footer-item .footer-amounts p.footer-label {
  margin: 0;  
}

.dashboard-section:nth-child(2) .container-footer-item .footer-amounts p,
.dashboard-section:nth-child(2) .container-footer-item .footer-amounts span {
  margin-left: auto;
  flex-direction: row;
}

.dashboard-section:nth-child(2) .container-footer-item .footer-amounts span {
  display: flex;
  margin-left: 10px;
  text-align: right;
  order: 2; 
}

.dashboard-section h3 {
  margin-top: 2%;
  margin-left: 3%;
  color: rgba(75, 70, 92, 1);
}

.dashboard-section p {
  margin-left: 3%;
  color: rgba(75, 70, 92, 1);
}

.content-row .content-item,
.content-row-3 .content-item-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
} 

.container-info-row-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin-left: 0%;
}

.container-info-row-3 span {
  margin-bottom: 5px; 
}

.container-info-row-3 p {
  margin-top: -5px; 
}

.content-porcentage-number {
  margin-left: auto;
  justify-content: flex-end;
}

.green-percentage {
  color: rgba(23, 189, 8, 0.8);
}

.red-percentage {
  color: rgba(255, 0, 0, 0.);
}

.container-inicial-dollar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.content-porcentage-number {
  margin-left: auto;
  text-align: right;
}

.container-footer {
  display: flex;
  justify-content: space-between;
}

/* Barra de progresso */
.progress-bar {
  height: 10px;
  width: 78px;
  display: flex;
  position: absolute;
  margin-left: 20%;
  background-color: #e0e0e0;
  overflow: hidden;
}

.progress-bar::before {
  content: '';
  height: 100%;
  width: 80%;
  background-color: #3498db;
  transition: width 0.3s ease;
  position: absolute;
}

.menu-icon{
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  margin-bottom: 120px;
}

@media (max-width: 768px) {
  .content-row .content-item,
  .content-row-3 .content-item-3 {
    flex: 0 0 100%;
  }
}
