$color1: #636363;
$color2: #f20000;
$color3: rgba(50, 50, 50, 0.5);
$color4: #fff;
$fontfamily1: sans-serif;
$backgroundcolor1: #fff;
$backgroundcolor2: #28C76F;
$backgroundcolor3: #7367F0;
$backgroundcolor4: #FF9F43;
$backgroundcolor5: #EA5455;

.calendarWrapper {
	overflow-x: none;
	display: flex !important;
	flex-direction: column;
	width: 97% !important;
	height: 770px !important;
	border: 1px solid #e9e9e9;
	background-color: $backgroundcolor1;
	font-family: $fontfamily1;
}

.containerLeft {
	width: 100%;
	max-width: 250px;
	height: 80vh;
}

.containerButton {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 7.5rem;
	border: 1px solid #e9e9e9;
}

.calendarHeader {
	display: flex;
	justify-content: space-between;
	height: 70px;
	border-bottom: 1px solid #e9e9e9;
	padding: 1;
}

.calendarDayOfWeek {
	display: flex;
	align-items: center;
	height: 5%;
	margin-bottom: 16px !important;
	border: 1px solid #e9e9e9;
	font-weight: 900;
}

.dayCell {
	box-sizing: border-box;
	overflow: hidden;
	position: relative;
	display: inline-block;
	width: 14.2857142857%;
	height: 6rem;
	border: #bababa 1px solid;
	text-align: left;
	cursor: pointer;
}

.weekRow {
	padding-right: 0 !important;
}

.dailyTimeLineWrapper {
	overflow-y: scroll;
	position: relative;
	height: 600px;
	border: #e9e9e9 1px solid;
}

.dailyHourText {
	display: inline-block;
	width: 50px;
	height: 100%;
	color: $color1;
	font-size: .8em;
	font-weight: 600;
	line-height: 20px;
}

.calendarHeaderButtons {
	overflow: auto;
	display: flex;
	justify-content: flex-end;
	margin: 7px 0;
	gap: 5px;
	color: $color2;
	font-size: 20px;
	
	button {
		&:nth-of-type(1) {
			float: right;
			border: #e9e9e998 1px solid;
			border-radius: 6px;
		}
	
		&:nth-of-type(2) {
			float: right;
			border: #e9e9e998 1px solid;
			border-radius: 6px;
		}
	}
}

.modeWrapper {
	text-align: center;
}

.modeButton {
	font-family: $fontfamily1;
	font-size: 16px;
	text-align: center;
}

.wrapperCalendar {
	overflow: hidden;
	display: flex;
	width: 94.5%;
	height: 100%;
	padding-left: 5.3rem;
}

.containerCalendar {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	gap: 4px;
}

.containerLabel {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 94%;
	margin-top: 3rem;
	padding: 20px;
	gap: 26px;
}

.label {
	color: $color3;
	font-family: $fontfamily1;
	font-size: 18px;
	font-weight: 400;
	text-align: flex-start;
}

.list {
	display: 'flex';
	align-items: 'center';
}

ul {
	display: flex;
	flex-direction: column;
	min-width: 126px;
	margin-left: -50px;
	list-style: none;
	font-family: $fontfamily1;
	
	li {
		&:first-child {
			display: inline-flex;
		}
	
		&:nth-child(2) {
			display: inline-flex;
		}
	
		&:nth-child(3) {
			display: inline-flex;
		}
	
		&:nth-child(4) {
			display: inline-flex;
		}
	}
}

li {
	justify-content: flex-start;
	align-items: center;
	margin: 0 0 5px;
	list-style: none;
	font-size: 15px;
	font-weight: 500;
	line-height: 1.5;
}

.span1 {
	width: 10px;
	height: 10px;
	margin-right: 10px;
	border-radius: 50%;
	background-color: $backgroundcolor2;
}

.span2 {
	width: 10px;
	height: 10px;
	margin-right: 10px;
	border-radius: 50%;
	background-color: $backgroundcolor3;
}

.span3 {
	width: 10px;
	height: 10px;
	margin-right: 10px;
	border-radius: 50%;
	background-color: $backgroundcolor4;
}

.span4 {
	width: 10px;
	height: 10px;
	margin-right: 10px;
	border-radius: 50%;
	background-color: $backgroundcolor5;
}

.iconPlus {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-top: 5px;
	margin-right: 10px;
	color: $color4;
}