.wrapp {
	overflow: hidden;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 1;
	grid-template-areas: "side content content content" "side content content content" "side content content content";
	height: 550px;
	padding: 5px;
}

.side {
	display: block;
	width: 100%;
	height: 100%;
	grid-area: side;
}

.content {
	width: 100%;
	background: #f4f6ff;
	grid-area: content;
}

.wrapper-box {
	width: 100%;
	padding-right: 80px;
	padding-left: 10px;
}