$color_1: #000;
$font-family_1: sans-serif;
$font-family_2: Public Sans;
$background-color_1: #ffffff;
$background-color_2: #4B465C29;

.wrapperHistory {
	position: absolute;
	background-color: $background-color_1;
	right: 5px;
	width: 400px;
	padding: 15px;
	height: 100%;
}
.formHistory {
	width: 100%;
	height: 100%;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 10px;
	display: inline-flex;
}
.containerHistory {
	align-self: stretch;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 2px;
	display: inline-flex;
	height: 75px;
	flex-direction: column;
	font-family: $font-family_1;
	text-transform: capitalize;
}
.inputHistory {
	align-self: stretch;
	background: rgb(242, 242, 242);
	border-radius: 6px;
	border: 1px #DBDADE solid;
	justify-content: flex-start;
	align-items: center;
	display: inline-flex;
	height: 60px;
	border-radius: 6px;
	text-align: justify;
	text-transform: uppercase;
}
input {
	height: inherit;
}
.spanTitle {
	flex: 1 1 0;
	color: $color_1;
	font-size: 13;
	font-family: $font-family_2;
	font-weight: 400;
	word-wrap: break-word;
	font-family: $font-family_1;
}
.buttonContainerHistory {
	gap: 16px;
	margin-top: 5px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.add {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
	font-family: $font-family_1;
}
.textTitle {
	font-size: 18px;
	font-weight: 600;
}
.btnClose {
	button {
		width: 30;
		height: 30;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid rgba(0, 0, 0, 0.075);
		border-width: 2px;
		border-radius: 4px;
		background-color: $background-color_2;
	}
}