$color_1: #ffffff;
$color_2: black;
$color_3: red;
$color_4: blue;
$color_5: white;
$background-color_1: black;
$background-color_2: rgba(253, 250, 102, 0.86);
$background-color_3: rgba(24, 24, 24, 0.872);
$background-color_4: rgba(253, 250, 102, 0.89);
$background-color_5: rgba(0, 0, 0, 0.833);

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $background-color_1;
}
.wrapperRecovery {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	background-color: $background-color_2;
	overflow-y: auto;
	padding: 0px;
}
.containerRecovery {
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $background-color_1;
	color: $color_1;
	flex-direction: column;
	padding: 5px 30px;
	border-radius: 10px;
	border-style: double;
	border: 3px solid rgb(251, 255, 0);
	max-width: 500px;
	z-index: 1;
}
.containerReset {
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $background-color_1;
	color: $color_1;
	flex-direction: column;
	padding: 40px 30px;
	border-radius: 10px;
	border-style: double;
	border: 3px solid rgb(251, 255, 0);
	max-width: 500px;
	z-index: 1;
}
.divFaixa {
	background-color: $background-color_3;
	width: 100%;
	height: 150px;
	position: fixed;
	top: 80px;
}
.container {
	display: flex;
	align-items: center;
	background-color: $background-color_2;
	flex-direction: column;
	padding: 30px;
	border-radius: 3px;
	border-style: double;
	border: 3px solid rgb(251, 255, 0);
	max-width: 500px;
}
.title {
	font-size: 2rem;
	lighting-color: #ffffff;
}
.titleReset {
	font-size: 2rem;
	lighting-color: #ffffff;
	margin: -50px auto 10px auto;
}
.form {
	background: #ffffff70;
	border-radius: .5em;
	padding: 20px;
	margin: auto;
	justify-content: center;
	display: flex;
	flex-direction: column;
	max-width: 300px;
}
.formRecovery {
	background-color: $background-color_4;
	border: 3px solid rgb(251, 255, 0);
	border-radius: .5em;
	padding: 20px;
	justify-content: center;
	display: flex;
	flex-direction: column;
	max-width: 400px;
	width: 100%;
	color: $color_2;
	font-weight: 700;
}
.formReset {
	background-color: $background-color_4;
	border: 3px solid rgb(251, 255, 0);
	border-radius: .5em;
	padding: 20px 0px 20px 0px;
	justify-content: center;
	display: flex;
	flex-direction: column;
	max-width: 400px;
	width: 100%;
	color: $color_2;
	font-weight: 700;
}
.textRecovery {
	display: flex;
	justify-content: center;
	text-align: center;
	font: italic 300 15px/130% Arial;
	word-break: keep-all;
	line-break: break-all;
	padding: 50px;
}
.textReset {
	display: block;
	position: relative;
	justify-content: center;
	text-align: center;
	font: italic 800 15px/130% Arial;
	word-break: keep-all;
	line-break: break-all;
	padding: 20px 0px 10px 0px;
	z-index: 9;
	left: 5px;
	color: $color_3;
}
.inputGroup {
	display: flex;
	margin-bottom: 14px;
	padding: 3px;
	align-items: flex-end;
}
.input {
	width: 100%;
	border-radius: 3px;
	height: 1.5rem;
	align-items: flex-end;
	display: flex;
}
.inputGroupResetSenha {
	display: flex;
	margin-bottom: 14px;
	padding: 3px 50px 3px 50px;
	align-items: flex-end;
	justify-content: center;
}
.inputResetSenha {
	width: 100%;
	border-radius: 5px;
	height: 2rem;
	align-items: flex-end;
	display: flex;
	justify-content: flex-end;
	position: relative;
	padding-left: 5px;
	text-align: justify;
	vertical-align: bottom;
}
.labelPassword {
	margin-right: 5%;
}
.labelEmail {
	margin-right: 8%;
}
.inputLabel {
	margin-right: 15%;
}
.inputLabelPassWord {
	margin-right: 15%;
}
.iconContainer {
	cursor: pointer;
	display: flex;
	justify-content: center;
	height: 30px;
	align-items: center;
}
.iconEye {
	cursor: pointer;
	display: flex;
	justify-content: flex-end;
	height: 30px;
	width: 30px;
	margin-right: 5px;
}
[data-theme="dark"] {
	.inputGroup {
		display: flex;
		margin-bottom: 14px;
		padding: 3px;
		align-items: flex-end;
	}
}
[data-theme="light"] {
	.inputGroup {
		display: flex;
		margin-bottom: 14px;
		padding: 3px;
		align-items: flex-end;
	}
}
.containerRemember {
	display: flex;
	justify-content: flex-start;
	margin-top: 30px;
	margin-left: -5px;
}
.btnContainer {
	display: block;
	margin-top: 10px;
}
.forgotPass {
	font-size: small;
	display: flex;
	justify-content: flex-end;
	margin-top: 20px;
	color: $color_4;
}
.btnEntrar {
	width: 100%;
	background-color: $background-color_5;
	color: $color_5;
	padding: 8px;
	border-radius: 4px;
	cursor: pointer;
	&:hover {
		background-color: $background-color_1;
	}
}
.btnContainerRecovery {
	display: flex;
	margin-top: 20px;
	justify-content: center;
}
.btnEntrarRecovery {
	width: 50%;
	background-color: $background-color_5;
	color: $color_5;
	padding: 8px;
	border-radius: 4px;
	cursor: pointer;
	&:hover {
		background-color: $background-color_1;
	}
}